<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Color" Level="1">
  <Info>
    <Name>Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "0d6efd",
      "label": "blue"
    },
    {
      "value": "6f42c1",
      "label": "purple"
    },
    {
      "value": "6610f2",
      "label": "indigo"
    },
    {
      "value": "d63384",
      "label": "pink"
    },
    {
      "value": "dc3545",
      "label": "red"
    },
    {
      "value": "198754",
      "label": "green"
    },
    {
      "value": "20c997",
      "label": "teal"
    },
    {
      "value": "0dcaf0",
      "label": "cyan"
    },
    {
      "value": "000000",
      "label": "black"
    },
    {
      "value": "ffffff",
      "label": "white"
    },
    {
      "value": "6c757d",
      "label": "gray"
    },
    {
      "value": "ff7f50",
      "label": "coral"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>