<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Color" Level="1">
  <Info>
    <Name>Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "label": "--bs-blue-rgb",
      "value": "0d6efd"
    },
    {
      "label": "--bs-purple-rgb",
      "value": "6f42c1"
    },
    {
      "label": "--bs-indigo-rgb",
      "value": "6610f2"
    },
    {
      "label": "--bs-pink-rgb",
      "value": "d63384"
    },
    {
      "label": "--bs-red-rgb",
      "value": "dc3545"
    },
    {
      "label": "--bs-green-rgb",
      "value": "198754"
    },
    {
      "label": "--bs-teal-rgb",
      "value": "20c997"
    },
    {
      "label": "--bs-cyan-rgb",
      "value": "0dcaf0"
    },
    {
      "label": "--bs-black-rgb",
      "value": "000000"
    },
    {
      "label": "--bs-white-rgb",
      "value": "ffffff"
    },
    {
      "label": "--bs-gray-rgb",
      "value": "6c757d"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>