<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ee449a1-6b87-42c2-b611-8fd082b67bad" Alias="Feature - Internal Links - Links - Multinode Treepicker" Level="1">
  <Info>
    <Name>Feature - Internal Links - Links - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": null,
  "ignoreUserStartNodes": false,
  "maxNumber": 0,
  "minNumber": 0,
  "showOpen": false,
  "treeSource": {
    "id": "umb://document/d5b1563ddb6b42bcb4bf950f33894ad2",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>