<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d08d7a0e-321d-4986-a191-7cc3adb819e1" Alias="Feature Component - Tabs - Feature Property Tabs - Block List" Level="1">
  <Info>
    <Name>Feature Component - Tabs - Feature Property Tabs - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0bee73a9-b636-480c-8584-2ed43c645751",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{featurePropertyTabTitle}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "maxPropertyWidth": null,
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>