<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c422ac53-3f46-46d7-b9d0-7057fb460bfb" Alias="Layout Settings Component - Color Picker - layoutSettingsColourOpacity - Slider" Level="1">
  <Info>
    <Name>Layout Settings Component - Color Picker - layoutSettingsColourOpacity - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 1,
  "initVal2": 1,
  "maxVal": 1,
  "minVal": 0,
  "step": 0.125
}]]></Config>
</DataType>