<?xml version="1.0" encoding="utf-8"?>
<Media Key="57135df9-f814-4c6b-91c4-9633f5135734" Alias="Backgrounds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Backgrounds</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-08T13:32:25</CreateDate>
    <NodeName Default="Backgrounds" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties />
</Media>