<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c129d5b-2257-4bcd-899b-25030ebf552f" Alias="Child Page 04" Level="2">
  <Info>
    <Parent Key="97315b43-35d2-43e3-bf26-06741160e2d2">Child Pages</Parent>
    <Path>/ChildPages/ChildPage04</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-09T07:31:51</CreateDate>
    <NodeName Default="Child Page 04" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lwobedcx/child-04.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>