<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0099765-da66-4d13-9346-4dc39827f87c" Alias="Child Page 01" Level="2">
  <Info>
    <Parent Key="97315b43-35d2-43e3-bf26-06741160e2d2">Child Pages</Parent>
    <Path>/ChildPages/ChildPage01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-09T07:31:54</CreateDate>
    <NodeName Default="Child Page 01" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/molbt2dg/child-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>