<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac27331f-d36b-435e-a4ef-e2ce29dbf6bf" Alias="Codegarden 2025" Level="2">
  <Info>
    <Parent Key="6a3139b8-a44f-4804-b641-5d4c766569a9">Miscellaneous</Parent>
    <Path>/Miscellaneous/Codegarden2025</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-03-24T13:08:21</CreateDate>
    <NodeName Default="Codegarden 2025" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[Codegarden 2025]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyDescription>
      <Value><![CDATA[Codegarden 2025]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyTitle>
      <Value><![CDATA[Codegarden 2025]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [
    {
      "alias": "content3Col",
      "width": 380,
      "height": 214,
      "coordinates": null
    },
    {
      "alias": "content6Col",
      "width": 776,
      "height": 437,
      "coordinates": null
    },
    {
      "alias": "content9Col",
      "width": 1172,
      "height": 659,
      "coordinates": null
    },
    {
      "alias": "content12Col",
      "width": 1568,
      "height": 882,
      "coordinates": null
    },
    {
      "alias": "social",
      "width": 1200,
      "height": 630,
      "coordinates": null
    }
  ],
  "src": "/media/ipynx0tg/codegarden-2025.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>