<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0939311-31e9-46c0-98b7-5e01bf4d252e" Alias="Feature - Tabs - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureTabsIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T12:08:01</CreateDate>
    <NodeName Default="Feature - Tabs - Icon" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ecjjh2hj/thumbnails-icons-feature-tabs.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>