<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b0ff6b8-b957-4095-bdb9-e4198520f36a" Alias="Feature - FAQs - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureFAQsIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T11:09:36</CreateDate>
    <NodeName Default="Feature - FAQs - Icon" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rh1a4s0x/thumbnails-icons-feature-faqs.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>