<?xml version="1.0" encoding="utf-8"?>
<Media Key="6776301c-67fb-445d-8d0e-3058b5beb824" Alias="Feature - Page - Title and Description" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeaturePageTitleAndDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-07T14:22:03</CreateDate>
    <NodeName Default="Feature - Page - Title and Description" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fuyhmz51/thumbnails-icons-feature-page-title-and-description.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>