<?xml version="1.0" encoding="utf-8"?>
<Media Key="70a55b90-5f78-4042-878f-0c54ff85c8e5" Alias="Feature - Image" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-07T20:05:50</CreateDate>
    <NodeName Default="Feature - Image" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sznlk2dy/feature-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>