<?xml version="1.0" encoding="utf-8"?>
<Media Key="eed0ba02-e318-4f78-9668-2293628c8f49" Alias="Feature - Internal Links - Children - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureInternalLinksChildrenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T07:59:47</CreateDate>
    <NodeName Default="Feature - Internal Links - Children - Icon" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/go3nb1qy/thumbnails-icons-internal-links-children.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>