<?xml version="1.0" encoding="utf-8"?>
<Media Key="54629230-a4a2-4567-8575-04596a39830b" Alias="Feature - Navigation - In Page - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureNavigationInPageIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-13T09:49:44</CreateDate>
    <NodeName Default="Feature - Navigation - In Page - Icon" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/agjgevfc/thumbnails-icons-navigation-in-page.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>