<?xml version="1.0" encoding="utf-8"?>
<Media Key="d328e5c1-f378-4277-8b7a-13c8074b2af5" Alias="Feature - Internal Links - Pagination - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureInternalLinksPaginationIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T10:44:44</CreateDate>
    <NodeName Default="Feature - Internal Links - Pagination - Icon" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4dsdru1y/thumbnails-icons-internal-links-pagination.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>