<?xml version="1.0" encoding="utf-8"?>
<Media Key="b934abd1-b6cd-4c51-9506-4c356609a1b6" Alias="Feature - Image - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureImageIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T09:57:39</CreateDate>
    <NodeName Default="Feature - Image - Icon" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2cvdjoon/thumbnails-icons-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>