<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ff7d08b-8bb0-4ed3-9595-6a9bc09615cd" Alias="Feature - HTML - Example" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureHTMLExample</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-12-04T06:56:56</CreateDate>
    <NodeName Default="Feature - HTML - Example" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rxipph3q/feature-html-example.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>