<?xml version="1.0" encoding="utf-8"?>
<Media Key="3450f06a-eb3d-4706-b4ed-c9977dab5417" Alias="Feature - Form - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureFormIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T12:11:17</CreateDate>
    <NodeName Default="Feature - Form - Icon" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lpyfanb3/thumbnails-icons-form.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>