<?xml version="1.0" encoding="utf-8"?>
<Media Key="be3c606f-eaae-4534-9e9e-929984665f47" Alias="Feature - HTML - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureHTMLIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-01-07T13:34:55</CreateDate>
    <NodeName Default="Feature - HTML - Icon" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lzqdzpvo/thumbnails-icons-html.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>