<?xml version="1.0" encoding="utf-8"?>
<Media Key="e27aa347-f148-422f-9b5b-ad71a0c42c6b" Alias="Feature - Page Title and Description - Example" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeaturePageTitleAndDescriptionExample</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-01-08T09:27:50</CreateDate>
    <NodeName Default="Feature - Page Title and Description - Example" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/igrhvysi/feature-page-title-and-description.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>