<?xml version="1.0" encoding="utf-8"?>
<Media Key="7133afa3-42e0-4442-bac5-9e6bf16537fb" Alias="Feature - Navigation - Nested Descendants - Example" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureNavigationNestedDescendantsExample</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-08T20:17:39</CreateDate>
    <NodeName Default="Feature - Navigation - Nested Descendants - Example" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/uwxdg2pa/feature-navigation-nested-descendants-example.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>