<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8110340-373d-46d7-91e8-a7ff1b78394b" Alias="Feature - Internal Links - Pagination" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureInternalLinksPagination</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-12T15:43:05</CreateDate>
    <NodeName Default="Feature - Internal Links - Pagination" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/iybbd0b3/feature-internal-links-pagination-example.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>