<?xml version="1.0" encoding="utf-8"?>
<Media Key="165555fc-1e85-4d36-ac44-7e2122c61f63" Alias="Feature - HTML - Icons" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/FeatureHTMLIcons</Path>
    <Trashed Parent="d8103e91-2b3c-4e77-bc26-9461b513a5c4">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T10:09:06</CreateDate>
    <NodeName Default="Feature - HTML - Icons" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zvkfkfuf/thumbnails-icons-html.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>