<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8acb0d7-dce4-4bd1-8b0d-b94352aa9afd" Alias="Feature - Tabs - Tab Two" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureTabsTabTwo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:29</CreateDate>
    <NodeName Default="Feature - Tabs - Tab Two" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0gykzwhe/feature-tab-02.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>