<?xml version="1.0" encoding="utf-8"?>
<Media Key="2deddc14-3189-491a-a33f-6fd0df38ee12" Alias="Feature - Navigation - Nested Descendants - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureNavigationNestedDescendantsIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T10:27:34</CreateDate>
    <NodeName Default="Feature - Navigation - Nested Descendants - Icon" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/exoo0lmj/thumbnails-icons-navigation-nested-descendants.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>