<?xml version="1.0" encoding="utf-8"?>
<Media Key="993da213-e447-47b8-92f0-8d70beb9b399" Alias="Layouts" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Layouts</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-09T07:37:19</CreateDate>
    <NodeName Default="Layouts" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties />
</Media>