<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f20975b-a2f0-4623-9976-9d287335680f" Alias="Layout 3Nav 6 3" Level="2">
  <Info>
    <Parent Key="993da213-e447-47b8-92f0-8d70beb9b399">Layouts</Parent>
    <Path>/Layouts/Layout3Nav63</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-19T07:54:46</CreateDate>
    <NodeName Default="Layout 3Nav 6 3" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nklda55q/layout-3nav-6-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>