<?xml version="1.0" encoding="utf-8"?>
<Media Key="48ba4a59-8d2c-4efe-9d2e-1abd37abcbcb" Alias="Logo Symbol Bootstrap" Level="2">
  <Info>
    <Parent Key="2dd0d0eb-076a-4ffa-8e79-47c4ac84d612">Logos</Parent>
    <Path>/Logos/LogoSymbolBootstrap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T09:12:59</CreateDate>
    <NodeName Default="Logo Symbol Bootstrap" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nbflusbm/logo-symbol-bootstrap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>