<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa17400e-b8ad-49c5-b20c-5d1eef6832e4" Alias="Logo Symbol Umbraco" Level="2">
  <Info>
    <Parent Key="2dd0d0eb-076a-4ffa-8e79-47c4ac84d612">Logos</Parent>
    <Path>/Logos/LogoSymbolUmbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T09:07:07</CreateDate>
    <NodeName Default="Logo Symbol Umbraco" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h3abpkvn/logo-symbol-umbraco.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>