<?xml version="1.0" encoding="utf-8"?>
<Media Key="72a5f2a4-0cb1-4e9f-9d56-baf0c5ac943c" Alias="Thumbnails - Icons - TOC.svg" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/ThumbnailsIconsTOCsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-15T17:29:51</CreateDate>
    <NodeName Default="Thumbnails - Icons - TOC.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sxzkk2vr/thumbnails-icons-toc.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>