<?xml version="1.0" encoding="utf-8"?>
<Media Key="68110d73-6622-4991-a164-9e4f3e626e01" Alias="xxxxxxxxx" Level="2">
  <Info>
    <Parent Key="20bc0aba-dbe8-40d3-98bd-6e7b13cda4ca">Example Section</Parent>
    <Path>/ExampleSection/xxxxxxxxx</Path>
    <Trashed>false</Trashed>
    <ContentType>imageResponsive</ContentType>
    <CreateDate>2026-03-24T11:26:55</CreateDate>
    <NodeName Default="xxxxxxxxx" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <mediaPropertyAltText>
      <Value><![CDATA[]]></Value>
    </mediaPropertyAltText>
    <mediaPropertyDescription>
      <Value><![CDATA[]]></Value>
    </mediaPropertyDescription>
    <mediaPropertyTitle>
      <Value><![CDATA[]]></Value>
    </mediaPropertyTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/f5hp0lrp/home-banner1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>