@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbNav.Core.Models
@using UmbNav.Core.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = null;
}

<section>
    @RenderBody()
    xxxxxxxxxxxxxxxx
</section>