@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@using Umbraco.Cms.Core.PropertyEditors;

@{
    Layout = null;
}

@{
    if (Model?.Areas.Any() != true) { return; }

    var hasSettings = Model.Settings != null;
    var backgroundColour = hasSettings ? Model.Settings.Value<ColorPickerValueConverter.PickedColor>("layoutSettingsColourPicker") : null;
    var colorLabel = backgroundColour?.Label;

    var colorShades = hasSettings ? Model.Settings.Value<decimal>("layoutSettingsColourShades") : (decimal?)null;
}

@{
    string styleAttribute = "";
    if (hasSettings && backgroundColour != null)
    {
        styleAttribute = $"background-color: var({colorLabel}";
        if (colorShades.HasValue)
        {
            styleAttribute += $"-{colorShades});";
        }
    }
}
<div class="layout py-3" style="@styleAttribute" data-block-alias="@Model.Content.ContentType.Alias">
    @RenderBody()
</div>