@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    Layout = null;
}

<section class="feature")>
    <header class="feature__header">
        <h2>Feature Title</h2>
        <p class="lead">Feature Description</p>
    </header>
    <div class="feature__body">
        @RenderBody()
    </div>
    <footer class="feature__footer">
        <p>Feature Summary</p>
    </footer>
</section>