@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<FeatureInternalLinks>>

@{
    Layout = "_Layout_Features.cshtml";
    var typedMultiNodeTreePicker = Model.Content.Links?.Where(c => c is IContentHeadingDefault);
}

@if (typedMultiNodeTreePicker != null && typedMultiNodeTreePicker.Any())
{
    <div class="grid">
        @foreach (var item in typedMultiNodeTreePicker)
        {
            var page = (IContentHeadingDefault)item;
            var pageThumbnail = page.PageThumbnail;
            <div class="g-col-12 g-col-md-6 g-col-lg-4">
                <div class="card h-100 shadow">
                    @if (pageThumbnail is not null)
                    {
                        <img src="@(pageThumbnail.GetCropUrl(width: 480))" class="card-img-top" alt="...">
                    }
                    <div class="card-body text-center">
                        <h3 class="card-title pb-1">
                            <a class="stretched-link"
                               href="@item.Url()">@page.PageTitleShort</a>
                        </h3>
                        <p class="card-text pb-2">@page.PageDescription</p>
                    </div>
                </div>
            </div>
        }
    </div>
}