@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    Layout = "_Layout_Features.cshtml";
}

<div class="grid">
    @{
        var count = 0;
        var maxItems = 6;
        var typedMultiNodeTreePicker = Model.Content.Value<IEnumerable<IPublishedContent>>("links");
    }
    @if (typedMultiNodeTreePicker != null)
    {
        @foreach (var item in typedMultiNodeTreePicker)
        {
            if (count == maxItems)
            {
                break;
            }
            count++;
            <div class="g-col-12 g-col-md-6 g-col-lg-4">
                <div class="card h-100 shadow">
                    @if (item.Value<IPublishedContent>("pageThumbnail") != null)
                    // if image is not null, display image
                    {
                        <img src="@(item.Value<IPublishedContent>("pageThumbnail").GetCropUrl(width:480))" class="card-img-top" alt="...">
                    }
                    <div class="card-body">
                        <h5 class="card-title pb-1"><a class="nav-link stretched-link" href="@item.Url()">@item.Value("pageTitle")</a></h5>
                        <p class="card-text pb-2">@item.Name</p>
                    </div>
                </div>
            </div>
        }
    }
</div>


