@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    Layout = "_Layout_Features.cshtml";
    // Get the current page
    if(Umbraco.AssignedContentItem is not IContentHeadingDefault currentPage) return;
}

<div class="container p-3 mt-3 d-flex justify-content-center">
    <div class="w-75 text-center">
        <h1 class="display-4">@currentPage.PageTitle</h1>
        <p class="lead">@currentPage.PageDescription</p>
    </div>
</div>
