@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

<p>xxxxxxxx</p>

@{
    var typedMultiNodeTreePicker = Model.Content.Value<IEnumerable<IPublishedContent>>("links");
    if (typedMultiNodeTreePicker != null)
    {
        foreach (var item in typedMultiNodeTreePicker)
        {
            <p>
                <a href="@item.Url()">@item.Name</a>
            </p>
        }
    }
}

<p>bbbbbb</p>