@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<FeatureInternalLinks>>

@{
    Layout = "_Layout_Features.cshtml";
    var typedMultiNodeTreePicker = Model.Content.Links?.Cast<WebPage>();
}

<div class="grid">
    @if (typedMultiNodeTreePicker != null)
    {
        @foreach (var item in typedMultiNodeTreePicker)
        {
            var pageThumbnail = item.PageThumbnail;
            <div class="g-col-12 g-col-md-6 g-col-lg-4">
                <div class="card h-100 shadow">
                    @if (pageThumbnail is not null)
                    {
                        <img src="@(pageThumbnail.GetCropUrl(width: 480))" class="card-img-top" alt="...">
                    }
                    <div class="card-body text-center">
                        <h3 class="card-title pb-1">
                            <a class="stretched-link"
                               href="@item.Url()">@item.PageTitle</a>
                        </h3>
                        <p class="card-text pb-2">@item.PageDescription</p>
                    </div>
                </div>
            </div>
        }
    }
</div>