@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SiteSettings>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
}

<footer b-ss9879bxrr class="bg-white footer text-muted">
    <div b-ss9879bxrr class="container">
        <p>Special thanks to <a href="https://my.umbhost.net/aff.php?aff=1535">Umbhost</a> and <a href="https://wholething.co.uk/">Wholething</a></p>
        <p>&copy; @DateTime.Now.Year - @Model.Copyright</p>
    </div>
</footer>