@using UmbNav.Core.Models
@using UmbNav.Core.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;

    var siteSettings = UmbracoContext.Content.GetSingleByXPath("//siteSettings");
}


<header class="screen--header sticky-top shadow-b bg-light pb-1">
    <nav class="container-xxl navbar navbar-nav navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="~/assets/logo-umbootstrap.svg" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" id="navbarNav">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">In this site</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-flex justify-content-lg-end">


                    <ul class="navbar-nav nav-pills flex-grow-1 flex-lg-grow-0 gap-3">
                        @foreach (var menuItem in siteSettings.Value<IEnumerable<UmbNavItem>>("mainNavigation"))
                        {
                            <li class="nav-item text-center">
                                <a class="nav-link @Html.If(menuItem.IsActive(Model,true), "active")" href="@menuItem.Url()" target="@menuItem.Target">@menuItem.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>