<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Approved Color" Level="1">
  <Info>
    <Name>Approved Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"0d6efd\",\"label\":\"--bs-blue-rgb\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"6f42c1\",\"label\":\"--bs-purple-rgb\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"6610f2\",\"label\":\"--bs-indigo-rgb\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"d63384\",\"label\":\"--bs-pink-rgb\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"dc3545\",\"label\":\"--bs-red-rgb\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"198754\",\"label\":\"--bs-green-rgb\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"20c997\",\"label\":\"--bs-teal-rgb\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"0dcaf0\",\"label\":\"--bs-cyan-rgb\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"000000\",\"label\":\"--bs-black-rgb\"}"
    },
    {
      "id": 10,
      "value": "{\"value\":\"ffffff\",\"label\":\"--bs-white-rgb\"}"
    },
    {
      "id": 11,
      "value": "{\"value\":\"6c757d\",\"label\":\"--bs-gray-rgb\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>