<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03f68877-0168-46df-8689-d5d2a486edc8" Alias="_Content Heading Default - Page Description - Textarea" Level="1">
  <Info>
    <Name>_Content Heading Default - Page Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 155,
  "Rows": 3
}]]></Config>
</DataType>