<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9490ca3c-7a5e-4be3-aa73-712136b2a5a1" Alias="_Content Grid Default - Content - Block Grid" Level="1">
  <Info>
    <Name>_Content Grid Default - Content - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "name": "Layout Blocks"
    },
    {
      "key": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "name": "Feature Blocks"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "6primary xxx yyy",
          "columnSpan": 6,
          "createLabel": null,
          "key": "bd7045ce-845c-4365-9bc7-f65b9a227995",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "6secondary",
          "columnSpan": 6,
          "createLabel": null,
          "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "Tertiary p-3 text-bg-info g-col-md-6 g-col-lg-3",
          "columnSpan": 4,
          "createLabel": "Tertiary Content",
          "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "Primary bg-primary p-3 g-col-md-6 g-col-lg-6",
          "columnSpan": 4,
          "createLabel": "Primary Content",
          "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "Secondary p-3 text-bg-warning g-col-md-12 g-col-lg-3",
          "columnSpan": 4,
          "createLabel": null,
          "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "3db256d9-ff75-41a7-b5b4-f1fcaec92458",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>