<?xml version="1.0" encoding="utf-8"?>
<DataType Key="851d5c2a-3355-4884-a8bb-c74e1fecbcf4" Alias="Feature Component - Tab - Feature Property Tab Title - Textbox" Level="1">
  <Info>
    <Name>Feature Component - Tab - Feature Property Tab Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>