<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ee449a1-6b87-42c2-b611-8fd082b67bad" Alias="Feature - Internal Links - Links - Multinode Treepicker" Level="1">
  <Info>
    <Name>Feature - Internal Links - Links - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/d5b1563ddb6b42bcb4bf950f33894ad2",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>