<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5dfe5dfe-e561-4f1a-ab7a-0d13f44bacd6" Alias="Layout Settings Component - Background Color - Areas Background Colour - Color Picker" Level="1">
  <Info>
    <Name>Layout Settings Component - Background Color - Areas Background Colour - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"0d6efd\",\"label\":\"text-bg-primary\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"6c757d\",\"label\":\"text-bg-secondary\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"198754\",\"label\":\"text-bg-success\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"dc3545\",\"label\":\"text-bg-danger\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"ffc107\",\"label\":\"text-bg-warning\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"0dcaf0\",\"label\":\"text-bg-info\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"f8f9fa\",\"label\":\"text-bg-light\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"212529\",\"label\":\"text-bg-dark\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>