<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5dfe5dfe-e561-4f1a-ab7a-0d13f44bacd6" Alias="Layout Settings Component - Background Color - Areas Background Colour - Color Picker" Level="1">
  <Info>
    <Name>Layout Settings Component - Background Color - Areas Background Colour - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"0d6efd\",\"label\":\"text-bg-primary\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>