<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c422ac53-3f46-46d7-b9d0-7057fb460bfb" Alias="Layout Settings Component - Color Picker - layoutSettingsColourOpacity - Slider" Level="1">
  <Info>
    <Name>Layout Settings Component - Color Picker - layoutSettingsColourOpacity - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 1.0,
  "InitialValue2": 1.0,
  "MaximumValue": 1.0,
  "MinimumValue": 0.0,
  "StepIncrements": 0.125
}]]></Config>
</DataType>