<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18924646-4e3c-4e34-8c12-5078e818a484" Alias="Layout Settings Component - Color Picker - layoutSettingsColourShades - Slider" Level="1">
  <Info>
    <Name>Layout Settings Component - Color Picker - layoutSettingsColourShades - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 500.0,
  "InitialValue2": 500.0,
  "MaximumValue": 900.0,
  "MinimumValue": 100.0,
  "StepIncrements": 100.0
}]]></Config>
</DataType>