<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65d5e866-a030-4721-b9f4-6703da140016" Alias="Site Settings - Main Navigation - UmbNav" Level="1">
  <Info>
    <Name>Site Settings - Main Navigation - UmbNav</Name>
    <EditorAlias>AaronSadler.UmbNav</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "AllowCustomClasses": false,
  "AllowDisplay": false,
  "AllowDisplayAsLabel": false,
  "AllowImageIcon": false,
  "AllowLabels": false,
  "ExpandOnHover": true,
  "ExpandOnHoverTimeout": 500,
  "HideIncludeChildren": false,
  "HideLabel": false,
  "HideNoopener": false,
  "HideNoreferrer": false,
  "MaxDepth": 2,
  "RemoveNaviHideItems": true,
  "ShowTopAddButton": true
}]]></Config>
</DataType>