<?xml version="1.0" encoding="utf-8"?>
<Media Key="66f33e04-5161-433f-8703-1918ff919485" Alias="Bluetooth White Keyboard" Level="2">
  <Info>
    <Parent Key="57135df9-f814-4c6b-91c4-9633f5135734">Backgrounds</Parent>
    <Path>/Backgrounds/BluetoothWhiteKeyboard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-29T07:37:13</CreateDate>
    <NodeName Default="Bluetooth White Keyboard" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ai5pgztb/bluetooth-white-keyboard.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>