<?xml version="1.0" encoding="utf-8"?>
<Media Key="bac916ee-6e4c-4c33-bc5a-6fa6e0abc9b6" Alias="Child Page 06" Level="2">
  <Info>
    <Parent Key="97315b43-35d2-43e3-bf26-06741160e2d2">Child Pages</Parent>
    <Path>/ChildPages/ChildPage06</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-09T07:31:52</CreateDate>
    <NodeName Default="Child Page 06" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3almtosm/child-06.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>