<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d9c947b-c770-453f-8529-fd8d2d119c9b" Alias="Child Page 07" Level="2">
  <Info>
    <Parent Key="97315b43-35d2-43e3-bf26-06741160e2d2">Child Pages</Parent>
    <Path>/ChildPages/ChildPage07</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-09T07:31:52</CreateDate>
    <NodeName Default="Child Page 07" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pwkjzdlq/child-07.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>