<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c648013-257c-4aa7-b6a3-e91d4eb9288a" Alias="Child Page 05" Level="2">
  <Info>
    <Parent Key="97315b43-35d2-43e3-bf26-06741160e2d2">Child Pages</Parent>
    <Path>/ChildPages/ChildPage05</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-09T07:31:53</CreateDate>
    <NodeName Default="Child Page 05" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cwagjhd2/child-05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>