<?xml version="1.0" encoding="utf-8"?>
<Media Key="35db249a-954c-47af-b8d0-db6c94236c20" Alias="Child Page 09" Level="2">
  <Info>
    <Parent Key="97315b43-35d2-43e3-bf26-06741160e2d2">Child Pages</Parent>
    <Path>/ChildPages/ChildPage09</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-09T07:31:53</CreateDate>
    <NodeName Default="Child Page 09" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tqsnwnkm/child-09.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>