<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c46622c-62fc-4079-9684-a507ea32d193" Alias="Child Page 08" Level="2">
  <Info>
    <Parent Key="97315b43-35d2-43e3-bf26-06741160e2d2">Child Pages</Parent>
    <Path>/ChildPages/ChildPage08</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-09T07:31:52</CreateDate>
    <NodeName Default="Child Page 08" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fjremxh2/child-08.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>