<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5c3d185-e395-4d83-993a-d6cd62d0f03a" Alias="Child Page 12" Level="2">
  <Info>
    <Parent Key="97315b43-35d2-43e3-bf26-06741160e2d2">Child Pages</Parent>
    <Path>/ChildPages/ChildPage12</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-09T07:31:54</CreateDate>
    <NodeName Default="Child Page 12" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qpinhvmv/child-12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>