<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5645c7e-33a0-4e87-ac95-6d14b64071d8" Alias="Editor Image" Level="2">
  <Info>
    <Parent Key="6a3139b8-a44f-4804-b641-5d4c766569a9">Miscellaneous</Parent>
    <Path>/Miscellaneous/EditorImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T07:02:34</CreateDate>
    <NodeName Default="Editor Image" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pbogjjna/editor-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>