<?xml version="1.0" encoding="utf-8"?>
<Media Key="d93d87de-f097-4b8d-b782-3f9b7f5299cd" Alias="Example Page 03" Level="2">
  <Info>
    <Parent Key="20bc0aba-dbe8-40d3-98bd-6e7b13cda4ca">Example Section</Parent>
    <Path>/ExampleSection/ExamplePage03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:30</CreateDate>
    <NodeName Default="Example Page 03" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1cdd1wmx/example-page-03.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>