<?xml version="1.0" encoding="utf-8"?>
<Media Key="f99ea450-71f3-4d21-ae94-0cc5e9e4848b" Alias="Example Page 01" Level="2">
  <Info>
    <Parent Key="20bc0aba-dbe8-40d3-98bd-6e7b13cda4ca">Example Section</Parent>
    <Path>/ExampleSection/ExamplePage01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:29</CreateDate>
    <NodeName Default="Example Page 01" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k0sj34pt/example-page-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>