<?xml version="1.0" encoding="utf-8"?>
<Media Key="83b8c642-1d0f-42b9-8ec1-8efb30b5fdc2" Alias="Example Page 05" Level="2">
  <Info>
    <Parent Key="20bc0aba-dbe8-40d3-98bd-6e7b13cda4ca">Example Section</Parent>
    <Path>/ExampleSection/ExamplePage05</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-01T15:54:07</CreateDate>
    <NodeName Default="Example Page 05" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/itdlrayp/example-page-05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>