<?xml version="1.0" encoding="utf-8"?>
<Media Key="fddf9a5a-99a9-4e87-9a4d-abb6eeeefd58" Alias="Feature - Rich Text Editor" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureRichTextEditor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-07T20:02:51</CreateDate>
    <NodeName Default="Feature - Rich Text Editor" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lsnn55nj/rich-text-editor.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>