<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd5c3044-32d5-44f0-8fae-17a932537036" Alias="Feature - Form - Contact Us" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureFormContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-15T14:43:33</CreateDate>
    <NodeName Default="Feature - Form - Contact Us" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iiyfzxov/contact-us.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>