<?xml version="1.0" encoding="utf-8"?>
<Media Key="8329cabe-d4de-4530-9e04-0439a7237b22" Alias="Feature - HTML" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureHTML</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-12T16:34:15</CreateDate>
    <NodeName Default="Feature - HTML" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xdfcta44/html.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>