<?xml version="1.0" encoding="utf-8"?>
<Media Key="65344222-8938-4532-922b-ce9d0368e0a9" Alias="Feature - Tabs" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureTabs</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-15T14:43:34</CreateDate>
    <NodeName Default="Feature - Tabs" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/erbdizjy/tabs.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>