<?xml version="1.0" encoding="utf-8"?>
<Media Key="7abc7636-2e3f-4983-aa5e-ffceca041f54" Alias="Feature - Code" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureCode</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-12T22:46:57</CreateDate>
    <NodeName Default="Feature - Code" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gb1ly4r5/code.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>