<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4" Alias="Features" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Features</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-09T07:37:49</CreateDate>
    <NodeName Default="Features" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties />
</Media>