<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcba1793-7f32-4ac4-bcee-da6d6fc69c08" Alias="Layout 3Nav 9" Level="2">
  <Info>
    <Parent Key="993da213-e447-47b8-92f0-8d70beb9b399">Layouts</Parent>
    <Path>/Layouts/Layout3Nav9</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-19T07:54:46</CreateDate>
    <NodeName Default="Layout 3Nav 9" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uillv5bs/layout-3nav-9.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>