<?xml version="1.0" encoding="utf-8"?>
<Media Key="337bba6f-5c9a-49ae-b79d-59b627b1ced0" Alias="Layout 12" Level="2">
  <Info>
    <Parent Key="993da213-e447-47b8-92f0-8d70beb9b399">Layouts</Parent>
    <Path>/Layouts/Layout12</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-19T07:54:46</CreateDate>
    <NodeName Default="Layout 12" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l03hwm20/layout-12.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>