<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dd0d0eb-076a-4ffa-8e79-47c4ac84d612" Alias="Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-24T10:49:01</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties />
</Media>