<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdc0f012-cc9f-4cdb-be79-f1eb7b46402f" Alias="Logo Umbootstrap" Level="2">
  <Info>
    <Parent Key="2dd0d0eb-076a-4ffa-8e79-47c4ac84d612">Logos</Parent>
    <Path>/Logos/LogoUmbootstrap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-08-24T10:50:05</CreateDate>
    <NodeName Default="Logo Umbootstrap" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/epymbtm5/logo-umbootstrap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>