<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a3139b8-a44f-4804-b641-5d4c766569a9" Alias="Miscellaneous" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Miscellaneous</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-15T14:43:13</CreateDate>
    <NodeName Default="Miscellaneous" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties />
</Media>