<?xml version="1.0" encoding="utf-8"?>
<Media Key="753ebd15-f6be-4a44-bd97-81e2047cab98" Alias="Umbraco" Level="2">
  <Info>
    <Parent Key="d42a9c31-3ffb-4a6a-8752-c0c91a500c0f">Software</Parent>
    <Path>/Software/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-01T11:54:36</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/co4d23n4/umbraco.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>