<?xml version="1.0" encoding="utf-8"?>
<Media Key="9db324f4-b5f7-4f3f-8a33-65784e312ff7" Alias="Umbraco Background" Level="2">
  <Info>
    <Parent Key="57135df9-f814-4c6b-91c4-9633f5135734">Backgrounds</Parent>
    <Path>/Backgrounds/UmbracoBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-08-08T13:33:19</CreateDate>
    <NodeName Default="Umbraco Background" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yuslhhpx/umbraco-background.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>