<?xml version="1.0" encoding="utf-8"?>
<Media Key="da3b0877-0904-4638-8e3b-e8b7661ec696" Alias="Welcome" Level="2">
  <Info>
    <Parent Key="6a3139b8-a44f-4804-b641-5d4c766569a9">Miscellaneous</Parent>
    <Path>/Miscellaneous/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:28</CreateDate>
    <NodeName Default="Welcome" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oeedxwqe/welcome.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>