<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="97c67415-a134-4516-8611-8806adaa9777" Alias="contentHeadingDefault" Level="3">
  <Info>
    <Name>Page Properties</Name>
    <Icon>icon-sience color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Page+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c66c669a-460b-4ea2-997c-5b84e0cc0d28</Key>
      <Name>Page Description</Name>
      <Alias>pageDescription</Alias>
      <Definition>03f68877-0168-46df-8689-d5d2a486edc8</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will appear in pages]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="pageProperties">Page Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>49cf2a6e-9aab-47f6-9780-46ec0eefbe9c</Key>
      <Name>Page Thumbnail</Name>
      <Alias>pageThumbnail</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will appear in navigation]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="pageProperties">Page Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1456b7e3-0fb0-45d0-9514-8438e6ec5960</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will appear in pages]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="pageProperties">Page Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4abcea3a-9354-4cf2-bf89-4acb70ca1440</Key>
      <Name>Page Title Short</Name>
      <Alias>pageTitleShort</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This will appear in navigation]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="pageProperties">Page Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7c0acf41-8660-415c-b748-ca8e07b164b7</Key>
      <Caption>Page Properties</Caption>
      <Alias>pageProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>