<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="500f5824-9807-4b07-9f3a-9042e757e480" Alias="featureComponentFAQs" Level="3">
  <Info>
    <Name>Feature Component - FAQs</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features/Feature+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ccb776a3-9fb9-4606-b51e-e0918714953b</Key>
      <Name>FAQs</Name>
      <Alias>featurePropertyFAQs</Alias>
      <Definition>40d659b1-243f-4db3-b750-9bccfeaa3281</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="featureContent">Feature Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5a1d06dc-e472-4704-a035-e6f7eb7a756d</Key>
      <Caption>Feature Content</Caption>
      <Alias>featureContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>