<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3284e71a-eb51-4be7-a6ae-af0dff0b3534" Alias="featureComponentsInternalLinks" Level="3">
  <Info>
    <Name>Feature Components - Internal Links</Name>
    <Icon>icon-sience color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features/Feature+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>72e5074f-70c0-44a0-8e04-4d607a37e525</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>5ee449a1-6b87-42c2-b611-8fd082b67bad</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="featureContent">Feature Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>98316bdb-993f-48f6-ace4-58e053ac1e7f</Key>
      <Caption>Feature Content</Caption>
      <Alias>featureContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>