<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0bee73a9-b636-480c-8584-2ed43c645751" Alias="featureComponentTab" Level="3">
  <Info>
    <Name>Feature Component - Tab</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features/Feature+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a4552f69-13eb-44c9-be9e-acc1a1263940</Key>
      <Name>Tab Content</Name>
      <Alias>featurePropertyTabContent</Alias>
      <Definition>166bd542-c206-4e4d-8772-39680f478785</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose the type of content you wish to add in the body of the Tab here]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="featureContent">Feature Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d64bdc88-7894-4229-b9d0-1945190fdfc8</Key>
      <Name>Tab Title</Name>
      <Alias>featurePropertyTabTitle</Alias>
      <Definition>851d5c2a-3355-4884-a8bb-c74e1fecbcf4</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[These Titles will appear in each Tab as you create them]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="featureContent">Feature Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>01e402ec-48b2-48b9-86ef-7efe09035017</Key>
      <Caption>Feature Content</Caption>
      <Alias>featureContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>