<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dfab01ba-2429-4be9-a894-3c6c4c49df94" Alias="featureImage" Level="2">
  <Info>
    <Name>Feature - Image</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features</Folder>
    <Compositions>
      <Composition Key="ed691eff-1f5d-4d92-9d3b-b63757e88087">featureComponentFeatureDescription</Composition>
      <Composition Key="1b247f06-207e-4871-a128-2b09db538d0c">featureComponentFeatureSummary</Composition>
      <Composition Key="088b60c8-d546-43c3-b759-89102bbf1ac2">featureComponentFeatureTitle</Composition>
      <Composition Key="087b09b3-baef-4a49-9532-9cfeb03ef0ad">featureComponentImage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>