<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="663fc5bc-c5b1-45d6-916a-5aa8adaeb18a" Alias="featureTabs" Level="2">
  <Info>
    <Name>Feature - Tabs</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features</Folder>
    <Compositions>
      <Composition Key="ed691eff-1f5d-4d92-9d3b-b63757e88087">featureComponentFeatureDescription</Composition>
      <Composition Key="1b247f06-207e-4871-a128-2b09db538d0c">featureComponentFeatureSummary</Composition>
      <Composition Key="088b60c8-d546-43c3-b759-89102bbf1ac2">featureComponentFeatureTitle</Composition>
      <Composition Key="0954bb53-e85d-4110-9fb7-10cfc5b91e6e">featureComponentTabs</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>