<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="69530950-4d0e-4872-b06e-76c0adc614f5" Alias="home" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ca839412-504a-4bfe-ac26-b6f0672a42f2">contentGridDefault</Composition>
      <Composition Key="97c67415-a134-4516-8611-8806adaa9777">contentHeadingDefault</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6e663519-fb4c-4cd9-b33b-f413f340658b">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d4c2391f-85ef-404d-a0be-10499d55e92a" SortOrder="0">webPage</ContentType>
    <ContentType Key="77041fdb-ef75-4c4b-a03f-a19a332c1769" SortOrder="1">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>