<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2bd0b48b-60cd-4a59-9d7c-abcc7ca7a13b" Alias="layoutSettingsComponentColorPicker" Level="3">
  <Info>
    <Name>Layout Settings Component - Background Color</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7a6d7a3a-1dd9-4f7c-aea1-4bd773667beb</Key>
      <Name>layoutAreasColourPicker</Name>
      <Alias>layoutAreasColourPicker</Alias>
      <Definition>5dfe5dfe-e561-4f1a-ab7a-0d13f44bacd6</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="backgroundColour/areas">Areas</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8f8650f1-c64a-4faf-83a3-104822688f20</Key>
      <Name>Opacity</Name>
      <Alias>layoutSettingsColourOpacity</Alias>
      <Definition>c422ac53-3f46-46d7-b9d0-7057fb460bfb</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="backgroundColour/layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c438e8f8-ec6e-4871-a73c-39bbabbb9df5</Key>
      <Name>Colour</Name>
      <Alias>layoutSettingsColourPicker</Alias>
      <Definition>0225af17-b302-49cb-9176-b9f35cab9c17</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="backgroundColour/layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>13a7871c-1bc0-47f4-a478-a5a6d5e958e2</Key>
      <Name>Shade</Name>
      <Alias>layoutSettingsColourShades</Alias>
      <Definition>18924646-4e3c-4e34-8c12-5078e818a484</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="backgroundColour/layout">Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1f14f84d-dcdf-436a-8cfc-2cf468ef51cc</Key>
      <Caption>Areas</Caption>
      <Alias>backgroundColour/areas</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>603cc05f-e067-44d4-9132-f9564ea83301</Key>
      <Caption>Background Colour</Caption>
      <Alias>backgroundColour</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>7d241c6f-a69e-4423-add5-3ad68d43552e</Key>
      <Caption>Layout</Caption>
      <Alias>backgroundColour/layout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>