<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c585e31-49ff-4ed5-9565-d9a495ae8d90" Alias="3 6 3 Column Layout" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layouts</Parent>
    <Path>/Home/Layouts/ColumnLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-01T10:26:58</CreateDate>
    <NodeName Default="3 6 3 Column Layout" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "cbba7fe0-e138-4de9-9c55-c041edf0be1d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "cbdf9293-0c17-4c21-9341-11ef534d8603",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "b2fee630-04f2-4990-8c06-e51d46fb4d28",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Introduction"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The Rich Text Editor or RTE can be added to most areas in both Block List and Block Grid"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere is some example text added to page so you can see how it looks.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is an optional summary that can be added beneath any Feature "
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "4e745241-4520-4210-83a2-c7da8f6aae81",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "As an aside"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "RTE\u0027s can be added in asides like this one"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Of course you can add a summary here."
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "19437206-f6b5-4755-a5c5-4b29173d2394",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0345a38a-d8a9-4cf4-acc3-8e4314f0baef",
              "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "333ef5bf-e44f-4dd6-9899-d63fd9774803",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "877a4c0f-24c8-426c-853c-b4be388ec289",
              "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "772ce117-60c5-4049-9073-abe2fdbcd732",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "53f0d5b2-fe48-40e6-9dfe-39d1b42b963a",
              "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "fee2f2e5-7b0a-4955-8b13-aa03372b95aa",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "As an aside"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "RTE\u0027s can be added in asides like this one"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Of course you can add a summary here."
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "de4c9567-a40f-4195-93c8-a002c822931b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "de7eebee-9ca0-48c6-a59a-01eaac2a0f14",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "34728223-1229-472f-bed1-7d58b186424e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "b1329ddd-6148-43cf-adfe-ae3b73a969d8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "4c58873a-adb1-4817-b3d5-16603248803f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "95cc6669-c2a1-47ec-baec-dcd61b5a5923",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "be5597cd-5ad9-49da-9165-5424f7158fa9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "279bae88-161c-459a-aa5e-21e90a0887b0",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "6e730142-3bc8-4942-8ce3-b421be125c15",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "17423bfd-05d8-4cc7-9b8c-a4fa01a5b889",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "b200636f-f8f1-49df-ac9c-0d1cf9eefb96",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "d218dbb4-2109-4d04-add6-82fd0387f521",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "de4c9567-a40f-4195-93c8-a002c822931b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "de7eebee-9ca0-48c6-a59a-01eaac2a0f14",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cbba7fe0-e138-4de9-9c55-c041edf0be1d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4e745241-4520-4210-83a2-c7da8f6aae81",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "772ce117-60c5-4049-9073-abe2fdbcd732",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cbdf9293-0c17-4c21-9341-11ef534d8603",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fee2f2e5-7b0a-4955-8b13-aa03372b95aa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "333ef5bf-e44f-4dd6-9899-d63fd9774803",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b2fee630-04f2-4990-8c06-e51d46fb4d28",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "19437206-f6b5-4755-a5c5-4b29173d2394",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "de7eebee-9ca0-48c6-a59a-01eaac2a0f14",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "279bae88-161c-459a-aa5e-21e90a0887b0",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "de4c9567-a40f-4195-93c8-a002c822931b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "be5597cd-5ad9-49da-9165-5424f7158fa9",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "cbdf9293-0c17-4c21-9341-11ef534d8603",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6e730142-3bc8-4942-8ce3-b421be125c15",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "fee2f2e5-7b0a-4955-8b13-aa03372b95aa",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "95cc6669-c2a1-47ec-baec-dcd61b5a5923",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "333ef5bf-e44f-4dd6-9899-d63fd9774803",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "17423bfd-05d8-4cc7-9b8c-a4fa01a5b889",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "b2fee630-04f2-4990-8c06-e51d46fb4d28",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b1329ddd-6148-43cf-adfe-ae3b73a969d8",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "19437206-f6b5-4755-a5c5-4b29173d2394",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b200636f-f8f1-49df-ac9c-0d1cf9eefb96",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "4e745241-4520-4210-83a2-c7da8f6aae81",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4c58873a-adb1-4817-b3d5-16603248803f",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "772ce117-60c5-4049-9073-abe2fdbcd732",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d218dbb4-2109-4d04-add6-82fd0387f521",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "cbba7fe0-e138-4de9-9c55-c041edf0be1d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "34728223-1229-472f-bed1-7d58b186424e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[3 6 3 Column Layout]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "3fbe66c4-bedc-43a5-afce-6d2f2862849e",
    "mediaKey": "7f20975b-a2f0-4623-9976-9d287335680f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[3 6 3 Column Layout]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[3 6 3]]></Value>
    </pageTitleShort>
  </Properties>
</Content>