<?xml version="1.0" encoding="utf-8"?>
<Content Key="17938205-f958-4478-8d75-6dbfc40a553a" Alias="3 9 Column Layout" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layouts</Parent>
    <Path>/Home/Layouts/ColumnLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T18:39:05</CreateDate>
    <NodeName Default="3 9 Column Layout" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "ff0c3a04-08eb-46b6-a671-1162e5c83fd8",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Introduction"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The Rich Text Editor or RTE can be added to most areas in both Block List and Block Grid"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere is some example text added to page so you can see how it looks.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is an optional summary that can be added beneath any Feature "
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "57f708d5-81b0-48bc-b243-1623f70c7b63",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "207207c9-7759-46ae-a51c-5d5313fee155",
              "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "c197111c-f1e6-493a-8f94-c359370a5406",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "b295206c-b9a8-46ed-b86b-88b45d01f875",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "2587678c-8f1e-44ff-8627-8dc9977e126a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "6409cfad-d7dc-414a-847b-9b7ec6a110ea",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "f090bf3d-1eb7-4fb4-822d-a76f3d7953ce",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "d59cd0d8-42ef-4db7-be22-998d2046dd57",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "c05cc7f9-4b8c-4050-8986-b4bfa5fcc630",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "1081649c-081e-4513-ab8d-69c0ebc37671",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "26964ff1-0aba-4f7c-a976-240dd07cf4f6",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "2336e3de-5453-431f-b3e3-fbf00f46a5c3",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6409cfad-d7dc-414a-847b-9b7ec6a110ea",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2587678c-8f1e-44ff-8627-8dc9977e126a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c197111c-f1e6-493a-8f94-c359370a5406",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "57f708d5-81b0-48bc-b243-1623f70c7b63",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ff0c3a04-08eb-46b6-a671-1162e5c83fd8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b295206c-b9a8-46ed-b86b-88b45d01f875",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "6409cfad-d7dc-414a-847b-9b7ec6a110ea",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "1081649c-081e-4513-ab8d-69c0ebc37671",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "2587678c-8f1e-44ff-8627-8dc9977e126a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c05cc7f9-4b8c-4050-8986-b4bfa5fcc630",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "b295206c-b9a8-46ed-b86b-88b45d01f875",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "26964ff1-0aba-4f7c-a976-240dd07cf4f6",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "57f708d5-81b0-48bc-b243-1623f70c7b63",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "2336e3de-5453-431f-b3e3-fbf00f46a5c3",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "ff0c3a04-08eb-46b6-a671-1162e5c83fd8",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f090bf3d-1eb7-4fb4-822d-a76f3d7953ce",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c197111c-f1e6-493a-8f94-c359370a5406",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d59cd0d8-42ef-4db7-be22-998d2046dd57",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[3 9 Column Layout]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "1995189d-db79-4de0-bd54-c6afa9c1e5d1",
    "mediaKey": "fcba1793-7f32-4ac4-bcee-da6d6fc69c08",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[3 9 Column Layout]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[3 9]]></Value>
    </pageTitleShort>
  </Properties>
</Content>