<?xml version="1.0" encoding="utf-8"?>
<Content Key="28c307cf-e722-4bfd-b3b2-f6fa057ddc01" Alias="Child Page 05" Level="4">
  <Info>
    <Parent Key="3a3cb279-688b-4516-b71f-de468931385b">Feature - Internal Links - Pagination</Parent>
    <Path>/Home/Features/FeatureInternalLinksPagination/ChildPage05</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T14:26:11</CreateDate>
    <NodeName Default="Child Page 05" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/a42a5a56c17c41c3b27c88671ca0663a",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/4d81fd894722485c9f31be6365df008c",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/65620641a25c497e83ad941f0d41e4b0",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u0022f7fd485b-1b2c-4031-a5c3-49f3c93ad46b\u0022,\r\n    \u0022mediaKey\u0022: \u00229c648013-257c-4aa7-b6a3-e91d4eb9288a\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e80f44fccdfb4798ba6bdfee46812098",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/08a3b17948d94f139f558510de95f1fd",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e464dc4409eb4cbdbe65aa14881c3bca",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/5c9ec70cd55346f6a030934fae0c2f93",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "08a3b179-48d9-4f13-9f55-8510de95f1fd",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e80f44fc-cdfb-4798-ba6b-dfee46812098",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "5c9ec70c-d553-46f6-a030-934fae0c2f93",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "4d81fd89-4722-485c-9f31-be6365df008c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "65620641-a25c-497e-83ad-941f0d41e4b0",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a42a5a56-c17c-41c3-b27c-88671ca0663a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e464dc44-09eb-4cbd-be65-aa14881c3bca",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 05]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "2dce257b-f77e-48e6-953a-cfd4d74678b2",
    "mediaKey": "9c648013-257c-4aa7-b6a3-e91d4eb9288a"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 05]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 05]]></Value>
    </pageTitleShort>
  </Properties>
</Content>