<?xml version="1.0" encoding="utf-8"?>
<Content Key="0edabf5d-d677-4373-a24a-39b715ca4e32" Alias="Example Page 05" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Example Section</Parent>
    <Path>/Home/ExampleSection/ExamplePage05</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-14T07:52:42</CreateDate>
    <NodeName Default="Example Page 05" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/c1e9858c8eba4ba0b1abaf155b031ce9",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/daafb8e79e16400a93d7d2d2f7f8a1ca",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/d5b0951f8d134d5ca61e4aabaa7da5d4",
      "values": [],
      "featurePropertyFeatureTitle": "Image Feature Title",
      "featurePropertyFeatureDescription": "Image Feature Description",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u0022315d0a6f-8f4c-4c98-8132-a81fbabbe312\u0022,\r\n    \u0022mediaKey\u0022: \u002283b8c642-1d0f-42b9-8ec1-8efb30b5fdc2\u0022\r\n  }\r\n]",
      "featurePropertyFeatureSummary": "Image Feature Summary"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/9c4dbd3251e041648aa81d267fd798fc",
      "values": [],
      "richTextContent": "\u003Cp\u003EText Feature Content\u003C/p\u003E",
      "featurePropertyFeatureTitle": "Text Feature Title",
      "featurePropertyFeatureDescription": "Text Feature Description",
      "featurePropertyFeatureSummary": "Text Feature Summary"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/51dbb434780c483d8cf10d58b7e55858",
      "values": [],
      "richTextContent": "\u003Cp\u003EText Feature Content\u003C/p\u003E",
      "featurePropertyFeatureTitle": "Text Feature Title",
      "featurePropertyFeatureDescription": "Text Feature Description",
      "featurePropertyFeatureSummary": "Text Feature Summary"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/0ff683035a6d4c4abdf1f208481a18b0",
      "values": [],
      "featurePropertyFeatureTitle": "Image Feature Title",
      "featurePropertyFeatureDescription": "Image Feature Description",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u002205d30aa3-6216-4da3-9c1d-bcde03792476\u0022,\r\n    \u0022mediaKey\u0022: \u002283b8c642-1d0f-42b9-8ec1-8efb30b5fdc2\u0022\r\n  }\r\n]",
      "featurePropertyFeatureSummary": "Image Feature Summary"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/1b3b365d96ae4307ab0fef938c3b4628",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/a2c317bf5c9041ab8e20f3c63210dc3c",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e82d9af534fa4162b213d5bc8c560dde",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/61895662d16447dfa1d721dba85a5596",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/6036c7b1681a4f9aa7688c63ecfb9eee",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/c85c5f481e3f482db005f14075828871",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "a2c317bf-5c90-41ab-8e20-f3c63210dc3c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "1b3b365d-96ae-4307-ab0f-ef938c3b4628",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c85c5f48-1e3f-482d-b005-f14075828871",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "daafb8e7-9e16-400a-93d7-d2d2f7f8a1ca",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "d5b0951f-8d13-4d5c-a61e-4aabaa7da5d4",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "9c4dbd32-51e0-4164-8aa8-1d267fd798fc",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "61895662-d164-47df-a1d7-21dba85a5596",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "51dbb434-780c-483d-8cf1-0d58b7e55858",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6036c7b1-681a-4f9a-a768-8c63ecfb9eee",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "0ff68303-5a6d-4c4a-bdf1-f208481a18b0",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c1e9858c-8eba-4ba0-b1ab-af155b031ce9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e82d9af5-34fa-4162-b213-d5bc8c560dde",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Page 05]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "19685368-c884-4db2-89ab-90abd127b892",
    "mediaKey": "83b8c642-1d0f-42b9-8ec1-8efb30b5fdc2"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Example Page 05]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Example Page 05]]></Value>
    </pageTitleShort>
  </Properties>
</Content>