<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c585e31-49ff-4ed5-9565-d9a495ae8d90" Alias="3 6 3 Column Layout" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layouts</Parent>
    <Path>/Home/Layouts/ColumnLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-01T10:26:58</CreateDate>
    <NodeName Default="3 6 3 Column Layout" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/cbba7fe0e1384de99c55c041edf0be1d",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/cbdf92930c174c21934111ef534d8603",
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/b2fee63004f249908c06e51d46fb4d28",
      "values": [],
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Rich Text Editor or RTE can be added to most areas in both Block List and Block Grid",
      "richTextContent": "\u003Cp\u003EHere is some example text added to page so you can see how it looks.\u003C/p\u003E",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/4e7452414520421083a2c7da8f6aae81",
      "values": [],
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE\u0027s can be added in asides like this one",
      "richTextContent": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/19437206f6b54755a5c54b29173d2394",
      "values": [],
      "featurePropertyFeatureTitle": "Feature - Image",
      "featurePropertyFeatureDescription": "Feature - Image",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u002212399f7e-a7e8-48c0-a0a2-6e25c364c6b2\u0022,\r\n    \u0022mediaKey\u0022: \u002270a55b90-5f78-4042-878f-0c54ff85c8e5\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/333ef5bfe44f4dd69899d63fd9774803",
      "values": [],
      "featurePropertyFeatureTitle": "Feature - Image",
      "featurePropertyFeatureDescription": "Feature - Image",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u002212399f7e-a7e8-48c0-a0a2-6e25c364c6b2\u0022,\r\n    \u0022mediaKey\u0022: \u002270a55b90-5f78-4042-878f-0c54ff85c8e5\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/772ce11760c540499073abe2fdbcd732",
      "values": [],
      "featurePropertyFeatureTitle": "Feature - Image",
      "featurePropertyFeatureDescription": "Feature - Image",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u002212399f7e-a7e8-48c0-a0a2-6e25c364c6b2\u0022,\r\n    \u0022mediaKey\u0022: \u002270a55b90-5f78-4042-878f-0c54ff85c8e5\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/fee2f2e57b0a49558b13aa03372b95aa",
      "values": [],
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE\u0027s can be added in asides like this one",
      "richTextContent": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/de4c9567a40f419593c8a002c822931b",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/de7eebee9ca048c6a59a01eaac2a0f14",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/347282231229472fbed17d58b186424e",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/b1329ddd614843cfadfeae3b73a969d8",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/4c58873aadb14817b3d516603248803f",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/95cc6669c2a147ecbaecdcd61b5a5923",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/be5597cd5ad949da91655424f7158fa9",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "de7eebee-9ca0-48c6-a59a-01eaac2a0f14",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "de4c9567-a40f-4195-93c8-a002c822931b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "be5597cd-5ad9-49da-9165-5424f7158fa9",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "cbdf9293-0c17-4c21-9341-11ef534d8603",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "fee2f2e5-7b0a-4955-8b13-aa03372b95aa",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "95cc6669-c2a1-47ec-baec-dcd61b5a5923",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "333ef5bf-e44f-4dd6-9899-d63fd9774803",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "b2fee630-04f2-4990-8c06-e51d46fb4d28",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b1329ddd-6148-43cf-adfe-ae3b73a969d8",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "19437206-f6b5-4755-a5c5-4b29173d2394",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "4e745241-4520-4210-83a2-c7da8f6aae81",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4c58873a-adb1-4817-b3d5-16603248803f",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "772ce117-60c5-4049-9073-abe2fdbcd732",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "cbba7fe0-e138-4de9-9c55-c041edf0be1d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "34728223-1229-472f-bed1-7d58b186424e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[3 6 3 Column Layout]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "3fbe66c4-bedc-43a5-afce-6d2f2862849e",
    "mediaKey": "7f20975b-a2f0-4623-9976-9d287335680f"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[3 6 3 Column Layout]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[3 6 3]]></Value>
    </pageTitleShort>
  </Properties>
</Content>