<?xml version="1.0" encoding="utf-8"?>
<Content Key="17938205-f958-4478-8d75-6dbfc40a553a" Alias="3 9 Column Layout" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layouts</Parent>
    <Path>/Home/Layouts/ColumnLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T18:39:05</CreateDate>
    <NodeName Default="3 9 Column Layout" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/ff0c3a0408eb46b6a6711162e5c83fd8",
      "values": [],
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Rich Text Editor or RTE can be added to most areas in both Block List and Block Grid",
      "richTextContent": "\u003Cp\u003EHere is some example text added to page so you can see how it looks.\u003C/p\u003E",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/57f708d581b048bcb2431623f70c7b63",
      "values": [],
      "featurePropertyFeatureTitle": "Feature - Image",
      "featurePropertyFeatureDescription": "Feature - Image",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u002212399f7e-a7e8-48c0-a0a2-6e25c364c6b2\u0022,\r\n    \u0022mediaKey\u0022: \u002270a55b90-5f78-4042-878f-0c54ff85c8e5\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/c197111cf1e6493a8f94c359370a5406",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/b295206cb9a846edb86b88b45d01f875",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/2587678c8f1e44ff86278dc9977e126a",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/6409cfadd7dc414a847b9b7ec6a110ea",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/f090bf3d1eb74fb4822da76f3d7953ce",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/d59cd0d842ef4db7be22998d2046dd57",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/c05cc7f94b8c40508986b4bfa5fcc630",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "6409cfad-d7dc-414a-847b-9b7ec6a110ea",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "2587678c-8f1e-44ff-8627-8dc9977e126a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c05cc7f9-4b8c-4050-8986-b4bfa5fcc630",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "b295206c-b9a8-46ed-b86b-88b45d01f875",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "57f708d5-81b0-48bc-b243-1623f70c7b63",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "ff0c3a04-08eb-46b6-a671-1162e5c83fd8",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f090bf3d-1eb7-4fb4-822d-a76f3d7953ce",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c197111c-f1e6-493a-8f94-c359370a5406",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d59cd0d8-42ef-4db7-be22-998d2046dd57",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[3 9 Column Layout]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "1995189d-db79-4de0-bd54-c6afa9c1e5d1",
    "mediaKey": "fcba1793-7f32-4ac4-bcee-da6d6fc69c08"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[3 9 Column Layout]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[3 9]]></Value>
    </pageTitleShort>
  </Properties>
</Content>