<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e199eee-4f90-4a1c-90ce-867d332ff091" Alias="About" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:31:23</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/c167338cbf8f45ddb28d27988b3460c8",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/0d53237692ee42c79aaee95c3490a3ef",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/60821a806f8e41d9843345cf68e6f170",
      "values": []
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/6b699b0845844427a4dcc0e504fde7ac",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/261c49e492d34b36b133f1ebc0063c4e",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/0e08c6e9bcbe4db0beda0e6dd268725e",
      "values": [],
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "500",
      "layoutSettingsColourOpacity": "0.375",
      "layoutSettingsBackgroundImagePicker": "[]"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/076025c6d87342cd9f31f00d1cbe1b5a",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/5d7801703c5f4e27b48f127626fd9fb2",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "0d532376-92ee-42c7-9aae-e95c3490a3ef",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "076025c6-d873-42cd-9f31-f00d1cbe1b5a",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c167338c-bf8f-45dd-b28d-27988b3460c8",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "261c49e4-92d3-4b36-b133-f1ebc0063c4e",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "6b699b08-4584-4427-a4dc-c0e504fde7ac",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "5d780170-3c5f-4e27-b48f-127626fd9fb2",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "60821a80-6f8e-41d9-8433-45cf68e6f170",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "0e08c6e9-bcbe-4db0-beda-0e6dd268725e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[If you are looking for a way to use Bootstrap web page layouts and components in your Umbraco site, you might want to check out this example website.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[
  {
    "key": "2ccfdfbb-1f2a-4542-8d01-5c02000cdb19",
    "mediaKey": "9db324f4-b5f7-4f3f-8a33-65784e312ff7"
  }
]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[About UmBootstrap]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[About]]></Value>
    </pageTitleShort>
  </Properties>
</Content>