<?xml version="1.0" encoding="utf-8"?>
<Content Key="370a0606-a416-440a-bea1-b99816eb2227" Alias="Child Page 06" Level="4">
  <Info>
    <Parent Key="3a3cb279-688b-4516-b71f-de468931385b">Feature - Internal Links - Pagination</Parent>
    <Path>/Home/Features/FeatureInternalLinksPagination/ChildPage06</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T14:28:43</CreateDate>
    <NodeName Default="Child Page 06" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/06cd3c335d174d1f8863ebf0dcb55acc",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/599da071d27e49faa975cb8154630858",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/d6a1c60334ef41fca274ded0b918b03c",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u0022f7fd485b-1b2c-4031-a5c3-49f3c93ad46b\u0022,\r\n    \u0022mediaKey\u0022: \u00229c648013-257c-4aa7-b6a3-e91d4eb9288a\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/65673ed2ffa44827a21e0b74a6ba7a8c",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/82bdca7c4c99475e9f9023d52ce51024",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/f3d29b2af5314996a392392216e8111b",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/5fd419fbb5ed41349f18659ec33dd61f",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "82bdca7c-4c99-475e-9f90-23d52ce51024",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "65673ed2-ffa4-4827-a21e-0b74a6ba7a8c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "5fd419fb-b5ed-4134-9f18-659ec33dd61f",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "599da071-d27e-49fa-a975-cb8154630858",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "d6a1c603-34ef-41fc-a274-ded0b918b03c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "06cd3c33-5d17-4d1f-8863-ebf0dcb55acc",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f3d29b2a-f531-4996-a392-392216e8111b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 06]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "2dce257b-f77e-48e6-953a-cfd4d74678b2",
    "mediaKey": "9c648013-257c-4aa7-b6a3-e91d4eb9288a"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 06]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 06]]></Value>
    </pageTitleShort>
  </Properties>
</Content>