<?xml version="1.0" encoding="utf-8"?>
<Content Key="10fe5565-98fc-4301-bced-bf9442968b1e" Alias="Child Page 07" Level="4">
  <Info>
    <Parent Key="3a3cb279-688b-4516-b71f-de468931385b">Feature - Internal Links - Pagination</Parent>
    <Path>/Home/Features/FeatureInternalLinksPagination/ChildPage07</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T14:28:52</CreateDate>
    <NodeName Default="Child Page 07" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/a5f65683e9bc464da8935ca7706e997a",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/1ada4f5d61a543b09c4e102f8e9d6a36",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/bb0a0275b3b4425ba04f748516989617",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u0022f7fd485b-1b2c-4031-a5c3-49f3c93ad46b\u0022,\r\n    \u0022mediaKey\u0022: \u00229c648013-257c-4aa7-b6a3-e91d4eb9288a\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/3d9aa9a95eb7408c8d1a73a5f0b7a308",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/bac9b3cf8304478b8a07347890e085dc",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/2790ed5b972a4f1d8e800a59d199eb10",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/5f7c7dcb2f6c4eb18a6a2751a47773cc",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "bac9b3cf-8304-478b-8a07-347890e085dc",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "3d9aa9a9-5eb7-408c-8d1a-73a5f0b7a308",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "5f7c7dcb-2f6c-4eb1-8a6a-2751a47773cc",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "1ada4f5d-61a5-43b0-9c4e-102f8e9d6a36",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "bb0a0275-b3b4-425b-a04f-748516989617",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a5f65683-e9bc-464d-a893-5ca7706e997a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2790ed5b-972a-4f1d-8e80-0a59d199eb10",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 07]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "2dce257b-f77e-48e6-953a-cfd4d74678b2",
    "mediaKey": "9c648013-257c-4aa7-b6a3-e91d4eb9288a"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 07]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 07]]></Value>
    </pageTitleShort>
  </Properties>
</Content>