<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad9f3bd8-d01e-4a7b-a504-f032a41ea22d" Alias="Example Page 01" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Example Section</Parent>
    <Path>/Home/ExampleSection/ExamplePage01</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:57:04</CreateDate>
    <NodeName Default="Example Page 01" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e6c1516efc884c7f8ef4e36435010d32",
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/b01e93c403364282af6b8d539f6370bc",
      "values": [],
      "richTextContent": "\u003Cp\u003EText Feature Content\u003C/p\u003E",
      "featurePropertyFeatureTitle": "Text Feature Title",
      "featurePropertyFeatureDescription": "Text Feature Description",
      "featurePropertyFeatureSummary": "Text Feature Summary"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/b073d1ba08274fbf91a33bf7ca347268",
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/aaad43b2118f422a97837ca5b2608d8c",
      "values": [],
      "richTextContent": "\u003Cp\u003EText Feature Content\u003C/p\u003E",
      "featurePropertyFeatureTitle": "Text Feature Title",
      "featurePropertyFeatureDescription": "Text Feature Description",
      "featurePropertyFeatureSummary": "Text Feature Summary"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/7683326d40624a64af2e47f013526fab",
      "values": [],
      "featurePropertyFeatureTitle": "Image Feature Title",
      "featurePropertyFeatureDescription": "Image Feature Description",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u00220a247f65-fa41-49b9-9bfb-f00382fc45eb\u0022,\r\n    \u0022mediaKey\u0022: \u0022f99ea450-71f3-4d21-ae94-0cc5e9e4848b\u0022\r\n  }\r\n]",
      "featurePropertyFeatureSummary": "Image Feature Summary"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/75d9f46183c74cdb8356be30749a1f5a",
      "values": [],
      "featurePropertyFeatureTitle": "Image Feature Title",
      "featurePropertyFeatureDescription": "Image Feature Description",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u00220a247f65-fa41-49b9-9bfb-f00382fc45eb\u0022,\r\n    \u0022mediaKey\u0022: \u0022f99ea450-71f3-4d21-ae94-0cc5e9e4848b\u0022\r\n  }\r\n]",
      "featurePropertyFeatureSummary": "Image Feature Summary"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/27a764086adf4564a757adad6b703ef9",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/7801efcfc85846f09a817a3ceb62ed38",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/fa30f0a8b78a48099ef16a20e63fb4d1",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/080c271320fd4b6f95973d07793de49f",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/93dd1e7563b84c548ecf7607e4a5fe24",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/f9295905fbf94615b025dcf66fe2e4cc",
      "values": [],
      "layoutSettingsColourShades": "500",
      "layoutSettingsColourOpacity": "0.500",
      "layoutSettingsBackgroundImagePicker": "[\r\n  {\r\n    \u0022key\u0022: \u0022a913b1a4-d5f5-432b-8467-7a448e62174e\u0022,\r\n    \u0022mediaKey\u0022: \u002266f33e04-5161-433f-8703-1918ff919485\u0022\r\n  }\r\n]",
      "layoutSettingsColourPicker": "",
      "layoutAreasColourPicker": ""
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/1a6e7196c3fc40d295781fc6f535461d",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/f5380880fd0446b59c50243eebb470f9",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/66e8438de698420b88187f4c0f80a882",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/66b9349cf1d043249cddb5ad8b2a513f",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7801efcf-c858-46f0-9a81-7a3ceb62ed38",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "1a6e7196-c3fc-40d2-9578-1fc6f535461d",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "27a76408-6adf-4564-a757-adad6b703ef9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f9295905-fbf9-4615-b025-dcf66fe2e4cc",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "b073d1ba-0827-4fbf-91a3-3bf7ca347268",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f5380880-fd04-46b5-9c50-243eebb470f9",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "7683326d-4062-4a64-af2e-47f013526fab",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "66e8438d-e698-420b-8818-7f4c0f80a882",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "b01e93c4-0336-4282-af6b-8d539f6370bc",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "080c2713-20fd-4b6f-9597-3d07793de49f",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "aaad43b2-118f-422a-9783-7ca5b2608d8c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "93dd1e75-63b8-4c54-8ecf-7607e4a5fe24",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "75d9f461-83c7-4cdb-8356-be30749a1f5a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "66b9349c-f1d0-4324-9cdd-b5ad8b2a513f",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e6c1516e-fc88-4c7f-8ef4-e36435010d32",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fa30f0a8-b78a-4809-9ef1-6a20e63fb4d1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Page 01]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "c37dbbbf-2e15-4fe2-89d7-ea1f73177e34",
    "mediaKey": "f99ea450-71f3-4d21-ae94-0cc5e9e4848b"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Example Page 01]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[ Example Page 01]]></Value>
    </pageTitleShort>
  </Properties>
</Content>