<?xml version="1.0" encoding="utf-8"?>
<Content Key="af8fb0fe-0eb9-44fe-b498-70ab76351d41" Alias="Example Page 04" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Example Section</Parent>
    <Path>/Home/ExampleSection/ExamplePage04</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-13T13:59:49</CreateDate>
    <NodeName Default="Example Page 04" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e499cbb3f7d144459f28921910514c04",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/0a2bccb7dd6c43fda66c8d465038692f",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/a72f48aa00554ce890671b40ad1cffc5",
      "values": [],
      "featurePropertyFeatureTitle": "Image Feature Title",
      "featurePropertyFeatureDescription": "Image Feature Description",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u0022041a0935-9931-4ac9-8d7b-da84513791a4\u0022,\r\n    \u0022mediaKey\u0022: \u0022786ff4ce-7a17-45ee-9319-c2d8c20bf5c8\u0022\r\n  }\r\n]",
      "featurePropertyFeatureSummary": "Image Feature Summary"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/12960fd7abab40c8bad81256a7fe5197",
      "values": [],
      "richTextContent": "\u003Cp\u003EText Feature Content\u003C/p\u003E",
      "featurePropertyFeatureTitle": "Text Feature Title",
      "featurePropertyFeatureDescription": "Text Feature Description",
      "featurePropertyFeatureSummary": "Text Feature Summary"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/943910fd5456472c9aa89086826c61f0",
      "values": [],
      "richTextContent": "\u003Cp\u003EText Feature Content\u003C/p\u003E",
      "featurePropertyFeatureTitle": "Text Feature Title",
      "featurePropertyFeatureDescription": "Text Feature Description",
      "featurePropertyFeatureSummary": "Text Feature Summary"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e40d742b2ed345deb5704115dfed199a",
      "values": [],
      "featurePropertyFeatureTitle": "Image Feature Title",
      "featurePropertyFeatureDescription": "Image Feature Description",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u002282acf091-f33d-49cd-8856-95af1c307781\u0022,\r\n    \u0022mediaKey\u0022: \u0022786ff4ce-7a17-45ee-9319-c2d8c20bf5c8\u0022\r\n  }\r\n]",
      "featurePropertyFeatureSummary": "Image Feature Summary"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/5d25c3583cbb4dfe8afdafd02972ee88",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e7fe579f28c14814b05e308243f90257",
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/6ccb52bf04a54a6b8788c70ef6dcab24",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/beb323d210f5466187772e51fe386761",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/cce1787a1d4949ae8f879f3d05e76b3b",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/661723f31e3e4836a751ffdf0941cef6",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e7fe579f-28c1-4814-b05e-308243f90257",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "5d25c358-3cbb-4dfe-8afd-afd02972ee88",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "661723f3-1e3e-4836-a751-ffdf0941cef6",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "0a2bccb7-dd6c-43fd-a66c-8d465038692f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "a72f48aa-0055-4ce8-9067-1b40ad1cffc5",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "12960fd7-abab-40c8-bad8-1256a7fe5197",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "beb323d2-10f5-4661-8777-2e51fe386761",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "943910fd-5456-472c-9aa8-9086826c61f0",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "cce1787a-1d49-49ae-8f87-9f3d05e76b3b",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "e40d742b-2ed3-45de-b570-4115dfed199a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": null,
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e499cbb3-f7d1-4445-9f28-921910514c04",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "6ccb52bf-04a5-4a6b-8788-c70ef6dcab24",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Page 04]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "4de046c6-dbf0-4437-9d7d-e73185add1d3",
    "mediaKey": "786ff4ce-7a17-45ee-9319-c2d8c20bf5c8"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Example Page 04]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Example Page 04]]></Value>
    </pageTitleShort>
  </Properties>
</Content>