<?xml version="1.0" encoding="utf-8"?>
<Content Key="608fe8a3-42a9-4cb1-9cdd-28733535b30d" Alias="Feature - Internal Links - Selected" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureInternalLinksSelected</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Feature - Internal Links - Selected" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/65aced8d3c0a4c66b46243e1724ccbdb",
      "values": []
    },
    {
      "contentTypeKey": "3db256d9-ff75-41a7-b5b4-f1fcaec92458",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/369a77cfc5fc4369b992bb039a7e77f1",
      "values": [],
      "links": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2,umb://document/af8fb0fe0eb944feb49870ab76351d41,umb://document/0d1802258d8e4c65a59a9482e3f255c1",
      "featurePropertyFeatureTitle": "Example Internal Links",
      "featurePropertyFeatureDescription": "Allows the user to choose links"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/19dde93f81de4a3e83deb31ac5074a30",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/233b6bf4e193498295bf6fc1f1b3493d",
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/1457cbd03af646ce94168171cdc6fd5f",
      "values": [],
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Internal Links Selected can be added to most areas in both Block List and Block Grid",
      "richTextContent": "\u003Cp\u003EHere is some example text added to page so you can see how it looks.\u003C/p\u003E",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/4db0ad2f0e57414baed0068b17a170c1",
      "values": [],
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE\u0027s can be added in asides like this one",
      "richTextContent": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/66e783ed22b64313badb90fadd80ccae",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/fbf5f06a844846e78174c4f1d4c01278",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/1ead4f424ffc467483f4101e2b90203f",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u00220fdb1b6c-8626-4375-b45c-7531a8bdc92a\u0022,\r\n    \u0022mediaKey\u0022: \u002207e61bb0-eacc-4171-8138-e9929b27d10d\u0022\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/925f370cf44a4942b48c9dc7442dc03f",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/04602cffea3e4e708797b1c1a1bb119c",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/3f9c796e3a7049719db6c3693486782f",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/5ed07f7ffc6b486b9eac3426506fe250",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/3b3053c5aee14a90b67595b7694a16ee",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/9f2d7863c56b41c3aa85342c94602938",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/cc4ee99e8de14f90929c16fa27d004e0",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/7d370c24a9824f7999167e8a0eb09b74",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/7df949c33770453fbb83ee4a1143b6fc",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "fbf5f06a-8448-46e7-8174-c4f1d4c01278",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9f2d7863-c56b-41c3-aa85-342c94602938",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "1ead4f42-4ffc-4674-83f4-101e2b90203f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7df949c3-3770-453f-bb83-ee4a1143b6fc",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "66e783ed-22b6-4313-badb-90fadd80ccae",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "3b3053c5-aee1-4a90-b675-95b7694a16ee",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "233b6bf4-e193-4982-95bf-6fc1f1b3493d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "cc4ee99e-8de1-4f90-929c-16fa27d004e0",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "1457cbd0-3af6-46ce-9416-8171cdc6fd5f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "04602cff-ea3e-4e70-8797-b1c1a1bb119c",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "4db0ad2f-0e57-414b-aed0-068b17a170c1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "3f9c796e-3a70-4971-9db6-c3693486782f",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "19dde93f-81de-4a3e-83de-b31ac5074a30",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "925f370c-f44a-4942-b48c-9dc7442dc03f",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "369a77cf-c5fc-4369-b992-bb039a7e77f1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7d370c24-a982-4f79-9916-7e8a0eb09b74",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "65aced8d-3c0a-4c66-b462-43e1724ccbdb",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "5ed07f7f-fc6b-486b-9eac-3426506fe250",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Internal Links - Selected]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "22b71e3e-0111-411a-af46-0117dc06d934",
    "mediaKey": "07e61bb0-eacc-4171-8138-e9929b27d10d"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Internal Links - Selected]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Internal Links - Selected]]></Value>
    </pageTitleShort>
  </Properties>
</Content>