<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-06-02T16:21:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6e663519-fb4c-4cd9-b33b-f413f340658b">Home</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/498fd587e7f94c079b43f111d86afa27",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/0ed56b7fed06446bbd7a10e5c7885bf7",
      "values": []
    },
    {
      "contentTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/3c1eaad9261f4e3aa532af3df42ee27a",
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/9a2f9539fc814ef797f8ededb8f0f444",
      "values": [],
      "featurePropertyFeatureTitle": "Umbraco",
      "featurePropertyFeatureDescription": "All the benefits of Umbraco, the friendly CMS, including limitless customisation, great editor experience and hundreds of community built packages",
      "richTextContent": "\u003Cp\u003EAn enhanced back office using Block Preview Package.\u00A0Edit pages with true WYSIWYG or switch to Sort Mode for a simple view.\u003C/p\u003E\n\u003Cp\u003EA selection of Layout Templates with examples so you can make your own.\u003C/p\u003E\n\u003Cp\u003EA comprehensive library of Feature Components available to use in your own projects.\u003C/p\u003E"
    },
    {
      "contentTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/7553baae38114e78926a1798288cbc4b",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/69ed9fdff61d43f7a25a6d638daa255e",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u0022584aee23-2924-4f62-a5ea-052df8152306\u0022,\r\n    \u0022mediaKey\u0022: \u0022da3b0877-0904-4638-8e3b-e8b7661ec696\u0022\r\n  }\r\n]",
      "featurePropertyFeatureTitle": "Welcome",
      "featurePropertyFeatureDescription": "Umbootstrap is an Umbraco community project"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/d6f706dc7a6343c18c0b41a06d67fc75",
      "values": [],
      "featurePropertyFeatureTitle": "Introduction",
      "richTextContent": "\u003Cp\u003EIt shows how to create common Bootstrap elements such as navbar, carousel, cards, forms, and more using C# Razor Umbraco code.\u003C/p\u003E\n\u003Cp\u003EYou can view the source code of each component and copy it to your own site\u003C/p\u003E\n\u003Cp\u003E\u003Ca rel=\u0022noopener\u0022 href=\u0022https://www.nuget.org/packages/Umbraco.Community.Templates.UmBootstrap\u0022 target=\u0022_blank\u0022 title=\u0022https://www.nuget.org/packages/Umbraco.Community.Templates.UmBootstrap\u0022 class=\u0022btn btn-primary\u0022\u003EInstall this Project Template on Nuget\u003C/a\u003E\u003C/p\u003E\n\u003Cp\u003E\u003Ca rel=\u0022noopener\u0022 href=\u0022https://github.com/UmTemplates/UmBootstrap\u0022 target=\u0022_blank\u0022 title=\u0022https://github.com/UmTemplates/UmBootstrap\u0022 class=\u0022btn btn-secondary\u0022\u003EContribute to this project on GitHub\u003C/a\u003E\u003C/p\u003E",
      "featurePropertyFeatureDescription": "If you are looking for a way to use Bootstrap web page layouts and components in your Umbraco site, you might want to check out this example website.",
      "featurePropertyFeatureSummary": "All feedback and suggestions are welcome"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/462e81190dc34194b17e980b4732831e",
      "values": [],
      "featurePropertyFeatureTitle": "Bootstrap",
      "featurePropertyFeatureDescription": "Making use of Bootstraps ready-made components to quickly build and style features common to almost all websites",
      "richTextContent": "\u003Cp\u003ECustomise Layouts and Features in minutes with Bootstraps easy to use Utility Classes.\u003C/p\u003E\n\u003Cp\u003EEverything from tabbed interfaces, slideshows, card grids all written in Bootstraps responsive components.\u003C/p\u003E\n\u003Cp\u003EThe CSS and JavaScript is taken care of for you but advanced users can dig deeper and customise the existing code or write your own.\u003C/p\u003E"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/0c54cd78724742b38fe0a0392f93edee",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u00223f613a2f-09dd-48c2-952c-cdde5bb3656b\u0022,\r\n    \u0022mediaKey\u0022: \u0022a5645c7e-33a0-4e87-ac95-6d14b64071d8\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/def0c0fe4a0541e1afa2574714fbb57b",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u0022ec8f56a9-e7da-425f-a2a5-71d2203f341b\u0022,\r\n    \u0022mediaKey\u0022: \u00222ea72d1f-463f-4818-adff-b097021d0ea7\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "420d1288-9016-4ddd-b200-b289c5aaeb96",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/a14a7557b0d24a7a8102d4e332548d1b",
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/c37f59cb801b426eab56252be0788201",
      "values": [],
      "featurePropertyFeatureTitle": "Rapid Application Development",
      "featurePropertyFeatureDescription": "Ideal for Rapid Application Development and testing out Umbraco packages",
      "richTextContent": "\u003Cp\u003EWant to build something fast?\u003C/p\u003E\n\u003Cp\u003EWant to test a package.\u003C/p\u003E\n\u003Cp\u003EUmBootstrap gives you a test site with plenty of ready made pages and content in minutes.\u003C/p\u003E"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/8290a6616f844459aef2db884f061ad8",
      "values": [],
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "500",
      "layoutSettingsBackgroundImagePicker": "[]",
      "layoutSettingsColourOpacity": "1",
      "layoutAreasColourPicker": ""
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e6999ca46aca48e2840ae1a40cf88b8b",
      "values": [],
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "500",
      "layoutSettingsBackgroundImagePicker": "[\r\n  {\r\n    \u0022key\u0022: \u0022da76e097-c5b0-4087-896f-29d1b1017d46\u0022,\r\n    \u0022mediaKey\u0022: \u00229db324f4-b5f7-4f3f-8a33-65784e312ff7\u0022\r\n  }\r\n]",
      "layoutSettingsColourOpacity": "1",
      "layoutAreasColourPicker": "{\r\n  \u0022value\u0022: \u0022f8f9fa\u0022,\r\n  \u0022label\u0022: \u0022text-bg-light\u0022,\r\n  \u0022sortOrder\u0022: 6,\r\n  \u0022id\u0022: \u00227\u0022\r\n}"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/7735c8bf338248b5a838de2dab9923f9",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/5047de4bdf644025949fbbd7396f9bc4",
      "values": [],
      "layoutSettingsColourPicker": "{\r\n  \u0022value\u0022: \u00226610f2\u0022,\r\n  \u0022label\u0022: \u0022--bs-indigo-rgb\u0022,\r\n  \u0022sortOrder\u0022: 2,\r\n  \u0022id\u0022: \u00223\u0022\r\n}",
      "layoutSettingsColourShades": "500",
      "layoutSettingsBackgroundImagePicker": "[]",
      "layoutSettingsColourOpacity": "1",
      "layoutAreasColourPicker": ""
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/73b00ef896d54f739bf559d1ff646aff",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/76b7c5df0c5644e092e34dd723758fdf",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/57c7c2a5de1c4740a5d28062970aa549",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/113c9654dafa46f293a5a5fb10908e76",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/4efe82d1eaa24d1e893d364b22ff905c",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/ac1d0bc4e6c34123a26cbb6c353b810e",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/acaf2d5bd8144d1d935f66a7207c06d3",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/19454932afeb4613918535522d837b4d",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "0ed56b7f-ed06-446b-bd7a-10e5c7885bf7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "57c7c2a5-de1c-4740-a5d2-8062970aa549",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "498fd587-e7f9-4c07-9b43-f111d86afa27",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "8290a661-6f84-4459-aef2-db884f061ad8",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "69ed9fdf-f61d-43f7-a25a-6d638daa255e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "113c9654-dafa-46f2-93a5-a5fb10908e76",
                "settingsUdi": null
              }
            ],
            "key": "bd7045ce-845c-4365-9bc7-f65b9a227995"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "d6f706dc-7a63-43c1-8c0b-41a06d67fc75",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "73b00ef8-96d5-4f73-9bf5-59d1ff646aff",
                "settingsUdi": null
              }
            ],
            "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7553baae-3811-4e78-926a-1798288cbc4b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "5047de4b-df64-4025-949f-bbd7396f9bc4",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "9a2f9539-fc81-4ef7-97f8-ededb8f0f444",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7735c8bf-3382-48b5-a838-de2dab9923f9",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "0c54cd78-7247-42b3-8fe0-a0392f93edee",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4efe82d1-eaa2-4d1e-893d-364b22ff905c",
                "settingsUdi": null
              }
            ],
            "key": "bd7045ce-845c-4365-9bc7-f65b9a227995"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "462e8119-0dc3-4194-b17e-980b4732831e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "76b7c5df-0c56-44e0-92e3-4dd723758fdf",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "def0c0fe-4a05-41e1-afa2-574714fbb57b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ac1d0bc4-e6c3-4123-a26c-bb6c353b810e",
                "settingsUdi": null
              }
            ],
            "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "3c1eaad9-261f-4e3a-a532-af3df42ee27a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e6999ca4-6aca-48e2-840a-e1a40cf88b8b",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "c37f59cb-801b-426e-ab56-252be0788201",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "19454932-afeb-4613-9185-35522d837b4d",
                "settingsUdi": null
              }
            ],
            "key": "bcede4d7-7de0-4338-948c-53e4ddf8f1e3"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a14a7557-b0d2-4a7a-8102-d4e332548d1b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "acaf2d5b-d814-4d1d-935f-66a7207c06d3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[UmBootstrap is an Umbraco Website Starter Kit using Bootstrap Templates and a comprehensive Component Library all available for you to use in your projects]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "4110b763-a5f3-43f7-a70d-94f48d7a3c67",
    "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Umbootstrap]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Home]]></Value>
    </pageTitleShort>
  </Properties>
</Content>