<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-06-02T16:21:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6e663519-fb4c-4cd9-b33b-f413f340658b">Home</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "498fd587-e7f9-4c07-9b43-f111d86afa27",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "0ed56b7f-ed06-446b-bd7a-10e5c7885bf7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "key": "3c1eaad9-261f-4e3a-a532-af3df42ee27a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "9a2f9539-fc81-4ef7-97f8-ededb8f0f444",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Umbraco"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "All the benefits of Umbraco, the friendly CMS, including limitless customisation, great editor experience and hundreds of community built packages"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EAn enhanced back office using Block Preview Package.\u00A0Edit pages with true WYSIWYG or switch to Sort Mode for a simple view.\u003C/p\u003E\n\u003Cp\u003EA selection of Layout Templates with examples so you can make your own.\u003C/p\u003E\n\u003Cp\u003EA comprehensive library of Feature Components available to use in your own projects.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "key": "7553baae-3811-4e78-926a-1798288cbc4b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "69ed9fdf-f61d-43f7-a25a-6d638daa255e",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "584aee23-2924-4f62-a5ea-052df8152306",
              "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Welcome"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Umbootstrap is an Umbraco community project"
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "d6f706dc-7a63-43c1-8c0b-41a06d67fc75",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Introduction"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EIt shows how to create common Bootstrap elements such as navbar, carousel, cards, forms, and more using C# Razor Umbraco code.\u003C/p\u003E\n\u003Cp\u003EYou can view the source code of each component and copy it to your own site\u003C/p\u003E\n\u003Cp\u003E\u003Ca rel=\u0022noopener\u0022 href=\u0022https://www.nuget.org/packages/Umbraco.Community.Templates.UmBootstrap\u0022 target=\u0022_blank\u0022 title=\u0022https://www.nuget.org/packages/Umbraco.Community.Templates.UmBootstrap\u0022 class=\u0022btn btn-primary\u0022\u003EInstall this Project Template on Nuget\u003C/a\u003E\u003C/p\u003E\n\u003Cp\u003E\u003Ca rel=\u0022noopener\u0022 href=\u0022https://github.com/UmTemplates/UmBootstrap\u0022 target=\u0022_blank\u0022 title=\u0022https://github.com/UmTemplates/UmBootstrap\u0022 class=\u0022btn btn-secondary\u0022\u003EContribute to this project on GitHub\u003C/a\u003E\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "If you are looking for a way to use Bootstrap web page layouts and components in your Umbraco site, you might want to check out this example website."
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "All feedback and suggestions are welcome"
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "462e8119-0dc3-4194-b17e-980b4732831e",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Bootstrap"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Making use of Bootstraps ready-made components to quickly build and style features common to almost all websites"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003ECustomise Layouts and Features in minutes with Bootstraps easy to use Utility Classes.\u003C/p\u003E\n\u003Cp\u003EEverything from tabbed interfaces, slideshows, card grids all written in Bootstraps responsive components.\u003C/p\u003E\n\u003Cp\u003EThe CSS and JavaScript is taken care of for you but advanced users can dig deeper and customise the existing code or write your own.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "0c54cd78-7247-42b3-8fe0-a0392f93edee",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3f613a2f-09dd-48c2-952c-cdde5bb3656b",
              "mediaKey": "a5645c7e-33a0-4e87-ac95-6d14b64071d8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "def0c0fe-4a05-41e1-afa2-574714fbb57b",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ec8f56a9-e7da-425f-a2a5-71d2203f341b",
              "mediaKey": "2ea72d1f-463f-4818-adff-b097021d0ea7",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "420d1288-9016-4ddd-b200-b289c5aaeb96",
      "key": "a14a7557-b0d2-4a7a-8102-d4e332548d1b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "c37f59cb-801b-426e-ab56-252be0788201",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Rapid Application Development"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Ideal for Rapid Application Development and testing out Umbraco packages"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "markup": "\u003Cp\u003EWant to build something fast?\u003C/p\u003E\n\u003Cp\u003EWant to test a package.\u003C/p\u003E\n\u003Cp\u003EUmBootstrap gives you a test site with plenty of ready made pages and content in minutes.\u003C/p\u003E",
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "8290a661-6f84-4459-aef2-db884f061ad8",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsBackgroundImagePicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutAreasColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "e6999ca4-6aca-48e2-840a-e1a40cf88b8b",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsBackgroundImagePicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "da76e097-c5b0-4087-896f-29d1b1017d46",
              "mediaKey": "9db324f4-b5f7-4f3f-8a33-65784e312ff7",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutAreasColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "f8f9fa",
            "label": "text-bg-light",
            "sortOrder": 6,
            "id": "7"
          }
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "7735c8bf-3382-48b5-a838-de2dab9923f9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "5047de4b-df64-4025-949f-bbd7396f9bc4",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "6610f2",
            "label": "--bs-indigo-rgb",
            "sortOrder": 2,
            "id": "3"
          }
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsBackgroundImagePicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutAreasColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "73b00ef8-96d5-4f73-9bf5-59d1ff646aff",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "76b7c5df-0c56-44e0-92e3-4dd723758fdf",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "57c7c2a5-de1c-4740-a5d2-8062970aa549",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "113c9654-dafa-46f2-93a5-a5fb10908e76",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "4efe82d1-eaa2-4d1e-893d-364b22ff905c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "ac1d0bc4-e6c3-4123-a26c-bb6c353b810e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "acaf2d5b-d814-4d1d-935f-66a7207c06d3",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "19454932-afeb-4613-9185-35522d837b4d",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "498fd587-e7f9-4c07-9b43-f111d86afa27",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0ed56b7f-ed06-446b-bd7a-10e5c7885bf7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3c1eaad9-261f-4e3a-a532-af3df42ee27a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9a2f9539-fc81-4ef7-97f8-ededb8f0f444",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7553baae-3811-4e78-926a-1798288cbc4b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "69ed9fdf-f61d-43f7-a25a-6d638daa255e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d6f706dc-7a63-43c1-8c0b-41a06d67fc75",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "462e8119-0dc3-4194-b17e-980b4732831e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0c54cd78-7247-42b3-8fe0-a0392f93edee",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "def0c0fe-4a05-41e1-afa2-574714fbb57b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a14a7557-b0d2-4a7a-8102-d4e332548d1b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c37f59cb-801b-426e-ab56-252be0788201",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "0ed56b7f-ed06-446b-bd7a-10e5c7885bf7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "57c7c2a5-de1c-4740-a5d2-8062970aa549",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "498fd587-e7f9-4c07-9b43-f111d86afa27",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "8290a661-6f84-4459-aef2-db884f061ad8",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "69ed9fdf-f61d-43f7-a25a-6d638daa255e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "113c9654-dafa-46f2-93a5-a5fb10908e76",
                "settingsUdi": null
              }
            ],
            "key": "bd7045ce-845c-4365-9bc7-f65b9a227995"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "d6f706dc-7a63-43c1-8c0b-41a06d67fc75",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "73b00ef8-96d5-4f73-9bf5-59d1ff646aff",
                "settingsUdi": null
              }
            ],
            "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7553baae-3811-4e78-926a-1798288cbc4b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "5047de4b-df64-4025-949f-bbd7396f9bc4",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "9a2f9539-fc81-4ef7-97f8-ededb8f0f444",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7735c8bf-3382-48b5-a838-de2dab9923f9",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "0c54cd78-7247-42b3-8fe0-a0392f93edee",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4efe82d1-eaa2-4d1e-893d-364b22ff905c",
                "settingsUdi": null
              }
            ],
            "key": "bd7045ce-845c-4365-9bc7-f65b9a227995"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "462e8119-0dc3-4194-b17e-980b4732831e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "76b7c5df-0c56-44e0-92e3-4dd723758fdf",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "def0c0fe-4a05-41e1-afa2-574714fbb57b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ac1d0bc4-e6c3-4123-a26c-bb6c353b810e",
                "settingsUdi": null
              }
            ],
            "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "3c1eaad9-261f-4e3a-a532-af3df42ee27a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e6999ca4-6aca-48e2-840a-e1a40cf88b8b",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "contentKey": "c37f59cb-801b-426e-ab56-252be0788201",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "19454932-afeb-4613-9185-35522d837b4d",
                "settingsUdi": null
              }
            ],
            "key": "bcede4d7-7de0-4338-948c-53e4ddf8f1e3"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a14a7557-b0d2-4a7a-8102-d4e332548d1b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "acaf2d5b-d814-4d1d-935f-66a7207c06d3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[UmBootstrap is an Umbraco Website Starter Kit using Bootstrap Templates and a comprehensive Component Library all available for you to use in your projects]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "4110b763-a5f3-43f7-a70d-94f48d7a3c67",
    "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Umbootstrap]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Home]]></Value>
    </pageTitleShort>
  </Properties>
</Content>