<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd531492-6cc7-4629-94a0-ff13d8a5493d" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-06-02T16:29:34</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyright>
      <Value><![CDATA[Copyright UmBootstrap]]></Value>
    </copyright>
    <logo>
      <Value><![CDATA[[
  {
    "key": "43e6b6c0-b7f1-42dd-a2d5-1cfb398cd83e",
    "mediaKey": "cdc0f012-cc9f-4cdb-be79-f1eb7b46402f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo>
    <siteName>
      <Value><![CDATA[UmBootstrap]]></Value>
    </siteName>
    <topNavigation>
      <Value><![CDATA[[
  {
    "key": "bf97819e-c428-4f49-992f-6bb24e52e7fa",
    "name": "Home",
    "url": null,
    "icon": "icon-home color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/bf97819ec4284f49992f6bb24e52e7fa",
    "contentKey": "d5b1563d-db6b-42bc-b4bf-950f33894ad2",
    "anchor": "",
    "description": null,
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "bf97819e-c428-4f49-992f-6bb24e52e7fa"
  },
  {
    "key": "1279c1cf-d794-4ede-a3b7-759935791ad0",
    "name": "About",
    "url": null,
    "icon": "icon-newspaper color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/1279c1cfd7944edea3b7759935791ad0",
    "contentKey": "6e199eee-4f90-4a1c-90ce-867d332ff091",
    "anchor": "",
    "description": null,
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "1279c1cf-d794-4ede-a3b7-759935791ad0"
  },
  {
    "key": "b22f59b6-94a6-44c7-9893-6bdfcbd2f600",
    "name": "Layouts",
    "url": null,
    "icon": "icon-newspaper color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/b22f59b694a644c798936bdfcbd2f600",
    "contentKey": "a0c01909-18ac-453e-a603-ff46c435701e",
    "anchor": "",
    "description": null,
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "b22f59b6-94a6-44c7-9893-6bdfcbd2f600",
    "noreferrer": "",
    "noopener": "",
    "includeChildNodes": true
  },
  {
    "key": "61853994-876f-4d25-ac91-81ac126703c6",
    "name": "Features",
    "url": null,
    "icon": "icon-newspaper color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/61853994876f4d25ac9181ac126703c6",
    "contentKey": "fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2",
    "anchor": "",
    "description": null,
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "61853994-876f-4d25-ac91-81ac126703c6",
    "noreferrer": "",
    "noopener": "",
    "includeChildNodes": true
  },
  {
    "key": "6854770e-24e2-45b7-8558-fb565af34035",
    "name": "Example Section",
    "url": null,
    "icon": "icon-newspaper color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/6854770e24e245b78558fb565af34035",
    "contentKey": "10fbe582-ff8d-47b2-896b-f7ab93ee3b99",
    "anchor": "",
    "description": null,
    "customClasses": "",
    "hideLoggedIn": false,
    "hideLoggedOut": false,
    "noReferrer": false,
    "noOpener": false,
    "image": [],
    "children": [],
    "unique": "6854770e-24e2-45b7-8558-fb565af34035",
    "noreferrer": "",
    "noopener": "",
    "includeChildNodes": true
  }
]]]></Value>
    </topNavigation>
  </Properties>
</Content>