<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4a388b9-7c67-4925-a8cc-a5b963781d8e" Alias="Bootstrap" Level="2">
  <Info>
    <Parent Key="d42a9c31-3ffb-4a6a-8752-c0c91a500c0f">Software</Parent>
    <Path>/Software/Bootstrap</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-01T11:54:05</CreateDate>
    <NodeName Default="Bootstrap" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x4ekh3dh/bootstrap.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>