<?xml version="1.0" encoding="utf-8"?>
<Media Key="223ccce2-2e15-4450-b536-d85daf9fd6dd" Alias="Feature - Internal Links - Slideshow - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureInternalLinksSlideshowIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T10:54:49</CreateDate>
    <NodeName Default="Feature - Internal Links - Slideshow - Icon" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0pgdyiqv/thumbnails-icons-internal-links-slideshow.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>