<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc91d7d6-1efa-4639-a026-11b64d430d81" Alias="Feature - Code - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureCodeIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T07:36:11</CreateDate>
    <NodeName Default="Feature - Code - Icon" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/25ljd5h0/thumbnails-icons-code.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>