<?xml version="1.0" encoding="utf-8"?>
<Media Key="8dc79e9b-633b-4dd5-8f7f-d3737a8553aa" Alias="Feature - Internal Links - Selected - Icon" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureInternalLinksSelectedIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T10:32:36</CreateDate>
    <NodeName Default="Feature - Internal Links - Selected - Icon" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vkpmpdj1/thumbnails-icons-internal-links-selected.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>