<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c213d1c-a3d8-4d69-96da-21871482044b" Alias="Feature - Rich Text Editor - Example" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureRichTextEditorExample</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-07T19:59:04</CreateDate>
    <NodeName Default="Feature - Rich Text Editor - Example" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/di4dc5gy/feature-rich-text-editor-example.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>