<?xml version="1.0" encoding="utf-8"?>
<Media Key="c137d832-f0b7-461a-a68e-f9ffc984ca6a" Alias="Layout 8" Level="2">
  <Info>
    <Parent Key="993da213-e447-47b8-92f0-8d70beb9b399">Layouts</Parent>
    <Path>/Layouts/Layout8</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-08-16T20:33:37</CreateDate>
    <NodeName Default="Layout 8" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/apmdpqnx/layout-8.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>