@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<FeatureComponentFaq>>

<h4>@Model.Content.FeaturePropertyFaqsQuestion</h4>
<p>@Model.Content.FeaturePropertyFaqsAnswer</p>