<?xml version="1.0" encoding="utf-8"?>
<Content Key="a124ee20-e6ce-4765-afc5-8128834b4e3d" Alias="12 Column Layout" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layouts</Parent>
    <Path>/Home/Layouts/ColumnLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-01T10:26:58</CreateDate>
    <NodeName Default="12 Column Layout" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/a1176ccd58a7472fac8b22ea3e7b491e"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/698b7a4002e441e4ae018cc88e92c67c",
        "settingsUdi": "umb://element/d82e3769e57f45aa82c05a5b434fc3a9"
      },
      {
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/8450333534d8485eb5cba7ee6721b7b3"
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/24b6b05b6e074aa88a2d10a437a1ca48",
                "settingsUdi": "umb://element/fba60448514b4db187e801b17724e3c3"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/4a337bcb61b04f8199e209daebffe753",
        "settingsUdi": "umb://element/8d033a1e619b4493b571f747f6977eda"
      },
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/12ff1511c8b1438ca2d050121a216881"
              },
              {
                "contentUdi": "umb://element/01bbe225e64e4cfcb38411f8d5147cf6",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e4bd80c769164354b04fc90a9b574ed4",
        "settingsUdi": "umb://element/a79cc90c61ef4550a7737aafd43c5323"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "05a27f33-b1d6-49b0-89fe-755829ae138c",
      "udi": "umb://element/01bbe225e64e4cfcb38411f8d5147cf6",
      "links": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2,umb://document/af8fb0fe0eb944feb49870ab76351d41,umb://document/0d1802258d8e4c65a59a9482e3f255c1",
      "featurePropertyFeatureTitle": "Latest Articles",
      "featurePropertyFeatureDescription": "Internal Links displayed as a slidehow"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/4a337bcb61b04f8199e209daebffe753"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/8450333534d8485eb5cba7ee6721b7b3"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/24b6b05b6e074aa88a2d10a437a1ca48",
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The 12 column template is the full width of the Page Grid",
      "richTextContent": "<p>If you want to create a block area of 12 columns on your website, you can use this simple template.</p>\n<p>This template allows you to add features such as images, text, buttons, or links inside the block area. You can also customize the appearance of the block area by changing the background color, border, padding, or margin.</p>\n<p>See the examples below of a Slideshow and also a Grid of llinks</p>",
      "featurePropertyFeatureSummary": ""
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/e4bd80c769164354b04fc90a9b574ed4"
    },
    {
      "contentTypeKey": "3db256d9-ff75-41a7-b5b4-f1fcaec92458",
      "udi": "umb://element/12ff1511c8b1438ca2d050121a216881",
      "links": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2,umb://document/af8fb0fe0eb944feb49870ab76351d41,umb://document/0d1802258d8e4c65a59a9482e3f255c1",
      "featurePropertyFeatureTitle": "Our favourite pages",
      "featurePropertyFeatureDescription": "This is an example of an Internal Links Feature that is hooked up to multi node tree picker"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/698b7a4002e441e4ae018cc88e92c67c"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/a1176ccd58a7472fac8b22ea3e7b491e"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/8d033a1e619b4493b571f747f6977eda"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/fba60448514b4db187e801b17724e3c3"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/a79cc90c61ef4550a7737aafd43c5323"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/d82e3769e57f45aa82c05a5b434fc3a9"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[12 Column Layout]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "6c46b0ae-02b3-4428-92de-4eab48cb400e",
    "mediaKey": "337bba6f-5c9a-49ae-b79d-59b627b1ced0"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[12 Column Layout]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[12]]></Value>
    </pageTitleShort>
  </Properties>
</Content>