<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c585e31-49ff-4ed5-9565-d9a495ae8d90" Alias="3 6 3 Column Layout" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layout</Parent>
    <Path>/Home/Layout/ColumnLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-01T10:26:58</CreateDate>
    <NodeName Default="3 6 3 Column Layout" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[3 6 3 Column Layout]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[3 6 3 Column Layout]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "41d7fe89-1f00-4e55-899d-597d1c06fefd",
    "mediaKey": "c337441b-2c0f-4a94-a514-21351f4b40b1"
  }
]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>