<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c585e31-49ff-4ed5-9565-d9a495ae8d90" Alias="3 6 3 Column Layout" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layouts</Parent>
    <Path>/Home/Layouts/ColumnLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-01T10:26:58</CreateDate>
    <NodeName Default="3 6 3 Column Layout" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c79b0e7dfa7e4704beb6150c191c6308",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/21a0577eb97b44aea12d1aaaf3ae0820",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": []
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/c79b0e7dfa7e4704beb6150c191c6308"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/21a0577eb97b44aea12d1aaaf3ae0820",
      "featurePropertyFeatureTitle": "Nav"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[3 6 3 Column Layout]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[3 6 3 Column Layout]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "434e56b6-4713-4d1b-b95c-ebde95df0018",
    "mediaKey": "d443c84d-997b-4053-83df-e360ab85b367"
  }
]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>