<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c585e31-49ff-4ed5-9565-d9a495ae8d90" Alias="3 6 3 Column Layout" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layouts</Parent>
    <Path>/Home/Layouts/ColumnLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-01T10:26:58</CreateDate>
    <NodeName Default="3 6 3 Column Layout" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/1f664fa24c5a400eace695c8e8c9e09b"
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/09c0762983334eebb0607373cea49647"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/62590076a73f40e9b0c8ae9310dd6f0a"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/96fbf8dfa5b74ba1863c2fdd445a3ee2"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f22579d102bc49fba6d949ee1f054e7f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/f22579d102bc49fba6d949ee1f054e7f"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/1f664fa24c5a400eace695c8e8c9e09b",
      "richTextContent": "<h2>Block Grid</h2>\n<p>Umbraco Block grid works perfectly with CSS grid.</p>\n<p>Unfortunatly on of the most common CSS frameworks used by many developers uses CSS Flexbox instead.</p>\n<p>Well that was the case until Bootstrap 5.1 where Bootstrap CSS Grid was introduced behind a flag.</p>\n<p>This site uses both Umbraco Block Grid and Bootstrap CSS Grid.</p>"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/09c0762983334eebb0607373cea49647",
      "image": "[\r\n  {\r\n    \"key\": \"584aee23-2924-4f62-a5ea-052df8152306\",\r\n    \"mediaKey\": \"da3b0877-0904-4638-8e3b-e8b7661ec696\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/62590076a73f40e9b0c8ae9310dd6f0a",
      "richTextContent": "<h2>Introduction</h2>\n<p>If you are looking for a way to use Bootstrap web page layouts and components in your Umbraco site, you might want to check out this example website.</p>\n<p>It shows how to create common Bootstrap elements such as navbar, carousel, cards, forms, and more using C# Razor Umbraco code.</p>\n<p>You can view the source code of each component and copy it to your own site</p>\n<p>This website is a community project that aims to help Umbraco developers learn how to use Bootstrap in their projects.</p>\n<p>You can also contribute to the project by adding new components or improving the existing ones.</p>"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/96fbf8dfa5b74ba1863c2fdd445a3ee2",
      "richTextContent": "<h2>Bootstrap Grid</h2>\n<p>Bootstrap 5.1 onwards provides a method for creating layouts using CSS Grid.</p>\n<p>It needs to be toggled on to use it but enabling it disables the default flexbox Bootstrap CSS Grid.</p>\n<p>This site uses Bootstrap 5.3 CSS Grid.</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[3 6 3 Column Layout]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[3 6 3 Column Layout]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "41d7fe89-1f00-4e55-899d-597d1c06fefd",
    "mediaKey": "c337441b-2c0f-4a94-a514-21351f4b40b1"
  }
]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>