<?xml version="1.0" encoding="utf-8"?>
<Content Key="17938205-f958-4478-8d75-6dbfc40a553a" Alias="3 9 Column Layout" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layouts</Parent>
    <Path>/Home/Layouts/ColumnLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T18:39:05</CreateDate>
    <NodeName Default="3 9 Column Layout" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/6409cfadd7dc414a847b9b7ec6a110ea"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/2587678c8f1e44ff86278dc9977e126a",
        "settingsUdi": "umb://element/c05cc7f94b8c40508986b4bfa5fcc630"
      },
      {
        "contentUdi": "umb://element/c197111cf1e6493a8f94c359370a5406",
        "settingsUdi": "umb://element/d59cd0d842ef4db7be22998d2046dd57",
        "areas": [
          {
            "key": "afe26812-3f06-4d32-842a-c415b473fb10",
            "items": [
              {
                "contentUdi": "umb://element/b295206cb9a846edb86b88b45d01f875",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b",
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "rowSpan": 1,
                "contentUdi": "umb://element/57f708d581b048bcb2431623f70c7b63"
              },
              {
                "areas": [],
                "columnSpan": 9,
                "rowSpan": 1,
                "contentUdi": "umb://element/ff0c3a0408eb46b6a6711162e5c83fd8",
                "settingsUdi": "umb://element/f090bf3d1eb74fb4822da76f3d7953ce"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/ff0c3a0408eb46b6a6711162e5c83fd8",
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Rich Text Editor or RTE can be added to most areas in both Block List and Block Grid",
      "richTextContent": "<p>Here is some example text added to page so you can see how it looks.</p>",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/57f708d581b048bcb2431623f70c7b63",
      "featurePropertyFeatureTitle": "Feature - Image",
      "featurePropertyFeatureDescription": "Feature - Image",
      "image": "[\r\n  {\r\n    \"key\": \"12399f7e-a7e8-48c0-a0a2-6e25c364c6b2\",\r\n    \"mediaKey\": \"70a55b90-5f78-4042-878f-0c54ff85c8e5\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "udi": "umb://element/c197111cf1e6493a8f94c359370a5406"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/b295206cb9a846edb86b88b45d01f875"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/2587678c8f1e44ff86278dc9977e126a"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/6409cfadd7dc414a847b9b7ec6a110ea"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/f090bf3d1eb74fb4822da76f3d7953ce"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/d59cd0d842ef4db7be22998d2046dd57"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/c05cc7f94b8c40508986b4bfa5fcc630"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[3 9 Column Layout]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "1995189d-db79-4de0-bd54-c6afa9c1e5d1",
    "mediaKey": "fcba1793-7f32-4ac4-bcee-da6d6fc69c08"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[3 9 Column Layout]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[3 9]]></Value>
    </pageTitleShort>
  </Properties>
</Content>