<?xml version="1.0" encoding="utf-8"?>
<Content Key="2b45b8f0-3ec2-4dd7-bf41-30f485d5dba7" Alias="8 Column Layout" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layouts</Parent>
    <Path>/Home/Layouts/ColumnLayout</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-16T20:34:07</CreateDate>
    <NodeName Default="8 Column Layout" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/7dbc519021974444aa137f40785689c8"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/531288db4a2b40828648751c1100a2c7",
        "settingsUdi": "umb://element/f0ec051b701a4c53a4156dbc4602d08e"
      },
      {
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/f2e599aea6d243f1b256a39e5120b9ca"
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/b6c3ec117d3f4c489fd9d150796645c6",
                "settingsUdi": "umb://element/be3b0d041cb74244a196b4ed6cc233df"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f1b11d61c939451dac12d65bb32cc2d8",
        "settingsUdi": "umb://element/e292611b23f84bc38f581707b983ecdf"
      },
      {
        "contentUdi": "umb://element/6976a22766134170bf27ba5907739e12",
        "settingsUdi": "umb://element/6a19059ca5464015a3535cfc4dd572be",
        "areas": [
          {
            "key": "bcede4d7-7de0-4338-948c-53e4ddf8f1e3",
            "items": [
              {
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1,
                "contentUdi": "umb://element/05d77fde7fde4aaeb21c5b5f859cf1e2"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/f1b11d61c939451dac12d65bb32cc2d8"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/f2e599aea6d243f1b256a39e5120b9ca"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/b6c3ec117d3f4c489fd9d150796645c6",
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The 8 column template is 8 columns wide and centered",
      "richTextContent": "<p>If you want to create a block area of 8 columns on your website, you can use this simple template.</p>\n<p>This template allows you to add features such as images, text, buttons, or links inside the block area. You can also customize the appearance of the block area by changing the background color, border, padding, or margin.</p>\n<p>See the examples on this page</p>",
      "featurePropertyFeatureSummary": ""
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/531288db4a2b40828648751c1100a2c7"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/7dbc519021974444aa137f40785689c8"
    },
    {
      "contentTypeKey": "420d1288-9016-4ddd-b200-b289c5aaeb96",
      "udi": "umb://element/6976a22766134170bf27ba5907739e12"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/05d77fde7fde4aaeb21c5b5f859cf1e2",
      "image": "[\r\n  {\r\n    \"key\": \"45b69e82-65f9-4fe0-b32b-373c662dc3d7\",\r\n    \"mediaKey\": \"753ebd15-f6be-4a44-bd97-81e2047cab98\"\r\n  }\r\n]",
      "featurePropertyFeatureTitle": "Umbraco",
      "featurePropertyFeatureDescription": "Umbraco is a popular open source content management system (CMS) that allows you to create and manage websites, blogs, e-commerce platforms, and more."
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/e292611b23f84bc38f581707b983ecdf"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/be3b0d041cb74244a196b4ed6cc233df"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/f0ec051b701a4c53a4156dbc4602d08e"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/6a19059ca5464015a3535cfc4dd572be"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[8 Column Layout]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "f6957e76-4357-4304-b797-29d5bf5fd8b3",
    "mediaKey": "c137d832-f0b7-461a-a68e-f9ffc984ca6a"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[8 Column Layout]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[8]]></Value>
    </pageTitleShort>
  </Properties>
</Content>