<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e199eee-4f90-4a1c-90ce-867d332ff091" Alias="About" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:31:23</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[About this web site]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[About]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>