<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e199eee-4f90-4a1c-90ce-867d332ff091" Alias="About" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:31:23</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c167338cbf8f45ddb28d27988b3460c8",
        "settingsUdi": "umb://element/261c49e492d34b36b133f1ebc0063c4e",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/0d53237692ee42c79aaee95c3490a3ef",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/076025c6d87342cd9f31f00d1cbe1b5a"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/60821a806f8e41d9843345cf68e6f170",
        "settingsUdi": "umb://element/0e08c6e9bcbe4db0beda0e6dd268725e",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/6b699b0845844427a4dcc0e504fde7ac",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/5d7801703c5f4e27b48f127626fd9fb2"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/c167338cbf8f45ddb28d27988b3460c8"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/0d53237692ee42c79aaee95c3490a3ef"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/60821a806f8e41d9843345cf68e6f170"
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "udi": "umb://element/6b699b0845844427a4dcc0e504fde7ac"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/261c49e492d34b36b133f1ebc0063c4e"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/0e08c6e9bcbe4db0beda0e6dd268725e",
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "500",
      "layoutSettingsColourOpacity": "0.375",
      "layoutSettingsBackgroundImagePicker": "[]"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/076025c6d87342cd9f31f00d1cbe1b5a"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/5d7801703c5f4e27b48f127626fd9fb2"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[If you are looking for a way to use Bootstrap web page layouts and components in your Umbraco site, you might want to check out this example website.]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[
  {
    "key": "2ccfdfbb-1f2a-4542-8d01-5c02000cdb19",
    "mediaKey": "9db324f4-b5f7-4f3f-8a33-65784e312ff7"
  }
]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[About UmBootstrap]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[About]]></Value>
    </pageTitleShort>
  </Properties>
</Content>