<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e199eee-4f90-4a1c-90ce-867d332ff091" Alias="About" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:31:23</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9b3afb94c41f4f33b8cf5792e7990da3",
        "areas": [
          {
            "key": "bd7045ce-845c-4365-9bc7-f65b9a227995",
            "items": [
              {
                "contentUdi": "umb://element/c421730ffa984896a4795e9d81484550",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/f53b07003d9649f0b635c8bbf5f89447",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "settingsUdi": "umb://element/0da5cddde2c143369a1562b4b8d7b906"
              }
            ]
          },
          {
            "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b",
            "items": [
              {
                "contentUdi": "umb://element/f63a24fa43ff4836b4ea5d60988f3f7e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/ad173df85b994b5ca03cd6e522eb076a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "settingsUdi": "umb://element/668f9af87ceb483c92bfa1a049e3a382"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/50de79e53bad44d88ba70fcfb16723e3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "udi": "umb://element/9b3afb94c41f4f33b8cf5792e7990da3"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/f63a24fa43ff4836b4ea5d60988f3f7e",
      "image": "[\r\n  {\r\n    \"key\": \"0e28515d-82d1-40ae-9913-3c8fbfa333f4\",\r\n    \"mediaKey\": \"f4a388b9-7c67-4925-a8cc-a5b963781d8e\"\r\n  }\r\n]",
      "featurePropertyFeatureTitle": "Bootstrap",
      "featurePropertyFeatureDescription": "Bootstrap is a popular framework for creating responsive websites with a wide range of readymade ready to use common web layouts and components."
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/c421730ffa984896a4795e9d81484550",
      "image": "[\r\n  {\r\n    \"key\": \"45b69e82-65f9-4fe0-b32b-373c662dc3d7\",\r\n    \"mediaKey\": \"753ebd15-f6be-4a44-bd97-81e2047cab98\"\r\n  }\r\n]",
      "featurePropertyFeatureTitle": "Umbraco",
      "featurePropertyFeatureDescription": "Umbraco is a popular open source content management system (CMS) that allows you to create and manage websites, blogs, e-commerce platforms, and more."
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/f53b07003d9649f0b635c8bbf5f89447",
      "featurePropertyFeatureTitle": ".Net",
      "featurePropertyFeatureDescription": "Umbraco is built on the .NET framework and uses a SQL database to store data. Umbraco is flexible, scalable, and easy to use, with a friendly and active community of developers and users.",
      "richTextContent": "<h3>Benefits</h3>\n<p>Some of the benefits of using Umbraco are:</p>\n<ul>\n<li>You can customize your website with templates, themes, plugins, and extensions that suit your needs and preferences.</li>\n<li>You can edit your content with a rich text editor, media library, and grid layout system that give you full control over the look and feel of your website.</li>\n<li>You can manage your website with a user-friendly backoffice interface that lets you create, update, and publish content with ease.</li>\n<li>You can integrate your website with various third-party services and applications, such as Google Analytics, Mailchimp, Stripe, and more.</li>\n<li>You can secure your website with SSL encryption, user roles and permissions, and GDPR compliance features.</li>\n</ul>",
      "featurePropertyFeatureSummary": "If you are interested in learning more about Umbraco, you can visit their official website at https://umbraco.com/, where you can find documentation, tutorials, case studies, and more. You can also download Umbraco for free and start building your own website today."
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/ad173df85b994b5ca03cd6e522eb076a",
      "featurePropertyFeatureTitle": "SCSS",
      "featurePropertyFeatureDescription": "Bootstrap is completely customisable using Sass variables.",
      "richTextContent": "<p>Bootstrap provides a set of pre-designed components, such as buttons, forms, navigation bars, cards, and more, that you can use to build your web pages quickly and easily. Bootstrap also offers a grid system for laying out your content in a flexible and consistent way.</p>\n<h3>Millions of developers</h3>\n<p>Bootstrap was originally developed by Twitter engineers Mark Otto and Jacob Thornton in 2010 as a way to streamline their internal web development process. Since then, Bootstrap has grown to become one of the most widely used front-end frameworks in the world, with millions of developers and websites using it.</p>\n<h3>Open source</h3>\n<p>Bootstrap is open source and free to use. You can download the latest version from the official website, or use a CDN (content delivery network) to link to it directly from your HTML files. Bootstrap also has extensive documentation and tutorials to help you get started and learn how to use its features.</p>",
      "featurePropertyFeatureSummary": "If you want to create modern and responsive websites with minimal coding, Bootstrap is a great choice. Bootstrap can help you save time and effort, while ensuring that your web pages look good on any device and browser."
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/50de79e53bad44d88ba70fcfb16723e3",
      "layoutSettingsColourPicker": ""
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/0da5cddde2c143369a1562b4b8d7b906"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/668f9af87ceb483c92bfa1a049e3a382"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[If you are looking for a way to use Bootstrap web page layouts and components in your Umbraco site, you might want to check out this example website.]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[About]]></Value>
    </pageTitle>
  </Properties>
</Content>