<?xml version="1.0" encoding="utf-8"?>
<Content Key="d90cea4b-03c1-4f98-aa7e-ce5219c3f318" Alias="Bootstrap" Level="3">
  <Info>
    <Parent Key="6e199eee-4f90-4a1c-90ce-867d332ff091">About</Parent>
    <Path>/Home/About/Bootstrap</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-06T20:27:21</CreateDate>
    <NodeName Default="Bootstrap" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ebac1967fb3043f5a661d0cc418ec18f",
        "settingsUdi": "umb://element/02f670c34cea46768284d26fc2520b05",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/df635496311445e6a64272d2d819ba47",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/7b5c74f5f85447718c728e7421841967"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/8fb498e8debc4de38ae5eea2c0cd6099",
        "settingsUdi": "umb://element/c9f7d8afac104a7d9d90264e11ee528d",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/869511cba25c416e95e7971f61749ba8",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "settingsUdi": "umb://element/91c3fa8c1d3f45d2babb0e98d75c3cbb"
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/4fa53d4efef2428c98b4aff4b6bb1551",
                "settingsUdi": "umb://element/642a8f77e60c4213bb4dea167971ae46"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/e66d30dd898c40d1b9a5a3ff16089a92",
                "settingsUdi": "umb://element/31eaf1f40ef54a019a01f6efb406382d"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/c8e3be64509c41108e6a5f1fced2c4e6",
                "settingsUdi": "umb://element/fa21e31246c74ecb97740fedcb3c0f3d"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/8fb498e8debc4de38ae5eea2c0cd6099"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/4fa53d4efef2428c98b4aff4b6bb1551",
      "image": "[\r\n  {\r\n    \"key\": \"0e28515d-82d1-40ae-9913-3c8fbfa333f4\",\r\n    \"mediaKey\": \"f4a388b9-7c67-4925-a8cc-a5b963781d8e\"\r\n  }\r\n]",
      "featurePropertyFeatureTitle": "Bootstrap",
      "featurePropertyFeatureDescription": "Bootstrap is a popular framework for creating responsive websites with a wide range of readymade ready to use common web layouts and components."
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/e66d30dd898c40d1b9a5a3ff16089a92",
      "featurePropertyFeatureTitle": "SCSS",
      "featurePropertyFeatureDescription": "Bootstrap is completely customisable using Sass variables.",
      "richTextContent": "<p>Bootstrap provides a set of pre-designed components, such as buttons, forms, navigation bars, cards, and more, that you can use to build your web pages quickly and easily. Bootstrap also offers a grid system for laying out your content in a flexible and consistent way.</p>\n<h3>Millions of developers</h3>\n<p>Bootstrap was originally developed by Twitter engineers Mark Otto and Jacob Thornton in 2010 as a way to streamline their internal web development process. Since then, Bootstrap has grown to become one of the most widely used front-end frameworks in the world, with millions of developers and websites using it.</p>\n<h3>Open source</h3>\n<p>Bootstrap is open source and free to use. You can download the latest version from the official website, or use a CDN (content delivery network) to link to it directly from your HTML files. Bootstrap also has extensive documentation and tutorials to help you get started and learn how to use its features.</p>",
      "featurePropertyFeatureSummary": "If you want to create modern and responsive websites with minimal coding, Bootstrap is a great choice. Bootstrap can help you save time and effort, while ensuring that your web pages look good on any device and browser."
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/869511cba25c416e95e7971f61749ba8"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/c8e3be64509c41108e6a5f1fced2c4e6",
      "featurePropertyFeatureTitle": "Bootstrap Grid",
      "richTextContent": "<div class=\"feature__body\">\n<p>It needs to be toggled on to use it but enabling it disables the default flexbox Bootstrap CSS Grid.</p>\n</div>",
      "featurePropertyFeatureDescription": "Bootstrap 5.1 onwards provides a method for creating layouts using CSS Grid.",
      "featurePropertyFeatureSummary": "This site uses Bootstrap 5.3 CSS Grid."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/ebac1967fb3043f5a661d0cc418ec18f"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/df635496311445e6a64272d2d819ba47"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/c9f7d8afac104a7d9d90264e11ee528d",
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "500",
      "layoutSettingsBackgroundImagePicker": "[]"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/31eaf1f40ef54a019a01f6efb406382d"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/fa21e31246c74ecb97740fedcb3c0f3d"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/02f670c34cea46768284d26fc2520b05"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/7b5c74f5f85447718c728e7421841967"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/91c3fa8c1d3f45d2babb0e98d75c3cbb"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/642a8f77e60c4213bb4dea167971ae46"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Bootstrap is a popular framework for creating responsive websites with a wide range of readymade ready to use common web layouts and components.]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "636ff688-9416-4908-afb7-40c8da7e1f3a",
    "mediaKey": "f4a388b9-7c67-4925-a8cc-a5b963781d8e"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Bootstrap]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Bootstrap]]></Value>
    </pageTitleShort>
  </Properties>
</Content>