<?xml version="1.0" encoding="utf-8"?>
<Content Key="a407e1e5-da6f-46b5-a142-42d53f2e7277" Alias="Child Page 03" Level="4">
  <Info>
    <Parent Key="3a3cb279-688b-4516-b71f-de468931385b">Feature - Internal Links - Pagination</Parent>
    <Path>/Home/Features/FeatureInternalLinksPagination/ChildPage03</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T14:26:11</CreateDate>
    <NodeName Default="Child Page 03" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/e0fe3f6c17ab46059d1187e049fa1ce3"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/220bca6aa667428abe97b72d33adeee4",
        "settingsUdi": "umb://element/acc20873f27948ea99cdb1bbe1acaac9"
      },
      {
        "areas": [
          {
            "key": "afe26812-3f06-4d32-842a-c415b473fb10",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/aaec0519adb748fe9df84d41b4ccc8e9"
              }
            ]
          },
          {
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b",
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "rowSpan": 1,
                "contentUdi": "umb://element/0538d86078be47b593836a2e7333ce77"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/62cae0d87cc842428dbe93efce9c2f2d",
        "settingsUdi": "umb://element/aa6c2de129564c1b984c568d4298f605"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "udi": "umb://element/62cae0d87cc842428dbe93efce9c2f2d"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/aaec0519adb748fe9df84d41b4ccc8e9"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/0538d86078be47b593836a2e7333ce77",
      "image": "[\r\n  {\r\n    \"key\": \"a7580bd0-53ad-4e81-a9be-f269a9a32a55\",\r\n    \"mediaKey\": \"72b81a92-34c6-446f-a56b-c4986724daba\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/220bca6aa667428abe97b72d33adeee4"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/e0fe3f6c17ab46059d1187e049fa1ce3"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/aa6c2de129564c1b984c568d4298f605"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/acc20873f27948ea99cdb1bbe1acaac9"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 03]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "28143411-03d5-47e2-aba2-8233a1bb6795",
    "mediaKey": "72b81a92-34c6-446f-a56b-c4986724daba"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 03]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitleShort>
  </Properties>
</Content>