<?xml version="1.0" encoding="utf-8"?>
<Content Key="db70ca6e-2766-4159-a4a7-8a99ae3fae3b" Alias="Child Page 02" Level="4">
  <Info>
    <Parent Key="d9693418-28b0-4ac4-88fa-568230643a4e">Feature - Internal Links - Children</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren/ChildPage02</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T19:12:13</CreateDate>
    <NodeName Default="Child Page 02" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/657da766f32941249a503129251cd3e2"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e3229ea86d7b4491bf39f4d6d7b4ae40",
        "settingsUdi": "umb://element/16ceda10e3504921a368c6cdb10f78cc"
      },
      {
        "contentUdi": "umb://element/7c2dc07bf17e4953a0a4067b1a8146e9",
        "areas": [
          {
            "key": "afe26812-3f06-4d32-842a-c415b473fb10",
            "items": [
              {
                "contentUdi": "umb://element/990921fc349248c3865027e0e6acab1a",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b",
            "items": [
              {
                "contentUdi": "umb://element/b8042e29b24d4041b8b2d444123c542a",
                "areas": [],
                "columnSpan": 9,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/12753b277c774fce84cdef8d73539625"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "udi": "umb://element/7c2dc07bf17e4953a0a4067b1a8146e9"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/990921fc349248c3865027e0e6acab1a"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/b8042e29b24d4041b8b2d444123c542a",
      "image": "[\r\n  {\r\n    \"key\": \"548344b5-0f16-44b2-ae0a-d1337cf24fbc\",\r\n    \"mediaKey\": \"f8f68bbe-4890-421d-8fd3-73dfb30a5eb9\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/e3229ea86d7b4491bf39f4d6d7b4ae40"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/657da766f32941249a503129251cd3e2"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/12753b277c774fce84cdef8d73539625"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/16ceda10e3504921a368c6cdb10f78cc"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "9e651556-1c03-4144-b4c3-1d715f5a5509",
    "mediaKey": "f8f68bbe-4890-421d-8fd3-73dfb30a5eb9"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitleShort>
  </Properties>
</Content>