<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6fc8f9e-d9a6-434e-8090-78cab276724e" Alias="Child Page 04" Level="4">
  <Info>
    <Parent Key="d9693418-28b0-4ac4-88fa-568230643a4e">Feature - Internal Links - Children</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren/ChildPage04</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T07:41:08</CreateDate>
    <NodeName Default="Child Page 04" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 04]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "b1cb5553-2399-43b3-96f6-62bc458427a6",
    "mediaKey": "0c129d5b-2257-4bcd-899b-25030ebf552f"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 04]]></Value>
    </pageTitle>
  </Properties>
</Content>