<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f3d06f2-4c91-4df4-ae71-77b9168aadde" Alias="Child Page 03" Level="4">
  <Info>
    <Parent Key="d9693418-28b0-4ac4-88fa-568230643a4e">Feature - Internal Links - Children</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren/ChildPage03</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T07:40:46</CreateDate>
    <NodeName Default="Child Page 03" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/e7ca62823025421dacd675f0352a7939"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/6a1b00cf24654a1986c76106aac3e1a1",
        "settingsUdi": "umb://element/6f710de1645a45cfaccdf29085f8b52f"
      },
      {
        "areas": [
          {
            "key": "afe26812-3f06-4d32-842a-c415b473fb10",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/8bc78a6f3fe54d629eac22fa3c7bff99"
              }
            ]
          },
          {
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b",
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "rowSpan": 1,
                "contentUdi": "umb://element/11bd8c6ed9c648fcb66eb73c783a4451"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f0de712c5d954670a1132788d0a6fc98",
        "settingsUdi": "umb://element/9fc4f98a903f46118bae750075191fe8"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "udi": "umb://element/f0de712c5d954670a1132788d0a6fc98"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/8bc78a6f3fe54d629eac22fa3c7bff99"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/11bd8c6ed9c648fcb66eb73c783a4451",
      "image": "[\r\n  {\r\n    \"key\": \"a7580bd0-53ad-4e81-a9be-f269a9a32a55\",\r\n    \"mediaKey\": \"72b81a92-34c6-446f-a56b-c4986724daba\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/6a1b00cf24654a1986c76106aac3e1a1"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/e7ca62823025421dacd675f0352a7939"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/9fc4f98a903f46118bae750075191fe8"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/6f710de1645a45cfaccdf29085f8b52f"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 03]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "28143411-03d5-47e2-aba2-8233a1bb6795",
    "mediaKey": "72b81a92-34c6-446f-a56b-c4986724daba"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 03]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitleShort>
  </Properties>
</Content>