<?xml version="1.0" encoding="utf-8"?>
<Content Key="90db3c66-020e-42c8-899c-9a77655d319d" Alias="Child Page 02" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ChildPage02</Path>
    <Trashed Parent="d9693418-28b0-4ac4-88fa-568230643a4e">true</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T07:40:28</CreateDate>
    <NodeName Default="Child Page 02" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d73d925245e84581a2133be2648babb2",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/808fea84936e4210916cfe4099d85a87",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/d73d925245e84581a2133be2648babb2"
    },
    {
      "contentTypeKey": "05a27f33-b1d6-49b0-89fe-755829ae138c",
      "udi": "umb://element/808fea84936e4210916cfe4099d85a87",
      "links": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2,umb://document/af8fb0fe0eb944feb49870ab76351d41,umb://document/0d1802258d8e4c65a59a9482e3f255c1"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "5117cb41-acad-49a8-a33c-89301639be9b",
    "mediaKey": "f8f68bbe-4890-421d-8fd3-73dfb30a5eb9"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitle>
  </Properties>
</Content>