<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f3d06f2-4c91-4df4-ae71-77b9168aadde" Alias="Child Page 03" Level="4">
  <Info>
    <Parent Key="d9693418-28b0-4ac4-88fa-568230643a4e">Feature - Internal Links - Children</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren/ChildPage03</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T07:40:46</CreateDate>
    <NodeName Default="Child Page 03" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 03]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "28143411-03d5-47e2-aba2-8233a1bb6795",
    "mediaKey": "72b81a92-34c6-446f-a56b-c4986724daba"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 03]]></Value>
    </pageTitle>
  </Properties>
</Content>