<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0dfcda1-d1ff-4d8e-b4ab-f5f9703dc4c8" Alias="Child Page 01" Level="4">
  <Info>
    <Parent Key="d9693418-28b0-4ac4-88fa-568230643a4e">Feature - Internal Links - Children</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren/ChildPage01</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T07:40:08</CreateDate>
    <NodeName Default="Child Page 01" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/57043966b9084229a8fde46c6910998f"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/a0e4dd3632e846948214f6f6de0e3026",
        "settingsUdi": "umb://element/efc5b0fca02141719427270c450fbdb3"
      },
      {
        "contentUdi": "umb://element/d4e5424fb22949a5a1afdc76ae8a53b7",
        "areas": [
          {
            "key": "afe26812-3f06-4d32-842a-c415b473fb10",
            "items": [
              {
                "contentUdi": "umb://element/6c7581e72107460fb65c2c3a1dfb8547",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b",
            "items": [
              {
                "contentUdi": "umb://element/ae963c279f5142b9ad53afec1b96273e",
                "areas": [],
                "columnSpan": 9,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/e2d70bcb0c1543acba7717e3a7453318"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "udi": "umb://element/d4e5424fb22949a5a1afdc76ae8a53b7"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/6c7581e72107460fb65c2c3a1dfb8547"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/ae963c279f5142b9ad53afec1b96273e",
      "image": "[\r\n  {\r\n    \"key\": \"ee65be7c-be65-4bd0-b6f8-6e2d635db27c\",\r\n    \"mediaKey\": \"f0099765-da66-4d13-9346-4dc39827f87c\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/a0e4dd3632e846948214f6f6de0e3026"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/57043966b9084229a8fde46c6910998f"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/e2d70bcb0c1543acba7717e3a7453318"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/efc5b0fca02141719427270c450fbdb3"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 01]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "0a43d5b6-b9a8-4426-af6b-97dd8fe5bc60",
    "mediaKey": "f0099765-da66-4d13-9346-4dc39827f87c"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 01]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 01]]></Value>
    </pageTitleShort>
  </Properties>
</Content>