<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f91b14d-e9a9-4ffe-ab49-49dbeabdfe03" Alias="Child Page 01" Level="4">
  <Info>
    <Parent Key="3a3cb279-688b-4516-b71f-de468931385b">Feature - Internal Links - Pagination</Parent>
    <Path>/Home/Features/FeatureInternalLinksPagination/ChildPage01</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T14:26:11</CreateDate>
    <NodeName Default="Child Page 01" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/0d6cfa2aadf74253adb44d675982c14e"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/3800d28d8fed437b8a410699ecf332f8",
        "settingsUdi": "umb://element/ece0dec4ecdf4583b14f0c82d0a20550"
      },
      {
        "contentUdi": "umb://element/763c6ab0dc784391948b9e11fc892165",
        "areas": [
          {
            "key": "afe26812-3f06-4d32-842a-c415b473fb10",
            "items": [
              {
                "contentUdi": "umb://element/f1074bea28954575af1616322b0fada2",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b",
            "items": [
              {
                "contentUdi": "umb://element/93524de1c5de491f8ac21cf9cde54de4",
                "areas": [],
                "columnSpan": 9,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/2fb3d59259a9415d8b0c9c79acd63f3f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "udi": "umb://element/763c6ab0dc784391948b9e11fc892165"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/f1074bea28954575af1616322b0fada2"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/93524de1c5de491f8ac21cf9cde54de4",
      "image": "[\r\n  {\r\n    \"key\": \"ee65be7c-be65-4bd0-b6f8-6e2d635db27c\",\r\n    \"mediaKey\": \"f0099765-da66-4d13-9346-4dc39827f87c\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/3800d28d8fed437b8a410699ecf332f8"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/0d6cfa2aadf74253adb44d675982c14e"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/2fb3d59259a9415d8b0c9c79acd63f3f"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/ece0dec4ecdf4583b14f0c82d0a20550"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 01]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "0a43d5b6-b9a8-4426-af6b-97dd8fe5bc60",
    "mediaKey": "f0099765-da66-4d13-9346-4dc39827f87c"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 01]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 01]]></Value>
    </pageTitleShort>
  </Properties>
</Content>