<?xml version="1.0" encoding="utf-8"?>
<Content Key="978a2d1e-a3a9-43b5-898c-944c74929a39" Alias="Child Page 02" Level="4">
  <Info>
    <Parent Key="3a3cb279-688b-4516-b71f-de468931385b">Feature - Internal Links - Pagination</Parent>
    <Path>/Home/Features/FeatureInternalLinksPagination/ChildPage02</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T14:26:11</CreateDate>
    <NodeName Default="Child Page 02" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/9d4f0dbe21ac4834a9d35cd3f5c95c4a"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/29bfd2b7f8484e509f5ae101ee45aa84",
        "settingsUdi": "umb://element/a071ebe9c3d145bdbacc076c961cb40e"
      },
      {
        "contentUdi": "umb://element/1247ad85fdf241a191c5cc43f752638e",
        "areas": [
          {
            "key": "afe26812-3f06-4d32-842a-c415b473fb10",
            "items": [
              {
                "contentUdi": "umb://element/1ce6d51f8b3541b6af4ed263c698285d",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b",
            "items": [
              {
                "contentUdi": "umb://element/9a4c36c15f0f4f4296be3de2e40ec835",
                "areas": [],
                "columnSpan": 9,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/39e764545e1f4482910b76b0167fcda7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "udi": "umb://element/1247ad85fdf241a191c5cc43f752638e"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/1ce6d51f8b3541b6af4ed263c698285d"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/9a4c36c15f0f4f4296be3de2e40ec835",
      "image": "[\r\n  {\r\n    \"key\": \"548344b5-0f16-44b2-ae0a-d1337cf24fbc\",\r\n    \"mediaKey\": \"f8f68bbe-4890-421d-8fd3-73dfb30a5eb9\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/29bfd2b7f8484e509f5ae101ee45aa84"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/9d4f0dbe21ac4834a9d35cd3f5c95c4a"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/39e764545e1f4482910b76b0167fcda7"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/a071ebe9c3d145bdbacc076c961cb40e"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "9e651556-1c03-4144-b4c3-1d715f5a5509",
    "mediaKey": "f8f68bbe-4890-421d-8fd3-73dfb30a5eb9"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitleShort>
  </Properties>
</Content>