<?xml version="1.0" encoding="utf-8"?>
<Content Key="af8fb0fe-0eb9-44fe-b498-70ab76351d41" Alias="Example Page 04" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Example Section</Parent>
    <Path>/Home/ExampleSection/ExamplePage04</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-13T13:59:49</CreateDate>
    <NodeName Default="Example Page 04" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Page 04]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[Example Page 04]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "4de046c6-dbf0-4437-9d7d-e73185add1d3",
    "mediaKey": "786ff4ce-7a17-45ee-9319-c2d8c20bf5c8"
  }
]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>