<?xml version="1.0" encoding="utf-8"?>
<Content Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99" Alias="Example Section" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/ExampleSection</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:56:37</CreateDate>
    <NodeName Default="Example Section" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/5a86628b04b448b5bfb037112d509f86",
                "settingsUdi": "umb://element/a6cd91d95bb94dbdbc96c9aa65ed430b"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/18578955537b4eeabaa397ee877e16d0",
        "settingsUdi": "umb://element/add09123f5d941be944d9e2698c5fc55"
      },
      {
        "contentUdi": "umb://element/ce036e236e554f3cbbb73515a412fd2a",
        "settingsUdi": "umb://element/ae591156f4154a068ac3253536d2fcfd",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/4e9c8810b95e4f17b709b1fbda639556",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/eb8003e9cbee488f8b26b90169612d38"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/18578955537b4eeabaa397ee877e16d0"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/5a86628b04b448b5bfb037112d509f86",
      "noConfiguration": ""
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/ce036e236e554f3cbbb73515a412fd2a"
    },
    {
      "contentTypeKey": "2ede97b0-9580-41cc-a029-bf041790c209",
      "udi": "umb://element/4e9c8810b95e4f17b709b1fbda639556",
      "featurePropertyFeatureTitle": "",
      "featurePropertyFeatureDescription": "",
      "noConfiguration": "",
      "featurePropertyFeatureSummary": ""
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/add09123f5d941be944d9e2698c5fc55",
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "",
      "layoutSettingsColourOpacity": "",
      "layoutAreasColourPicker": "",
      "layoutSettingsBackgroundImagePicker": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/ae591156f4154a068ac3253536d2fcfd",
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "",
      "layoutSettingsColourOpacity": "",
      "layoutAreasColourPicker": "",
      "layoutSettingsBackgroundImagePicker": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a6cd91d95bb94dbdbc96c9aa65ed430b",
      "featureSettingsHideDisplay": "",
      "featureSettingsColourPicker": ""
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/eb8003e9cbee488f8b26b90169612d38",
      "featureSettingsHideDisplay": "",
      "featureSettingsColourPicker": ""
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Dummy pages in a section to exemplify layouts and features]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[
  {
    "key": "6922bfd7-afdb-4b7f-97dc-eeedab42ed46",
    "mediaKey": "97faa587-67de-4ea3-bb55-563afc7ae486"
  }
]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "651b061e-3a90-4bac-9d2c-12c909c9ebd8",
    "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Example Section]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Examples]]></Value>
    </pageTitleShort>
  </Properties>
</Content>