<?xml version="1.0" encoding="utf-8"?>
<Content Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99" Alias="Example Section" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/ExampleSection</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:56:37</CreateDate>
    <NodeName Default="Example Section" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c15f9ff2ce2d436db8378309679fdc3f",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/b64fde193d78444ca508e8d4bb942ade",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/872fef9f99b64c91bb6afd78a4f8c6f0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/c15f9ff2ce2d436db8378309679fdc3f"
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "udi": "umb://element/b64fde193d78444ca508e8d4bb942ade",
      "featurePropertyFeatureTitle": "Examples page in this section",
      "featurePropertyFeatureDescription": "A collection of simple example pages"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/872fef9f99b64c91bb6afd78a4f8c6f0"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Section]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "806a9eb0-1bad-48d7-b367-e1ca2b8358de",
    "mediaKey": "dd27b767-9f40-48ac-8e41-33e3665866d8"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Example Section]]></Value>
    </pageTitle>
  </Properties>
</Content>