<?xml version="1.0" encoding="utf-8"?>
<Content Key="c97e2741-85c2-47d1-b3e5-72a1f18d3a1b" Alias="Example Page 07" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ExamplePage07</Path>
    <Trashed Parent="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">true</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-09-25T16:02:39</CreateDate>
    <NodeName Default="Example Page 07" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/ab5671286f9043e693e77fc5ff6c3e08",
        "settingsUdi": "umb://element/983161cab500426882c0c6ac658e2aeb",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/911d661e2b0a443c90e053360f951b79",
                "settingsUdi": "umb://element/192e1bf956ad47ecaa4439d95347146b",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f2e2d8a23fd248d2bd60e0e106871481",
        "settingsUdi": "umb://element/0a93e620e17c43628f3bc6d257fdc858",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/07e08d3314934002b866b1054190f01f",
                "settingsUdi": "umb://element/2f17f8a97b7b4f2a9768abfdbf7b645c",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/56abc45a4ebd4f38b1a4811a84ee5ad2",
                "settingsUdi": "umb://element/5dbcb2e6d5cb4869a78d0d95bb2cefe3",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/21c0aaca08124ce4bd901360b880bb01",
                "settingsUdi": "umb://element/a9610c774eb44c839049864cec68b1de",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/565fae5d90dc48bc94ab8630f17d222c",
                "settingsUdi": "umb://element/cacd3886332a49fa8e6fd76ee679ecd6",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/e0d8013525b54464b0b8fdbbabb69fdb",
                "settingsUdi": "umb://element/a0b2334d768c4988a027e11cfbaaa9ea",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/6d26ccfe7ff04160899cfdea8602a79f",
        "settingsUdi": "umb://element/550a874aa0b74700b5807a2a04ec7237",
        "areas": [
          {
            "key": "afe26812-3f06-4d32-842a-c415b473fb10",
            "items": [
              {
                "contentUdi": "umb://element/e5afced60b614ea49e9239097d5fbf60",
                "settingsUdi": "umb://element/8be6d674d9be407e817a4621dfd254de",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b",
            "items": [
              {
                "contentUdi": "umb://element/61772a8f4c944eaf9c112f94a045d0e4",
                "settingsUdi": "umb://element/cb3ada97021a47e6ab7f2d8e9e031dc8",
                "areas": [],
                "columnSpan": 9,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/7a426e885a54400dbc7e06ec4c5e3e26",
        "settingsUdi": "umb://element/d0b21c822cea4a8d9e382f7e21bdd4eb",
        "areas": [
          {
            "key": "bcede4d7-7de0-4338-948c-53e4ddf8f1e3",
            "items": [
              {
                "contentUdi": "umb://element/79deed590f814d48ab4caa6c5197c6c3",
                "settingsUdi": "umb://element/72c1ffad18494ecba072e99d4b28caf5",
                "areas": [],
                "columnSpan": 8,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/ab5671286f9043e693e77fc5ff6c3e08"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/911d661e2b0a443c90e053360f951b79"
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/f2e2d8a23fd248d2bd60e0e106871481"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/565fae5d90dc48bc94ab8630f17d222c",
      "image": "[\r\n  {\r\n    \"key\": \"8938b1a4-7e36-4368-8824-fd94f620c747\",\r\n    \"mediaKey\": \"7ff2eab8-c174-499a-9b84-699a2d7013be\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/21c0aaca08124ce4bd901360b880bb01",
      "richTextContent": "<p class=\"\">This Company is in an Inflation-Proof Industry and Could be Next to Soar. Don't Miss it. Investors are Making a Fortune With this Stock That's Got Everyone Talking Across Britain.</p>\n<p class=\"b_secondaryText callout_vis\" data-partnertag=\"Ads.Callout\">Top Stock of the Day · Breaking Stock News · High Return Sectors</p>"
    },
    {
      "contentTypeKey": "6d7aa5eb-5edc-40c3-8013-2d4d4016f601",
      "udi": "umb://element/07e08d3314934002b866b1054190f01f",
      "featurePropertyFeatureHTML": "<p>video</p>"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/56abc45a4ebd4f38b1a4811a84ee5ad2",
      "image": "[\r\n  {\r\n    \"key\": \"cbcb36f1-217c-432c-8a11-5cf6db319571\",\r\n    \"mediaKey\": \"77b3c49f-2b01-454a-98a6-7f87b271307d\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "b4148cb6-f6d9-42f9-a6df-3aa3f31ea68e",
      "udi": "umb://element/e0d8013525b54464b0b8fdbbabb69fdb",
      "featurePropertyFeatureTitle": "cvbcvb",
      "featurePropertyFAQs": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/3f06000f8e814d37991f1c129e1d3771\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/e94fd8f8bc8d465c8cab9bb01d66f941\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"bd6fd684-5515-46eb-816a-685bbb312219\",\r\n      \"udi\": \"umb://element/3f06000f8e814d37991f1c129e1d3771\",\r\n      \"featurePropertyFAQsQuestion\": \"cvbcv\",\r\n      \"featurePropertyFAQsAnswer\": \"cvbcvb\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"bd6fd684-5515-46eb-816a-685bbb312219\",\r\n      \"udi\": \"umb://element/e94fd8f8bc8d465c8cab9bb01d66f941\",\r\n      \"featurePropertyFAQsQuestion\": \"cvbcvb\",\r\n      \"featurePropertyFAQsAnswer\": \"cvbcvb\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}"
    },
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "udi": "umb://element/6d26ccfe7ff04160899cfdea8602a79f"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/e5afced60b614ea49e9239097d5fbf60",
      "richTextContent": "<p>cvxbxcvnb</p>"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/61772a8f4c944eaf9c112f94a045d0e4",
      "image": "[\r\n  {\r\n    \"key\": \"1d3eefc1-0163-48bb-a7dd-890be4dc5118\",\r\n    \"mediaKey\": \"83b8c642-1d0f-42b9-8ec1-8efb30b5fdc2\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "420d1288-9016-4ddd-b200-b289c5aaeb96",
      "udi": "umb://element/7a426e885a54400dbc7e06ec4c5e3e26"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/79deed590f814d48ab4caa6c5197c6c3",
      "image": "[\r\n  {\r\n    \"key\": \"0b9e5c7d-07a2-488c-a49b-ba0117cfd584\",\r\n    \"mediaKey\": \"dd5c3044-32d5-44f0-8fae-17a932537036\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/983161cab500426882c0c6ac658e2aeb"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/192e1bf956ad47ecaa4439d95347146b"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/0a93e620e17c43628f3bc6d257fdc858",
      "layoutSettingsColourShades": "500",
      "layoutSettingsColourOpacity": "1",
      "layoutAreasColourPicker": "{\r\n  \"value\": \"0d6efd\",\r\n  \"label\": \"text-bg-primary\",\r\n  \"sortOrder\": 0,\r\n  \"id\": \"1\"\r\n}",
      "layoutSettingsBackgroundImagePicker": "[]",
      "layoutSettingsColourPicker": "{\r\n  \"value\": \"6610f2\",\r\n  \"label\": \"--bs-indigo-rgb\",\r\n  \"sortOrder\": 2,\r\n  \"id\": \"3\"\r\n}"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/cacd3886332a49fa8e6fd76ee679ecd6"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a9610c774eb44c839049864cec68b1de"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/2f17f8a97b7b4f2a9768abfdbf7b645c"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/5dbcb2e6d5cb4869a78d0d95bb2cefe3"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a0b2334d768c4988a027e11cfbaaa9ea"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/550a874aa0b74700b5807a2a04ec7237",
      "layoutSettingsColourPicker": "{\r\n  \"value\": \"d63384\",\r\n  \"label\": \"--bs-pink-rgb\",\r\n  \"sortOrder\": 3,\r\n  \"id\": \"4\"\r\n}",
      "layoutSettingsColourShades": "300",
      "layoutSettingsColourOpacity": "1",
      "layoutSettingsBackgroundImagePicker": "[]"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/8be6d674d9be407e817a4621dfd254de"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/cb3ada97021a47e6ab7f2d8e9e031dc8"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/d0b21c822cea4a8d9e382f7e21bdd4eb"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/72c1ffad18494ecba072e99d4b28caf5"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Page 07]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "19685368-c884-4db2-89ab-90abd127b892",
    "mediaKey": "83b8c642-1d0f-42b9-8ec1-8efb30b5fdc2"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Example Page 07]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Example Page 07]]></Value>
    </pageTitleShort>
  </Properties>
</Content>