<?xml version="1.0" encoding="utf-8"?>
<Content Key="acb64d48-ee34-487f-b0c8-6ab32f92ca01" Alias="Example Page 06" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Example Section</Parent>
    <Path>/Home/ExampleSection/ExamplePage06</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-09-05T15:40:33</CreateDate>
    <NodeName Default="Example Page 06" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/011d7b4502504cf7b1c2e73327ca7f81",
        "settingsUdi": "umb://element/c2b02321e4394538a1ec2c69e0f7262d",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/96bba4fcaeb34f41a6db7bb2b5ae19d0",
                "settingsUdi": "umb://element/3e7252903fd74a4f856085df24959c3f",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/fbdd5e5010e14523ae4d46b70af497a4",
                "settingsUdi": "umb://element/942e7656816840fd8ff235805883ae31",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/82208c685791479f8b9e94c4665888f9",
                "settingsUdi": "umb://element/c7f23071c46145258f4a41d64c96707d",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/011d7b4502504cf7b1c2e73327ca7f81"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/96bba4fcaeb34f41a6db7bb2b5ae19d0",
      "richTextContent": "<p>Displayed</p>"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/fbdd5e5010e14523ae4d46b70af497a4",
      "richTextContent": "<p>Default</p>"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/82208c685791479f8b9e94c4665888f9",
      "richTextContent": "<p>Hidden</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/c2b02321e4394538a1ec2c69e0f7262d"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/3e7252903fd74a4f856085df24959c3f",
      "featureSettingsHideDisplay": "1"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/942e7656816840fd8ff235805883ae31",
      "featureSettingsHideDisplay": "1"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/c7f23071c46145258f4a41d64c96707d",
      "featureSettingsHideDisplay": "0"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Page 06]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "19685368-c884-4db2-89ab-90abd127b892",
    "mediaKey": "83b8c642-1d0f-42b9-8ec1-8efb30b5fdc2"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Example Page 06]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Example Page 06]]></Value>
    </pageTitleShort>
  </Properties>
</Content>