<?xml version="1.0" encoding="utf-8"?>
<Content Key="af8fb0fe-0eb9-44fe-b498-70ab76351d41" Alias="Example Page 04" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Example Section</Parent>
    <Path>/Home/ExampleSection/ExamplePage04</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-13T13:59:49</CreateDate>
    <NodeName Default="Example Page 04" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/e7fe579f28c14814b05e308243f90257"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/5d25c3583cbb4dfe8afdafd02972ee88",
        "settingsUdi": "umb://element/661723f31e3e4836a751ffdf0941cef6"
      },
      {
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/0a2bccb7dd6c43fda66c8d465038692f"
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/a72f48aa00554ce890671b40ad1cffc5"
              },
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/12960fd7abab40c8bad81256a7fe5197",
                "settingsUdi": "umb://element/beb323d210f5466187772e51fe386761"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/943910fd5456472c9aa89086826c61f0",
                "settingsUdi": "umb://element/cce1787a1d4949ae8f879f3d05e76b3b"
              },
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/e40d742b2ed345deb5704115dfed199a"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e499cbb3f7d144459f28921910514c04",
        "settingsUdi": "umb://element/6ccb52bf04a54a6b8788c70ef6dcab24"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/e499cbb3f7d144459f28921910514c04"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/0a2bccb7dd6c43fda66c8d465038692f"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/a72f48aa00554ce890671b40ad1cffc5",
      "featurePropertyFeatureTitle": "Image Feature Title",
      "featurePropertyFeatureDescription": "Image Feature Description",
      "image": "[\r\n  {\r\n    \"key\": \"041a0935-9931-4ac9-8d7b-da84513791a4\",\r\n    \"mediaKey\": \"786ff4ce-7a17-45ee-9319-c2d8c20bf5c8\"\r\n  }\r\n]",
      "featurePropertyFeatureSummary": "Image Feature Summary"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/12960fd7abab40c8bad81256a7fe5197",
      "richTextContent": "<p>Text Feature Content</p>",
      "featurePropertyFeatureTitle": "Text Feature Title",
      "featurePropertyFeatureDescription": "Text Feature Description",
      "featurePropertyFeatureSummary": "Text Feature Summary"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/943910fd5456472c9aa89086826c61f0",
      "richTextContent": "<p>Text Feature Content</p>",
      "featurePropertyFeatureTitle": "Text Feature Title",
      "featurePropertyFeatureDescription": "Text Feature Description",
      "featurePropertyFeatureSummary": "Text Feature Summary"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/e40d742b2ed345deb5704115dfed199a",
      "featurePropertyFeatureTitle": "Image Feature Title",
      "featurePropertyFeatureDescription": "Image Feature Description",
      "image": "[\r\n  {\r\n    \"key\": \"82acf091-f33d-49cd-8856-95af1c307781\",\r\n    \"mediaKey\": \"786ff4ce-7a17-45ee-9319-c2d8c20bf5c8\"\r\n  }\r\n]",
      "featurePropertyFeatureSummary": "Image Feature Summary"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/5d25c3583cbb4dfe8afdafd02972ee88"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/e7fe579f28c14814b05e308243f90257"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/6ccb52bf04a54a6b8788c70ef6dcab24"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/beb323d210f5466187772e51fe386761"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/cce1787a1d4949ae8f879f3d05e76b3b"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/661723f31e3e4836a751ffdf0941cef6"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Page 04]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "4de046c6-dbf0-4437-9d7d-e73185add1d3",
    "mediaKey": "786ff4ce-7a17-45ee-9319-c2d8c20bf5c8"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Example Page 04]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Example Page 04]]></Value>
    </pageTitleShort>
  </Properties>
</Content>