<?xml version="1.0" encoding="utf-8"?>
<Content Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99" Alias="Example Section" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/ExampleSection</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:56:37</CreateDate>
    <NodeName Default="Example Section" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/97e28998a96b4a1f90626bf0f9302d40",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "udi": "umb://element/97e28998a96b4a1f90626bf0f9302d40",
      "featurePropertyFeatureTitle": "In this section",
      "featurePropertyFeatureDescription": "These are all of the pages in this section",
      "featurePropertyFeatureSummary": "Click on any of the pages"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Section]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[Example Section]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "806a9eb0-1bad-48d7-b367-e1ca2b8358de",
    "mediaKey": "dd27b767-9f40-48ac-8e41-33e3665866d8"
  }
]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>