<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad9f3bd8-d01e-4a7b-a504-f032a41ea22d" Alias="Example Page 01" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Example Section</Parent>
    <Path>/Home/ExampleSection/ExamplePage01</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:57:04</CreateDate>
    <NodeName Default="Example Page 01" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e6c1516efc884c7f8ef4e36435010d32",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": []
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/b01e93c403364282af6b8d539f6370bc",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/e6c1516efc884c7f8ef4e36435010d32"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/b01e93c403364282af6b8d539f6370bc",
      "richTextContent": "<p>Text only in the RTE</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Page 01]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "c37dbbbf-2e15-4fe2-89d7-ea1f73177e34",
    "mediaKey": "f99ea450-71f3-4d21-ae94-0cc5e9e4848b"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Example Page 01]]></Value>
    </pageTitle>
  </Properties>
</Content>