<?xml version="1.0" encoding="utf-8"?>
<Content Key="118b9c7c-fe77-41e1-b3ac-fc3edffd1874" Alias="Feature - Navigation - Nested Descendants" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureNavigationNestedDescendants</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-08T20:13:06</CreateDate>
    <NodeName Default="Feature - Navigation - Nested Descendants" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/4b02b5ab16bb41768140c67d97c2b075",
                "settingsUdi": "umb://element/2f2c24f61b84458c93a8362a7f672e9f"
              },
              {
                "contentUdi": "umb://element/345ff656509c4e039e6a47f98a935877",
                "settingsUdi": "umb://element/a0a93d6cc4264d29acde669a4a5b07f6",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/7b15b76ed25f49a58779da49567f5fef",
        "settingsUdi": "umb://element/240ac46cb0974923a88016bbdd7b2f7e"
      },
      {
        "contentUdi": "umb://element/b7ff891a22ca4700a88948b0f94c149b",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/c04494e72d5d484fac582f45951d1db2",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "settingsUdi": "umb://element/48636f6643c94ca38edf27c6757264e2"
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/7c4a6f1bf5a546e88b29d3c064e0dd2a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "settingsUdi": "umb://element/25c9609af12f43c888b56ae85b48d672"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/b3a230d07d344dbda594a4fb25fa7059",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "settingsUdi": "umb://element/277bace0b50b4a29b4992a5f0fdd16f8"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/e95308c5069044ae9c44e547b2065268"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/b7ff891a22ca4700a88948b0f94c149b"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/c04494e72d5d484fac582f45951d1db2"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/7c4a6f1bf5a546e88b29d3c064e0dd2a",
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Feature - Navigation - Nested Descendants can be added to most areas in both Block List and Block Grid",
      "richTextContent": "<p>An example of Feature - Navigation - Nested Descendants is the navigation block used on this page</p>",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/b3a230d07d344dbda594a4fb25fa7059",
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE's can be added in asides like this one",
      "richTextContent": "<p>Here we are showing what text looks like in an RTE in an aside.</p>",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/7b15b76ed25f49a58779da49567f5fef"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/4b02b5ab16bb41768140c67d97c2b075"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/345ff656509c4e039e6a47f98a935877",
      "image": "[\r\n  {\r\n    \"key\": \"7a8f7bf1-158a-40f2-8bc4-64eb7a653965\",\r\n    \"mediaKey\": \"7133afa3-42e0-4442-bac5-9e6bf16537fb\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/e95308c5069044ae9c44e547b2065268"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/25c9609af12f43c888b56ae85b48d672"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/277bace0b50b4a29b4992a5f0fdd16f8"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/240ac46cb0974923a88016bbdd7b2f7e"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/2f2c24f61b84458c93a8362a7f672e9f"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/48636f6643c94ca38edf27c6757264e2"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a0a93d6cc4264d29acde669a4a5b07f6"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Navigation - Nested Descendants]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "a6819509-f308-4b94-9fb4-4213fe3ee6dc",
    "mediaKey": "7133afa3-42e0-4442-bac5-9e6bf16537fb"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Navigation - Nested Descendants]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Navigation - Nested Descendants]]></Value>
    </pageTitleShort>
  </Properties>
</Content>