<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a3cb279-688b-4516-b71f-de468931385b" Alias="Feature - Internal Links - Pagination" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureInternalLinksPagination</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T14:26:10</CreateDate>
    <NodeName Default="Feature - Internal Links - Pagination" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/e1ea903971b34c0b8f8505fef2419d84",
                "settingsUdi": "umb://element/a62f37f9cc654ceab016f015768e120a"
              },
              {
                "contentUdi": "umb://element/aba6257da6d64a80bf6343fe36e099e4",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/1e0d2e58c752431096fdde19cb3122dd"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f77eb96204ad46d38f4616d01e0df46e",
        "settingsUdi": "umb://element/d75feeccaa234ec09cc65d27c5b25117"
      },
      {
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/3372dfd36f3e4f138353e8f2325a7042",
                "settingsUdi": "umb://element/1139fafdc22e4a42ac8223f405ddb47e"
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/8d47db43feb94fe58463774c9667c45f",
                "settingsUdi": "umb://element/aeaa3c7bb86e426b86b16ee3059669a8"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/3671af4517f348c4bf8e30b00d1de598",
                "settingsUdi": "umb://element/16d8633aa8b54c0ba1c5da3eefe78f0a"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/a688ba27f5ef4308b45a0f15c45b36cd",
        "settingsUdi": "umb://element/b2a2acf938794e07acb24022ba2075ba"
      },
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/ef338756dc2947e5971d030dff187238",
                "settingsUdi": "umb://element/f77ba9b604604f2ca7351bfe43a0b9d3"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f65ea03dc17341a0aff17530113bcc71",
        "settingsUdi": "umb://element/ff110a59f81446e18af20b4f949e7b2d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/a688ba27f5ef4308b45a0f15c45b36cd"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/3372dfd36f3e4f138353e8f2325a7042"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/8d47db43feb94fe58463774c9667c45f",
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Feature - Internal Links - Pagination is used in this case to paginate child pages",
      "richTextContent": "<p>An example of this feature is used in this page</p>",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/3671af4517f348c4bf8e30b00d1de598",
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE's can be added in asides like this one",
      "richTextContent": "<p>Here we are showing what text looks like in an RTE in an aside.</p>",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/f77eb96204ad46d38f4616d01e0df46e"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/e1ea903971b34c0b8f8505fef2419d84"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/f65ea03dc17341a0aff17530113bcc71"
    },
    {
      "contentTypeKey": "2ede97b0-9580-41cc-a029-bf041790c209",
      "udi": "umb://element/ef338756dc2947e5971d030dff187238"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/aba6257da6d64a80bf6343fe36e099e4",
      "image": "[\r\n  {\r\n    \"key\": \"d7f5e732-6e3b-4e59-beec-49827cde11b3\",\r\n    \"mediaKey\": \"e8110340-373d-46d7-91e8-a7ff1b78394b\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/b2a2acf938794e07acb24022ba2075ba",
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "400",
      "layoutSettingsBackgroundImagePicker": "[]"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/aeaa3c7bb86e426b86b16ee3059669a8"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/16d8633aa8b54c0ba1c5da3eefe78f0a"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/d75feeccaa234ec09cc65d27c5b25117",
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "500",
      "layoutSettingsBackgroundImagePicker": "[]"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/ff110a59f81446e18af20b4f949e7b2d"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a62f37f9cc654ceab016f015768e120a"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/1139fafdc22e4a42ac8223f405ddb47e"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/1e0d2e58c752431096fdde19cb3122dd"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/f77ba9b604604f2ca7351bfe43a0b9d3"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Internal Links - Pagination]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "089cf88a-faf2-4c80-8cce-5abfaf6b608d",
    "mediaKey": "e8110340-373d-46d7-91e8-a7ff1b78394b"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Internal Links - Pagination]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Internal Links - Pagination]]></Value>
    </pageTitleShort>
  </Properties>
</Content>