<?xml version="1.0" encoding="utf-8"?>
<Content Key="53236b06-6534-427d-af5b-a47f5831e629" Alias="Feature - Code" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureCode</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T20:42:26</CreateDate>
    <NodeName Default="Feature - Code" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/87d00d8d6728437385d393f7eb82a2c3",
                "settingsUdi": "umb://element/d0924ed83d7141b1a453a476b72bcf9e"
              },
              {
                "contentUdi": "umb://element/8a520855b56b454c8c46b30cadc3815f",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/5f9b409c06224d8690931fad658231c6"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/d458ca4c47224c549b8b369cc20ae936",
        "settingsUdi": "umb://element/70b55b4a87f145c3b129a8de8a9a6124"
      },
      {
        "contentUdi": "umb://element/efcce15f4e054e2184c6b85bb8219f70",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/8f92ed8611b648b38fafafe184080114",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "settingsUdi": "umb://element/3da3dc9061324ee093119de6c2d70f42"
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/3ab77f72a129446eb7e0b6f548706646",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "settingsUdi": "umb://element/05fa0985862b4b849590416d4f0decbe"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/5f146731a89f40de8458dc03045d058d",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "settingsUdi": "umb://element/6ae89dccea064eff8fd0dc82ecc774a7"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/7ba60ed748e94dac92b8f75604500f08"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/efcce15f4e054e2184c6b85bb8219f70"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/8f92ed8611b648b38fafafe184080114"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/5f146731a89f40de8458dc03045d058d",
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE's can be added in asides like this one",
      "richTextContent": "<p>Here we are showing what text looks like in an RTE in an aside.</p>",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/d458ca4c47224c549b8b369cc20ae936"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/87d00d8d6728437385d393f7eb82a2c3"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/8a520855b56b454c8c46b30cadc3815f",
      "image": "[\r\n  {\r\n    \"key\": \"9ef9d037-057b-4db7-84cd-88eec86f7474\",\r\n    \"mediaKey\": \"7abc7636-2e3f-4983-aa5e-ffceca041f54\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8",
      "udi": "umb://element/3ab77f72a129446eb7e0b6f548706646",
      "featurePropertyFeatureCode": "@{\n    // Check if the block grid item has settings\n    bool hasSettings = Model.Settings != null;\n    string colorLabel = null;\n    // If the block grid item has settings, get the background colour\n    if (hasSettings)\n    {\n        var backgroundColour = Model.Settings.Value<ColorPickerValueConverter.PickedColor>(\"featureSettingsColourPicker\");\n        colorLabel = backgroundColour?.Label;\n    }\n}",
      "featurePropertyFeatureTitle": "Test"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/7ba60ed748e94dac92b8f75604500f08"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/6ae89dccea064eff8fd0dc82ecc774a7"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/70b55b4a87f145c3b129a8de8a9a6124"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/d0924ed83d7141b1a453a476b72bcf9e"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/3da3dc9061324ee093119de6c2d70f42"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/5f9b409c06224d8690931fad658231c6"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/05fa0985862b4b849590416d4f0decbe"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Paste Code that will be rendered in the page as code]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "36ba17fd-1b4d-4cb9-80ad-7151905eeb5e",
    "mediaKey": "7abc7636-2e3f-4983-aa5e-ffceca041f54"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Code]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Code]]></Value>
    </pageTitleShort>
  </Properties>
</Content>