<?xml version="1.0" encoding="utf-8"?>
<Content Key="fafacbca-11bc-44ab-afcc-11adbcdbfec8" Alias="Feature - HTML" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureHTML</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T16:31:19</CreateDate>
    <NodeName Default="Feature - HTML" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/dd6c43f3a0ba49268806912e35b48778",
                "settingsUdi": "umb://element/b98aa65e4ef4431fbfb46f179e25d863"
              },
              {
                "contentUdi": "umb://element/62c3860810dd43dc83fd8d8a6f221ef6",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/8a2e351415d547bc9865f1383149b580"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/953c831a8e0e48679d2af6f2b892cc2b",
        "settingsUdi": "umb://element/9f58e17520384ba1905821fbbc3b3b12"
      },
      {
        "contentUdi": "umb://element/b3d5ef1d22834622bac8100893b5e4b1",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/9e8bbffdd1d2443dbc311e61a58966f2",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "settingsUdi": "umb://element/beada1d67ee440c689426afb2395cb0f"
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/4924eb2ffff441e490a22fbf0df2a56d",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "settingsUdi": "umb://element/eed662125e9d4dd591c9e290f4c3d568"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/192c5f7d317049dbb59f03be7dfe0269",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "settingsUdi": "umb://element/89bd301a19e14a36b69aac11364aa7f2"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/0b89febe86c04469a4268ec97c1b2828"
      },
      {
        "contentUdi": "umb://element/0d175f4166fb4d7a8da4ad70f828c4c9",
        "settingsUdi": "umb://element/668ad17182234ab792d0410c7478d72f",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/b8f113f458f840108fd4069bf0a603e2",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/a27a8eb3881a4707a4a3201fb41576e4"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/b3d5ef1d22834622bac8100893b5e4b1"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/9e8bbffdd1d2443dbc311e61a58966f2"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/192c5f7d317049dbb59f03be7dfe0269",
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE's can be added in asides like this one",
      "richTextContent": "<p>Here we are showing what text looks like in an RTE in an aside.</p>",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/953c831a8e0e48679d2af6f2b892cc2b"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/dd6c43f3a0ba49268806912e35b48778"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/62c3860810dd43dc83fd8d8a6f221ef6",
      "image": "[\r\n  {\r\n    \"key\": \"a00c3499-84fb-45dc-af22-086b11b63fb4\",\r\n    \"mediaKey\": \"8329cabe-d4de-4530-9e04-0439a7237b22\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "6d7aa5eb-5edc-40c3-8013-2d4d4016f601",
      "udi": "umb://element/4924eb2ffff441e490a22fbf0df2a56d",
      "featurePropertyFeatureHTML": "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/CdVw5DK6olE\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" allowfullscreen></iframe>",
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "This HTML Feature allows adding HTML code that will be rendered in the page, in this case a YouTube video"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/0d175f4166fb4d7a8da4ad70f828c4c9"
    },
    {
      "contentTypeKey": "9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8",
      "udi": "umb://element/b8f113f458f840108fd4069bf0a603e2",
      "featurePropertyFeatureTitle": "featureHTML.cshtml",
      "featurePropertyFeatureCode": "@using Umbraco.Extensions\n@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>\n\n@{\n    Layout = \"_Layout_Features.cshtml\";\n}\n\n@Html.Raw(Model.Content.Value(\"featurePropertyFeatureHTML\"))\n"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/0b89febe86c04469a4268ec97c1b2828"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/89bd301a19e14a36b69aac11364aa7f2"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/9f58e17520384ba1905821fbbc3b3b12"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/668ad17182234ab792d0410c7478d72f"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/b98aa65e4ef4431fbfb46f179e25d863"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/beada1d67ee440c689426afb2395cb0f"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/8a2e351415d547bc9865f1383149b580"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/eed662125e9d4dd591c9e290f4c3d568"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a27a8eb3881a4707a4a3201fb41576e4"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Paste raw HTML that will be rendered in the page]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "d455cef4-8cdc-4826-8ed3-d2bd190060fd",
    "mediaKey": "8329cabe-d4de-4530-9e04-0439a7237b22"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - HTML]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[HTML]]></Value>
    </pageTitleShort>
  </Properties>
</Content>