<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf97a030-5d0e-49e4-b0d8-ba0a09240fd4" Alias="Feature - Rich Text Editor" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureRichTextEditor</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-07T19:19:02</CreateDate>
    <NodeName Default="Feature - Rich Text Editor" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/cc4f96a4ccaa4eefb886108666025060",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/6c0b8b755078425784f32a5a7f785335",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/94433f2eeb5d429db7636bcc7a07de2c",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/6453300f04644e46ab2dddf734a81271",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/cc4f96a4ccaa4eefb886108666025060"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/6c0b8b755078425784f32a5a7f785335"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/94433f2eeb5d429db7636bcc7a07de2c",
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Rich Text Editor or RTE can be added to most areas in both Block List and Block Grid",
      "richTextContent": "<p>Here is some example text added to page so you can see how it looks.</p>",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/6453300f04644e46ab2dddf734a81271",
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE's can be added in asides like this one",
      "richTextContent": "<p>Here we are showing what text looks like in an RTE in an aside.</p>",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[A Rich Text Editor that uses TinyMCE and allows some configuration of styles and formats both in Umbraco Back Office and the config file]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "679ba539-bea1-4b1c-ae2d-137277285e3c",
    "mediaKey": "fddf9a5a-99a9-4e87-9a4d-abb6eeeefd58"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Rich Text Editor]]></Value>
    </pageTitle>
  </Properties>
</Content>