<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfbdda76-fe5f-45f5-9f15-5523231aedee" Alias="Feature - Image" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureImage</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Feature - Image" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/761d6ac45e084ecba0358d0dce5bf9d2",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/68fa6efde2f64eb0a4673ef45b93813b",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/edc2f001b7e840c79e3e5804414b4791",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/7e73f2784b384290bcb8f8685c6438f2",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/761d6ac45e084ecba0358d0dce5bf9d2"
    },
    {
      "contentTypeKey": "05a27f33-b1d6-49b0-89fe-755829ae138c",
      "udi": "umb://element/68fa6efde2f64eb0a4673ef45b93813b",
      "links": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2,umb://document/af8fb0fe0eb944feb49870ab76351d41,umb://document/0d1802258d8e4c65a59a9482e3f255c1"
    },
    {
      "contentTypeKey": "3db256d9-ff75-41a7-b5b4-f1fcaec92458",
      "udi": "umb://element/edc2f001b7e840c79e3e5804414b4791",
      "links": "umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/af8fb0fe0eb944feb49870ab76351d41"
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "udi": "umb://element/7e73f2784b384290bcb8f8685c6438f2",
      "featurePropertyFeatureTitle": "xxxxxxx"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Image]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "15a1415d-957d-4667-971f-04cf4f57e447",
    "mediaKey": "70a55b90-5f78-4042-878f-0c54ff85c8e5"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Image]]></Value>
    </pageTitle>
  </Properties>
</Content>