<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf97a030-5d0e-49e4-b0d8-ba0a09240fd4" Alias="Feature - Rich Text Editor" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureRichTextEditor</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-07T19:19:02</CreateDate>
    <NodeName Default="Feature - Rich Text Editor" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/6d112674d6084dd3acf767266ce34c84",
                "settingsUdi": "umb://element/6b94f8290fe24b25ac3ef7b3804b181c"
              },
              {
                "contentUdi": "umb://element/5e6009b4bfb348fe970dcdbd3c1d38f9",
                "settingsUdi": "umb://element/52c210fc0c844c4b9fe2c4a5414a8a72",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/07eee30a6ad44079b83b33dddc636097",
        "settingsUdi": "umb://element/851e13850570489bb67ab91252d1c633"
      },
      {
        "contentUdi": "umb://element/cc4f96a4ccaa4eefb886108666025060",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/6c0b8b755078425784f32a5a7f785335",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "settingsUdi": "umb://element/b4d9273bffe344d3b4b21b91f8e7fc2e"
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/94433f2eeb5d429db7636bcc7a07de2c",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "settingsUdi": "umb://element/74a38b05c2234689bf9ec8fdc07f3998"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/6453300f04644e46ab2dddf734a81271",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "settingsUdi": "umb://element/a08af7f412a749a28595faf62787c9e3"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/287a57bdd16a4a50b10ed548bf34f7e0"
      },
      {
        "contentUdi": "umb://element/0ca0b1fe39954f46952bc177b5f4db47",
        "settingsUdi": "umb://element/75af331cba2b4f1985d9ae2f7d774202",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/6be860516ea1485b978aa91ef28c3823",
                "settingsUdi": "umb://element/d574012bdfd549db8646b2daed306679"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/cc4f96a4ccaa4eefb886108666025060"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/6c0b8b755078425784f32a5a7f785335"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/94433f2eeb5d429db7636bcc7a07de2c",
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Rich Text Editor or RTE can be added to most areas in both Block List and Block Grid",
      "richTextContent": "<p>Here is some example text added to page so you can see how it looks.</p>\n<h3>Accessibility</h3>\n<p>If you want to make your website more accessible, you should pay attention to the line length of your text. Long lines can be hard to read and cause eye strain. According to the Web Content Accessibility Guidelines (WCAG) 1.4.8, the ideal line length should be 55-75 characters at most.</p>\n<p>This way, you can ensure that most users can read your content comfortably and efficiently.</p>\n<p>Therefore, ideally Rich Text Editor should only be used in areas up to 6 columns wide unless responsive typography is used to scale the text size accordingly.</p>",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/6453300f04644e46ab2dddf734a81271",
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE's can be added in asides like this one",
      "richTextContent": "<p>Here we are showing what text looks like in an RTE in an aside.</p>",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/07eee30a6ad44079b83b33dddc636097"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/6d112674d6084dd3acf767266ce34c84"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/0ca0b1fe39954f46952bc177b5f4db47"
    },
    {
      "contentTypeKey": "9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8",
      "udi": "umb://element/6be860516ea1485b978aa91ef28c3823",
      "featurePropertyFeatureCode": "@using Umbraco.Extensions\n@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>\n\n@{\n    Layout = \"_Layout_Features.cshtml\";\n}\n\n@Model.Content.Value(\"richTextContent\")\n",
      "featurePropertyFeatureTitle": "featureRichTextEditor.cshtml"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/5e6009b4bfb348fe970dcdbd3c1d38f9",
      "image": "[\r\n  {\r\n    \"key\": \"3263b282-7ccf-4fd7-b583-9c7e3b812063\",\r\n    \"mediaKey\": \"fddf9a5a-99a9-4e87-9a4d-abb6eeeefd58\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/287a57bdd16a4a50b10ed548bf34f7e0"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/74a38b05c2234689bf9ec8fdc07f3998",
      "featureSettingsColourPicker": ""
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a08af7f412a749a28595faf62787c9e3"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/851e13850570489bb67ab91252d1c633"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/75af331cba2b4f1985d9ae2f7d774202"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/6b94f8290fe24b25ac3ef7b3804b181c"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/b4d9273bffe344d3b4b21b91f8e7fc2e"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/d574012bdfd549db8646b2daed306679"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/52c210fc0c844c4b9fe2c4a5414a8a72"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[A Rich Text Editor that uses TinyMCE and allows some configuration of styles and formats both in Umbraco Back Office and the config file]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "679ba539-bea1-4b1c-ae2d-137277285e3c",
    "mediaKey": "fddf9a5a-99a9-4e87-9a4d-abb6eeeefd58"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Rich Text Editor]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Rich Text Editor]]></Value>
    </pageTitleShort>
  </Properties>
</Content>