<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9693418-28b0-4ac4-88fa-568230643a4e" Alias="Feature - Internal Links - Children" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Feature - Internal Links - Children" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/42d956296dc2450dab7ecd25ab764991",
                "settingsUdi": "umb://element/c2d5ce6c6c18418097465fdad30aa386"
              },
              {
                "contentUdi": "umb://element/a76ed8e84c914832be1689f9265a05fb",
                "settingsUdi": "umb://element/9d0b9307dea6463abdc43af0cdb758c5",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/dc27a7aafabb405794fc616e33eceb0a",
        "settingsUdi": "umb://element/86600e0c8b8c4923ac18713d99af35e6"
      },
      {
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/426a4cc38b9841bf92eb5e3ad7a1f4a9",
                "settingsUdi": "umb://element/2c7c177e3c624da1ba993389fc0ae884"
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/6aa4b77f0ea344d38111de499147476e",
                "settingsUdi": "umb://element/724b6dcff2064ab6adfc48fbfe457966"
              },
              {
                "contentUdi": "umb://element/5bc201c6afaf440bb09a94c9e5b0b3b9",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "settingsUdi": "umb://element/e70dbd191ab843cda98c426e1669f5e3"
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1,
                "contentUdi": "umb://element/06b60c61434a4e078ea3f9cb78af81ee",
                "settingsUdi": "umb://element/ed7ebaa9f3f045a9b15cf63a769d4888"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/4cd55aeb72024636b8ad9eb5285df696",
        "settingsUdi": "umb://element/df9ea379e3424efd8f97ed0d0f20ae57"
      },
      {
        "contentUdi": "umb://element/a5b26dd12c0b4e38a58828c2b8e5c19d",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/e8797c7807404ce3a94d726298c39748",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "settingsUdi": "umb://element/a165f68c8dfe4206b23292b9d8c1785f"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/2a87788c60d241398c99f462dee102a6"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/4cd55aeb72024636b8ad9eb5285df696"
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "udi": "umb://element/426a4cc38b9841bf92eb5e3ad7a1f4a9"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/6aa4b77f0ea344d38111de499147476e",
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Feature - Internal Links - Children can be added to most areas in both Block List and Block Grid",
      "richTextContent": "<p>An example of this feature is used in this page</p>",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/06b60c61434a4e078ea3f9cb78af81ee",
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE's can be added in asides like this one",
      "richTextContent": "<p>Here we are showing what text looks like in an RTE in an aside.</p>",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/a5b26dd12c0b4e38a58828c2b8e5c19d"
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "udi": "umb://element/e8797c7807404ce3a94d726298c39748",
      "featurePropertyFeatureTitle": "In this section",
      "featurePropertyFeatureDescription": "These are child pages of this page"
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "udi": "umb://element/5bc201c6afaf440bb09a94c9e5b0b3b9",
      "featurePropertyFeatureTitle": "In this section"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/dc27a7aafabb405794fc616e33eceb0a"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/42d956296dc2450dab7ecd25ab764991"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/a76ed8e84c914832be1689f9265a05fb",
      "image": "[\r\n  {\r\n    \"key\": \"769dd677-6d20-4bf7-8eef-bbc332adf333\",\r\n    \"mediaKey\": \"388c7ddd-9acd-4d1f-a473-57054c9d4a6d\"\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/df9ea379e3424efd8f97ed0d0f20ae57",
      "layoutSettingsColourPicker": "{\r\n  \"value\": \"20c997\",\r\n  \"label\": \"--bs-teal\",\r\n  \"sortOrder\": 6,\r\n  \"id\": \"7\"\r\n}",
      "layoutSettingsColourShades": "400"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/2a87788c60d241398c99f462dee102a6",
      "layoutSettingsColourPicker": "{\r\n  \"value\": \"0d6efd\",\r\n  \"label\": \"--bs-blue\",\r\n  \"sortOrder\": 0,\r\n  \"id\": \"1\"\r\n}",
      "layoutSettingsColourShades": "400"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/724b6dcff2064ab6adfc48fbfe457966"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/ed7ebaa9f3f045a9b15cf63a769d4888"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/86600e0c8b8c4923ac18713d99af35e6",
      "layoutSettingsColourPicker": "{\r\n  \"value\": \"6610f2\",\r\n  \"label\": \"--bs-indigo\",\r\n  \"sortOrder\": 2,\r\n  \"id\": \"3\"\r\n}",
      "layoutSettingsColourShades": "500"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/c2d5ce6c6c18418097465fdad30aa386"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/2c7c177e3c624da1ba993389fc0ae884"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/e70dbd191ab843cda98c426e1669f5e3"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/a165f68c8dfe4206b23292b9d8c1785f"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/9d0b9307dea6463abdc43af0cdb758c5"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Internal Links - Children]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "c61717f9-7952-472f-9096-43990b0fbb63",
    "mediaKey": "388c7ddd-9acd-4d1f-a473-57054c9d4a6d"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Internal Links - Children]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Internal Links - Children]]></Value>
    </pageTitleShort>
  </Properties>
</Content>