<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9693418-28b0-4ac4-88fa-568230643a4e" Alias="Feature - Internal Links - Children" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Feature - Internal Links - Children" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Internal Links - Children]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "c61717f9-7952-472f-9096-43990b0fbb63",
    "mediaKey": "388c7ddd-9acd-4d1f-a473-57054c9d4a6d"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Internal Links - Children]]></Value>
    </pageTitle>
  </Properties>
</Content>