<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-06-02T16:21:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6e663519-fb4c-4cd9-b33b-f413f340658b">Home</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/498fd587e7f94c079b43f111d86afa27",
        "settingsUdi": "umb://element/8290a6616f844459aef2db884f061ad8",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/0ed56b7fed06446bbd7a10e5c7885bf7",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/7553baae38114e78926a1798288cbc4b",
        "settingsUdi": "umb://element/5047de4bdf644025949fbbd7396f9bc4",
        "areas": [
          {
            "key": "bd7045ce-845c-4365-9bc7-f65b9a227995",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/69ed9fdff61d43f7a25a6d638daa255e"
              }
            ]
          },
          {
            "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/d6f706dc7a6343c18c0b41a06d67fc75",
                "settingsUdi": "umb://element/73b00ef896d54f739bf559d1ff646aff"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/3c1eaad9261f4e3aa532af3df42ee27a",
        "settingsUdi": "umb://element/e6999ca46aca48e2840ae1a40cf88b8b",
        "areas": [
          {
            "key": "bd7045ce-845c-4365-9bc7-f65b9a227995",
            "items": [
              {
                "contentUdi": "umb://element/9a2f9539fc814ef797f8ededb8f0f444",
                "settingsUdi": "umb://element/7735c8bf338248b5a838de2dab9923f9",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b",
            "items": [
              {
                "contentUdi": "umb://element/c634fe35cdd4446cb45e5f7e8f31efab",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [
          {
            "key": "bd7045ce-845c-4365-9bc7-f65b9a227995",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/bdfbea6bf3764df19ef7acf5beb0bbad",
                "settingsUdi": "umb://element/6a8c6d757e9748c0a209a2335930d2fb"
              }
            ]
          },
          {
            "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/10aff5768bf64943914a3e84c46cde2d"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/907eefcd92c248b4b00bb62b794f0509",
        "settingsUdi": "umb://element/786ff8700a3f4815bc0eb0422fd1447c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/498fd587e7f94c079b43f111d86afa27"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/0ed56b7fed06446bbd7a10e5c7885bf7"
    },
    {
      "contentTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "udi": "umb://element/3c1eaad9261f4e3aa532af3df42ee27a"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/c634fe35cdd4446cb45e5f7e8f31efab",
      "image": "[\r\n  {\r\n    \"key\": \"3f613a2f-09dd-48c2-952c-cdde5bb3656b\",\r\n    \"mediaKey\": \"a5645c7e-33a0-4e87-ac95-6d14b64071d8\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/9a2f9539fc814ef797f8ededb8f0f444",
      "featurePropertyFeatureTitle": "Umbraco",
      "featurePropertyFeatureDescription": "All the benefits of Umbraco, the friendly CMS, including limitless customisation, great editor experience and hundreds of community built packages",
      "richTextContent": "<p>An enhanced back office using Block Preview Package. Edit pages with true WYSIWYG or switch to Sort Mode for a simple view.</p>\n<p>A selection of Layout Templates with examples so you can make your own.</p>\n<p>A comprehensive library of Feature Components available to use in your own projects.</p>"
    },
    {
      "contentTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "udi": "umb://element/907eefcd92c248b4b00bb62b794f0509"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/bdfbea6bf3764df19ef7acf5beb0bbad",
      "featurePropertyFeatureTitle": "Bootstrap",
      "featurePropertyFeatureDescription": "Making use of Bootstraps ready-made components to quickly build and style features common to almost all websites",
      "richTextContent": "<p>Customise Layouts and Features in minutes with Bootstraps easy to use Utility Classes.</p>\n<p>Everything from tabbed interfaces, slideshows, card grids all written in Bootstraps responsive components.</p>\n<p>The CSS and JavaScript is taken care of for you but advanced users can dig deeper and customise the existing code or write your own.</p>"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/10aff5768bf64943914a3e84c46cde2d",
      "image": "[\r\n  {\r\n    \"key\": \"ec8f56a9-e7da-425f-a2a5-71d2203f341b\",\r\n    \"mediaKey\": \"2ea72d1f-463f-4818-adff-b097021d0ea7\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "udi": "umb://element/7553baae38114e78926a1798288cbc4b"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/69ed9fdff61d43f7a25a6d638daa255e",
      "image": "[\r\n  {\r\n    \"key\": \"584aee23-2924-4f62-a5ea-052df8152306\",\r\n    \"mediaKey\": \"da3b0877-0904-4638-8e3b-e8b7661ec696\"\r\n  }\r\n]",
      "featurePropertyFeatureTitle": "Welcome",
      "featurePropertyFeatureDescription": "This is an Umbraco community project"
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "udi": "umb://element/d6f706dc7a6343c18c0b41a06d67fc75",
      "featurePropertyFeatureTitle": "Introduction",
      "richTextContent": "<p>It shows how to create common Bootstrap elements such as navbar, carousel, cards, forms, and more using C# Razor Umbraco code.</p>\n<p>You can view the source code of each component and copy it to your own site</p>\n<p>This website is a community project that aims to help Umbraco developers learn how to use Bootstrap in their projects.</p>",
      "featurePropertyFeatureDescription": "If you are looking for a way to use Bootstrap web page layouts and components in your Umbraco site, you might want to check out this example website.",
      "featurePropertyFeatureSummary": "You can also contribute to the project by adding new components or improving the existing ones."
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/8290a6616f844459aef2db884f061ad8",
      "layoutSettingsColourPicker": "",
      "layoutSettingsColourShades": "500"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/e6999ca46aca48e2840ae1a40cf88b8b",
      "layoutSettingsColourPicker": "{\r\n  \"value\": \"6f42c1\",\r\n  \"label\": \"--bs-purple\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"2\"\r\n}",
      "layoutSettingsColourShades": "500",
      "layoutSettingsBackgroundImagePicker": "[]"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/7735c8bf338248b5a838de2dab9923f9"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/786ff8700a3f4815bc0eb0422fd1447c"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/6a8c6d757e9748c0a209a2335930d2fb"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/5047de4bdf644025949fbbd7396f9bc4"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "udi": "umb://element/73b00ef896d54f739bf559d1ff646aff"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[UmBootstrap is an Umbraco Website Starter Kit using Bootstrap Templates and a comprehensive Component Library all available for you to use in your projects]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Umbootstrap]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Home]]></Value>
    </pageTitleShort>
  </Properties>
</Content>