<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-06-02T16:21:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6e663519-fb4c-4cd9-b33b-f413f340658b">Home</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1f15e37e3e5b49568a59580a1126fb4c",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/4267826363b34391b8cec4c026c24a29",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/08a70f54243f49aabf292c1e89bba04d",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/4a66e60a1c2a41518ab96b813fbd048a",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/5ae3bf4f03f048ae9185319c80047e53",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/1f15e37e3e5b49568a59580a1126fb4c"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/4267826363b34391b8cec4c026c24a29",
      "richTextContent": "<h2>Block Grid</h2>\n<p>Umbraco Block grid works perfectly with CSS grid.</p>\n<p>Unfortunatly on of the most common CSS frameworks used by many developers uses CSS Flexbox instead.</p>\n<p>Well that was the case until Bootstrap 5.1 where Bootstrap CSS Grid was introduced behind a flag.</p>\n<p>This site uses both Umbraco Block Grid and Bootstrap CSS Grid.</p>"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/4a66e60a1c2a41518ab96b813fbd048a",
      "richTextContent": "<h2>Introduction</h2>\n<p>I created this site as a side proect to bring myself up to spead with a combination of technolgies that help you get a simple template based website up and running quickly and easily.</p>"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/5ae3bf4f03f048ae9185319c80047e53",
      "richTextContent": "<h2>Bootstrap Grid</h2>\n<p>Bootstrap 5.1 onwards provides a method for creating layouts using CSS Grid.</p>\n<p>It needs to be toggled on to use it but enabling it disables the default flexbox Bootstrap CSS Grid.</p>\n<p>This site uses Bootstrap 5.3 CSS Grid.</p>"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "udi": "umb://element/08a70f54243f49aabf292c1e89bba04d",
      "image": "[\r\n  {\r\n    \"key\": \"584aee23-2924-4f62-a5ea-052df8152306\",\r\n    \"mediaKey\": \"da3b0877-0904-4638-8e3b-e8b7661ec696\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[An example website demonstrating how to create common Bootstrap web page layouts components in Umbraco]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[Umbootstrap]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>