<?xml version="1.0" encoding="utf-8"?>
<Content Key="104327db-31fe-48ad-84ea-afff53fe7696" Alias="Introduction" Level="3">
  <Info>
    <Parent Key="a0c01909-18ac-453e-a603-ff46c435701e">Layout</Parent>
    <Path>/Home/Layout/Introduction</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-01T10:26:58</CreateDate>
    <NodeName Default="Introduction" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c796d7a3220d4490ac947c1444588b99",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/44005abf322745d7a9dce05a821def20",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/7bfeb787af4d482892531bf03adc0315",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/8c033e587a93461c9999cab7d1d7ff67",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/c796d7a3220d4490ac947c1444588b99"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/8c033e587a93461c9999cab7d1d7ff67",
      "richTextContent": "<p>safasf</p>"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/7bfeb787af4d482892531bf03adc0315",
      "richTextContent": "<p>asdasd</p>"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/44005abf322745d7a9dce05a821def20",
      "richTextContent": "<p>asdasd</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Introduction]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[Introduction]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "c37dbbbf-2e15-4fe2-89d7-ea1f73177e34",
    "mediaKey": "f99ea450-71f3-4d21-ae94-0cc5e9e4848b"
  }
]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>