<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0c01909-18ac-453e-a603-ff46c435701e" Alias="Layouts" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/Layouts</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-01T10:26:58</CreateDate>
    <NodeName Default="Layouts" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/b10a6be907044b3ebc6dbe84762cd0b3"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/cba4e90403d94b52a9586828ae89e72a",
        "settingsUdi": "umb://element/923e8e14d9754e1ab5b76d3fbbaf8075"
      },
      {
        "contentUdi": "umb://element/90b001f5b59a4e0cb3cb6f8899c4e0bd",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/61247655beea4906b1528ace648a5b1b",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "settingsUdi": "umb://element/81be03de51ea46c0a6fd264032f3dcc5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/90b001f5b59a4e0cb3cb6f8899c4e0bd"
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "udi": "umb://element/61247655beea4906b1528ace648a5b1b",
      "featurePropertyFeatureTitle": ""
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/cba4e90403d94b52a9586828ae89e72a"
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "udi": "umb://element/b10a6be907044b3ebc6dbe84762cd0b3"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/81be03de51ea46c0a6fd264032f3dcc5"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "udi": "umb://element/923e8e14d9754e1ab5b76d3fbbaf8075"
    }
  ]
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Templates for laying out Features]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Layout Templates]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Layouts]]></Value>
    </pageTitleShort>
  </Properties>
</Content>