<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c4ed4ca-21ee-4b06-85f0-2716f850dbed" Alias="Rich Text Editor" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/RichTextEditor</Path>
    <Trashed Parent="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">true</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Rich Text Editor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/03989b6e99274acbb253e10eec5de6a2",
        "areas": [
          {
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
            "items": [
              {
                "contentUdi": "umb://element/2c35cb06e43e4e82ac398dd05d2b9076",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
            "items": [
              {
                "contentUdi": "umb://element/037fb388b05a40fdb59b4ae63bb96c6a",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
            "items": [
              {
                "contentUdi": "umb://element/60d53b986a68457ba0517a0f1ccf567a",
                "areas": [],
                "columnSpan": 3,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "udi": "umb://element/03989b6e99274acbb253e10eec5de6a2"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/60d53b986a68457ba0517a0f1ccf567a",
      "richTextContent": "<p>safasf</p>"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/037fb388b05a40fdb59b4ae63bb96c6a",
      "richTextContent": "<p>asdasd</p>"
    },
    {
      "contentTypeKey": "69549b47-e87c-4e42-859e-78d60a1a0fd5",
      "udi": "umb://element/2c35cb06e43e4e82ac398dd05d2b9076",
      "richTextContent": "<p>asdasd</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[A Rich Text Editor that uses TinyMCE and allows some configuration of styles and formats both in Umbraco Back Office and the config file]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "c37dbbbf-2e15-4fe2-89d7-ea1f73177e34",
    "mediaKey": "f99ea450-71f3-4d21-ae94-0cc5e9e4848b"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Rich Text Editor]]></Value>
    </pageTitle>
  </Properties>
</Content>