<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd531492-6cc7-4629-94a0-ff13d8a5493d" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-06-02T16:29:34</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyright>
      <Value><![CDATA[]]></Value>
    </copyright>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <mainNavigation>
      <Value><![CDATA[]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[]]></Value>
    </siteName>
  </Properties>
</Content>