<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd531492-6cc7-4629-94a0-ff13d8a5493d" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-06-02T16:29:34</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyright>
      <Value><![CDATA[Copyright Our Site]]></Value>
    </copyright>
    <logo>
      <Value><![CDATA[[]]]></Value>
    </logo>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "udi": "umb://document/d5b1563ddb6b42bcb4bf950f33894ad2",
    "key": "d5b1563d-db6b-42bc-b4bf-950f33894ad2",
    "name": "Home",
    "description": "/",
    "title": "Home",
    "url": "/",
    "children": [],
    "icon": "icon-home color-black",
    "published": true,
    "naviHide": false,
    "culture": null,
    "itemType": "link"
  }
]]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[Our Site]]></Value>
    </siteName>
  </Properties>
</Content>