<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd531492-6cc7-4629-94a0-ff13d8a5493d" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-06-02T16:29:34</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyright>
      <Value><![CDATA[Copyright UmBootstrap]]></Value>
    </copyright>
    <logo>
      <Value><![CDATA[[
  {
    "key": "43e6b6c0-b7f1-42dd-a2d5-1cfb398cd83e",
    "mediaKey": "cdc0f012-cc9f-4cdb-be79-f1eb7b46402f"
  }
]]]></Value>
    </logo>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "udi": "umb://document/d5b1563ddb6b42bcb4bf950f33894ad2",
    "key": "d5b1563d-db6b-42bc-b4bf-950f33894ad2",
    "name": "Home",
    "description": "/",
    "title": "Home",
    "url": "/",
    "children": [],
    "icon": "icon-home color-black",
    "published": true,
    "naviHide": false,
    "culture": null,
    "itemType": "link",
    "id": 1167
  },
  {
    "udi": "umb://document/6e199eee4f904a1c90ce867d332ff091",
    "key": "6e199eee-4f90-4a1c-90ce-867d332ff091",
    "name": "About",
    "description": "/about/",
    "title": "About",
    "url": "/about/",
    "children": [],
    "icon": "icon-newspaper color-black",
    "published": true,
    "naviHide": false,
    "culture": null,
    "itemType": "link",
    "id": 1169
  },
  {
    "udi": "umb://document/a0c0190918ac453ea603ff46c435701e",
    "key": "a0c01909-18ac-453e-a603-ff46c435701e",
    "name": "Layouts",
    "description": "/layouts/",
    "title": "Layouts",
    "url": "/layouts/",
    "children": [],
    "icon": "icon-newspaper color-black",
    "published": true,
    "naviHide": false,
    "culture": null,
    "itemType": "link",
    "id": 1170
  },
  {
    "udi": "umb://document/fbb2a2572f19452db7add31ab8fd0fa2",
    "key": "fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2",
    "name": "Features",
    "description": "/features/",
    "title": "Features",
    "url": "/features/",
    "children": [],
    "icon": "icon-newspaper color-black",
    "published": true,
    "naviHide": false,
    "culture": null,
    "itemType": "link",
    "id": 1171
  },
  {
    "udi": "umb://document/10fbe582ff8d47b2896bf7ab93ee3b99",
    "key": "10fbe582-ff8d-47b2-896b-f7ab93ee3b99",
    "name": "Example Section",
    "description": "/example-section/",
    "title": "Example Section",
    "url": "/example-section/",
    "children": [],
    "icon": "icon-newspaper color-black",
    "published": true,
    "naviHide": false,
    "culture": null,
    "itemType": "link",
    "id": 1172
  }
]]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[UmBootstrap]]></Value>
    </siteName>
  </Properties>
</Content>