<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d180225-8d8e-4c65-a59a-9482e3f255c1" Alias="Test Page 05" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Test Section</Parent>
    <Path>/Home/TestSection/TestPage05</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-13T14:00:20</CreateDate>
    <NodeName Default="Test Page 05" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Test Page 05]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[Test Page 05]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "67c57ccc-260c-408b-94d4-271aeb93f1e3",
    "mediaKey": "528dbeee-f5bd-4dd7-80d2-8267814cb341"
  }
]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>