<?xml version="1.0" encoding="utf-8"?>
<Content Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99" Alias="Test Section" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/TestSection</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:56:37</CreateDate>
    <NodeName Default="Test Section" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/96e9fbbc27554a02bbe9a4fa5f109558",
        "areas": [
          {
            "key": "bd7045ce-845c-4365-9bc7-f65b9a227995",
            "items": [
              {
                "contentUdi": "umb://element/5b2c3d08bdc14721a164859ed6a97c07",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f64dd1250b0242039408f16ba559da61",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1,
                "contentUdi": "umb://element/18559f5b39d545c887376f8d135be9b7"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "udi": "umb://element/96e9fbbc27554a02bbe9a4fa5f109558"
    },
    {
      "contentTypeKey": "3db256d9-ff75-41a7-b5b4-f1fcaec92458",
      "udi": "umb://element/5b2c3d08bdc14721a164859ed6a97c07",
      "links": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/f64dd1250b0242039408f16ba559da61"
    },
    {
      "contentTypeKey": "3db256d9-ff75-41a7-b5b4-f1fcaec92458",
      "udi": "umb://element/18559f5b39d545c887376f8d135be9b7",
      "links": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Test Section]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[Test Section]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "c0d2747a-faa1-4d2b-9e61-5dd34710f85c",
    "mediaKey": "528dbeee-f5bd-4dd7-80d2-8267814cb341"
  }
]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>