<?xml version="1.0" encoding="utf-8"?>
<Content Key="316e9f9b-81f5-43ba-9ceb-e734864baa66" Alias="Test Page 02" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Test Section - A</Parent>
    <Path>/Home/TestSectionA/TestPage02</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:57:25</CreateDate>
    <NodeName Default="Test Page 02" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/205f8be2d37f4e3d86d6b58dc5521441",
        "areas": [
          {
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
            "items": [
              {
                "contentUdi": "umb://element/b6dd9d8301504440ba151039e51c7af1",
                "areas": [],
                "columnSpan": 12,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "udi": "umb://element/205f8be2d37f4e3d86d6b58dc5521441"
    },
    {
      "contentTypeKey": "05a27f33-b1d6-49b0-89fe-755829ae138c",
      "udi": "umb://element/b6dd9d8301504440ba151039e51c7af1",
      "links": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2,umb://document/af8fb0fe0eb944feb49870ab76351d41,umb://document/0d1802258d8e4c65a59a9482e3f255c1"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Test Page 02]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[Test Page 02]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "67c57ccc-260c-408b-94d4-271aeb93f1e3",
    "mediaKey": "52a7946e-cdcc-4bc0-8cb4-5f2d2ff2f73c"
  }
]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>