<?xml version="1.0" encoding="utf-8"?>
<Content Key="af8fb0fe-0eb9-44fe-b498-70ab76351d41" Alias="Test Page 04" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Test Section - A</Parent>
    <Path>/Home/TestSectionA/TestPage04</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-13T13:59:49</CreateDate>
    <NodeName Default="Test Page 04" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Test Page 04]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[Test Page 04]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "67c57ccc-260c-408b-94d4-271aeb93f1e3",
    "mediaKey": "c293a90e-37e3-44b2-8694-64cafe701857"
  }
]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>