<?xml version="1.0" encoding="utf-8"?>
<Content Key="608fe8a3-42a9-4cb1-9cdd-28733535b30d" Alias="Test Page 04" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/TestPage04</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Test Page 04" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Test Page 04]]></Value>
    </pageDescription>
    <pageName>
      <Value><![CDATA[Test Page 04]]></Value>
    </pageName>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "51a545f2-6dd3-42a6-a277-81323f7ad35f",
    "mediaKey": "5de8bd45-74b2-4ac2-b672-6355f68b80cf"
  }
]]]></Value>
    </pageThumbnail>
  </Properties>
</Content>