<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8" Alias="featureCode" Level="2">
  <Info>
    <Name>Feature - Code</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features</Folder>
    <Compositions>
      <Composition Key="d045add2-75d7-4500-91cc-a82419a2ca1e">featureComponentCode</Composition>
      <Composition Key="ed691eff-1f5d-4d92-9d3b-b63757e88087">featureComponentFeatureDescription</Composition>
      <Composition Key="1b247f06-207e-4871-a128-2b09db538d0c">featureComponentFeatureSummary</Composition>
      <Composition Key="088b60c8-d546-43c3-b759-89102bbf1ac2">featureComponentFeatureTitle</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>