<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ed691eff-1f5d-4d92-9d3b-b63757e88087" Alias="featureComponentFeatureDescription" Level="3">
  <Info>
    <Name>Feature Component - Feature Description</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features/Feature+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>44968294-5acd-4fb0-8e86-bff95e27ce91</Key>
      <Name>Description</Name>
      <Alias>featurePropertyFeatureDescription</Alias>
      <Definition>53427912-8140-4ef4-8639-635e1053b6ba</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional - Description for this feature]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="featureContent">Feature Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>245387cf-d601-429c-8149-9cd1b689b7bb</Key>
      <Caption>Feature Content</Caption>
      <Alias>featureContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>