<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f8ca0cd-8bc9-4659-97cd-127df0c9da9d" Alias="layoutSettings" Level="2">
  <Info>
    <Name>Layout Settings</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings</Folder>
    <Compositions>
      <Composition Key="4ca076c4-5e7f-42b3-8c18-b25afdcf0647">layoutSettingsComponentBackgroundImage</Composition>
      <Composition Key="2bd0b48b-60cd-4a59-9d7c-abcc7ca7a13b">layoutSettingsComponentColorPicker</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>