<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4ca076c4-5e7f-42b3-8c18-b25afdcf0647" Alias="layoutSettingsComponentBackgroundImage" Level="3">
  <Info>
    <Name>Layout Settings Component - Background Image</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Layout+Settings/Layout+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8bfb2fb3-068a-4603-b6d9-596f8b03bb59</Key>
      <Name>Layout Settings Background Image Picker</Name>
      <Alias>layoutSettingsBackgroundImagePicker</Alias>
      <Definition>46795d19-2f28-42ab-b0f9-4f4e53d842a2</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="backgroundImage">Background Image</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b713e7d3-e812-4190-94b8-ac9c81bdaec7</Key>
      <Caption>Background Image</Caption>
      <Alias>backgroundImage</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
  </Tabs>
</ContentType>