<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9490ca3c-7a5e-4be3-aa73-712136b2a5a1" Alias="_Content Grid Default - Content - Block Grid" Level="1">
  <Info>
    <Name>_Content Grid Default - Content - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "name": "Layout Blocks"
    },
    {
      "key": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "name": "Feature Blocks"
    }
  ],
  "blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "primary g-col-12 p-3 rounded-3",
          "columnSpan": 12,
          "createLabel": null,
          "key": "31bb56d4-1276-415e-8dab-ff61d8366304",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "tertiary g-col-12 g-col-md-6 g-col-lg-3 p-3 rounded-3",
          "columnSpan": 3,
          "createLabel": "Tertiary Area",
          "key": "0379bea9-eb06-4a48-8724-279db71aee0a",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "primary g-col-12 g-col-md-6 g-col-lg-6 p-3 rounded-3",
          "columnSpan": 6,
          "createLabel": "Primary Area",
          "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "secondary g-col-12 g-col-md-12 g-col-lg-3 p-3 rounded-3",
          "columnSpan": 3,
          "createLabel": "Secondary Area",
          "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "g-col-12 g-col-md-6 g-col-lg-3 p-3 bg-white tertiary rounded-3",
          "columnSpan": 3,
          "createLabel": null,
          "key": "afe26812-3f06-4d32-842a-c415b473fb10",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "g-col-12 g-col-md-6 g-col-lg-9 p-3 bg-white primary rounded-3",
          "columnSpan": 9,
          "createLabel": null,
          "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "primary g-col-12 g-col-md-6 p-3 rounded-3",
          "columnSpan": 6,
          "createLabel": null,
          "key": "bd7045ce-845c-4365-9bc7-f65b9a227995",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "secondary g-col-12 g-col-md-6 p-3 rounded-3",
          "columnSpan": 6,
          "createLabel": null,
          "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ],
      "contentElementTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "3db256d9-ff75-41a7-b5b4-f1fcaec92458",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "05a27f33-b1d6-49b0-89fe-755829ae138c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "b4148cb6-f6d9-42f9-a6df-3aa3f31ea68e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "663fc5bc-c5b1-45d6-916a-5aa8adaeb18a",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "g-col-12 g-col-md-8 g-start-1 g-start-md-3 p-3 bg-white primary rounded-3",
          "columnSpan": 8,
          "createLabel": null,
          "key": "bcede4d7-7de0-4338-948c-53e4ddf8f1e3",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "420d1288-9016-4ddd-b200-b289c5aaeb96",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "788a9eba-94c1-4df6-9adf-0122f85b883a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2ede97b0-9580-41cc-a029-bf041790c209",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "6d7aa5eb-5edc-40c3-8013-2d4d4016f601",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": "~/css/index.css",
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.Community.BlockPreview/views/block-preview.html"
    },
    {
      "allowAtRoot": false,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2f09e4b4-b147-4371-86b0-d8575984726f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "ec39ec1f-61b5-40ba-bc55-16b455d31945",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "createLabel": "Add a Layout Block",
  "maxPropertyWidth": "clamp(576px, 100%, 1400px)",
  "useLiveEditing": false,
  "validationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>