<?xml version="1.0" encoding="utf-8"?>
<DataType Key="157fb7b8-e33b-41ee-a710-d32eef760754" Alias="Site Settings - Main Navigation - UmbNav" Level="1">
  <Info>
    <Name>Site Settings - Main Navigation - UmbNav</Name>
    <EditorAlias>Umbraco.Community.UmbNav</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNav</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowCustomClasses": false,
  "allowDisplay": false,
  "allowImageIcon": true,
  "enableTextItems": true,
  "enableToggleAllButton": true,
  "hideNoopener": false,
  "hideNoreferrer": false
}]]></Config>
</DataType>