<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc9a3241-188f-4955-aff1-6f34ddbc92d3" Alias="0 6 0" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/</Path>
    <Trashed Parent="993da213-e447-47b8-92f0-8d70beb9b399">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-01T16:13:28</CreateDate>
    <NodeName Default="0 6 0" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oazjvtep/0-6-0.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>