<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc9a3241-188f-4955-aff1-6f34ddbc92d3" Alias="0 6 0" Level="2">
  <Info>
    <Parent Key="993da213-e447-47b8-92f0-8d70beb9b399">Layouts</Parent>
    <Path>/Layouts/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-01T16:13:28</CreateDate>
    <NodeName Default="0 6 0" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oazjvtep/0-6-0.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>