<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1cc266e-3ee2-4b5a-a1f0-e6a085fd4c1d" Alias="0677863E 0B54 4160 Ae68 A0da569b22fe (Large)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/E0B544160Ae68A0da569b22feLarge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-17T15:55:05</CreateDate>
    <NodeName Default="0677863E 0B54 4160 Ae68 A0da569b22fe (Large)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/natmzypc/_0677863e-0b54-4160-ae68-a0da569b22fe-large.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>