<?xml version="1.0" encoding="utf-8"?>
<Media Key="7410d9a0-53b2-448a-b963-214c2e049f25" Alias="12" Level="2">
  <Info>
    <Parent Key="993da213-e447-47b8-92f0-8d70beb9b399">Layouts</Parent>
    <Path>/Layouts/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-01T16:13:27</CreateDate>
    <NodeName Default="12" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/shmba3fs/12.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>