<?xml version="1.0" encoding="utf-8"?>
<Media Key="7410d9a0-53b2-448a-b963-214c2e049f25" Alias="12" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/</Path>
    <Trashed Parent="993da213-e447-47b8-92f0-8d70beb9b399">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-01T16:13:27</CreateDate>
    <NodeName Default="12" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/shmba3fs/12.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>