<?xml version="1.0" encoding="utf-8"?>
<Media Key="c337441b-2c0f-4a94-a514-21351f4b40b1" Alias="3 6 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/</Path>
    <Trashed Parent="993da213-e447-47b8-92f0-8d70beb9b399">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-01T16:13:27</CreateDate>
    <NodeName Default="3 6 3" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fjcdpqyp/3-6-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>