<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b80b571-1033-4324-8685-e6295000f300" Alias="3 9" Level="2">
  <Info>
    <Parent Key="993da213-e447-47b8-92f0-8d70beb9b399">Layouts</Parent>
    <Path>/Layouts/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-01T16:13:27</CreateDate>
    <NodeName Default="3 9" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ic0jaczt/3-9.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>