<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfeac70f-5420-4040-940c-2636cb2b212d" Alias="3Dc1d51f E881 41D8 90E4 F0219d1ad6a0 (Large)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Dc1d51fE88141D890E4F0219d1ad6a0Large</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-17T15:55:04</CreateDate>
    <NodeName Default="3Dc1d51f E881 41D8 90E4 F0219d1ad6a0 (Large)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bhdpvpza/_3dc1d51f-e881-41d8-90e4-f0219d1ad6a0-large.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>