<?xml version="1.0" encoding="utf-8"?>
<Media Key="69205a4b-2c7c-4819-bb8a-174d5218f739" Alias="3N 6 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/N63</Path>
    <Trashed Parent="993da213-e447-47b8-92f0-8d70beb9b399">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-01T16:13:27</CreateDate>
    <NodeName Default="3N 6 3" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pjnca0l2/3n-6-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>