<?xml version="1.0" encoding="utf-8"?>
<Media Key="a94be9b3-acf6-460f-9661-4ffacefee1fe" Alias="3N 9" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/N9</Path>
    <Trashed Parent="993da213-e447-47b8-92f0-8d70beb9b399">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-01T16:13:27</CreateDate>
    <NodeName Default="3N 9" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qlufxkpw/3n-9.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>