<?xml version="1.0" encoding="utf-8"?>
<Media Key="52a7946e-cdcc-4bc0-8cb4-5f2d2ff2f73c" Alias="40Cb6d9c A67b 4C82 9819 6Eecae95f14f (Large)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cb6d9cA67b4C8298196Eecae95f14fLarge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-17T15:55:04</CreateDate>
    <NodeName Default="40Cb6d9c A67b 4C82 9819 6Eecae95f14f (Large)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nckkouwm/_40cb6d9c-a67b-4c82-9819-6eecae95f14f-large.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>