<?xml version="1.0" encoding="utf-8"?>
<Media Key="332676f0-3a07-4a3a-a3b9-a8cdfca82f96" Alias="6 6" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/</Path>
    <Trashed Parent="993da213-e447-47b8-92f0-8d70beb9b399">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-04T07:41:40</CreateDate>
    <NodeName Default="6 6" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yf1cmmyh/6-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>