<?xml version="1.0" encoding="utf-8"?>
<Media Key="73e1bd89-c8dd-45b9-a853-fbbf45c2346e" Alias="6Cee0906 1200 492D Ab84 Fb351a3e5b4e (Large)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Cee09061200492DAb84Fb351a3e5b4eLarge</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-17T15:55:04</CreateDate>
    <NodeName Default="6Cee0906 1200 492D Ab84 Fb351a3e5b4e (Large)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r44pc243/_6cee0906-1200-492d-ab84-fb351a3e5b4e-large.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>