<?xml version="1.0" encoding="utf-8"?>
<Media Key="393712ac-365c-4cfd-bc69-b3259fe0a402" Alias="9C3875fa Edab 4Fe4 Bae2 A8168e0ebd0e" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/C3875faEdab4Fe4Bae2A8168e0ebd0e</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-17T15:57:55</CreateDate>
    <NodeName Default="9C3875fa Edab 4Fe4 Bae2 A8168e0ebd0e" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vijdook2/_9c3875fa-edab-4fe4-bae2-a8168e0ebd0e.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>