<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb77f2db-a56d-4a20-890a-c77c1f617f61" Alias="Back Office" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BackOffice</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-08T07:02:16</CreateDate>
    <NodeName Default="Back Office" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties />
</Media>