<?xml version="1.0" encoding="utf-8"?>
<Media Key="97315b43-35d2-43e3-bf26-06741160e2d2" Alias="Child Pages" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ChildPages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-09T07:32:18</CreateDate>
    <NodeName Default="Child Pages" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties />
</Media>