<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ea72d1f-463f-4818-adff-b097021d0ea7" Alias="Code Featurenavigationdescendants" Level="2">
  <Info>
    <Parent Key="6a3139b8-a44f-4804-b641-5d4c766569a9">Miscellaneous</Parent>
    <Path>/Miscellaneous/CodeFeaturenavigationdescendants</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-08T07:21:18</CreateDate>
    <NodeName Default="Code Featurenavigationdescendants" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dewlolr5/code-featurenavigationdescendants.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>