<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0fe9406-aace-4ec9-8372-c42afee1f5f4" Alias="Codegarden" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Codegarden</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-09T07:33:33</CreateDate>
    <NodeName Default="Codegarden" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties />
</Media>