<?xml version="1.0" encoding="utf-8"?>
<Media Key="01459395-8247-4f4c-9d81-e83deaa6b5c0" Alias="Code" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Code</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-08T07:21:08</CreateDate>
    <NodeName Default="Code" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties />
</Media>