<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6395dcd-d415-4d00-a64d-83c7ba070d43" Alias="Eeb8c998 5Bfa 4D1d 8891 E8e27924415f (Large)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Eeb8c9985Bfa4D1d8891E8e27924415fLarge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-17T15:55:05</CreateDate>
    <NodeName Default="Eeb8c998 5Bfa 4D1d 8891 E8e27924415f (Large)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/znodt3qv/_eeb8c998-5bfa-4d1d-8891-e8e27924415f-large.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>