<?xml version="1.0" encoding="utf-8"?>
<Media Key="2536df9e-26ba-495a-8795-98028b823f93" Alias="Feature - Tabs - Tab One" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FeatureTabsTabOne</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:28</CreateDate>
    <NodeName Default="Feature - Tabs - Tab One" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tdpdmjn0/feature-tab-01.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>