<?xml version="1.0" encoding="utf-8"?>
<Media Key="1eb7febc-eaa9-471b-b980-0c42419f9f41" Alias="Firefly A Man Swiping Rectangles On A Giant Screen, Flat Colours, Solid Geometric Shapes, Coral Pink" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FireflyAManSwipingRectanglesOnAGiantScreenFlatColoursSolidGeometricShapesCoralPink</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-08T20:09:40</CreateDate>
    <NodeName Default="Firefly A Man Swiping Rectangles On A Giant Screen, Flat Colours, Solid Geometric Shapes, Coral Pink" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xl5lohvj/firefly-a-man-swiping-rectangles-on-a-giant-screen-flat-colours-solid-geometric-shapes-coral-pink.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>