<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ff2eab8-c174-499a-9b84-699a2d7013be" Alias="Firefly Business People Dancing At A Tech Conference Style = Flat Colours, Flat Design, Geometric Sh (2)" Level="2">
  <Info>
    <Parent Key="b0fe9406-aace-4ec9-8372-c42afee1f5f4">Codegarden</Parent>
    <Path>/Codegarden/FireflyBusinessPeopleDancingAtATechConferenceStyleFlatColoursFlatDesignGeometricSh2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:30</CreateDate>
    <NodeName Default="Firefly Business People Dancing At A Tech Conference Style = Flat Colours, Flat Design, Geometric Sh (2)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x1vpe51u/firefly-business-people-dancing-at-a-tech-conference_style-flat-colours-flat-design-geometric-sh-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>