<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8acb0d7-dce4-4bd1-8b0d-b94352aa9afd" Alias="Firefly 2 Business People Standing At A Water Cooler Style = Flat Colours, Flat Design, Geometric Sh" Level="2">
  <Info>
    <Parent Key="b0fe9406-aace-4ec9-8372-c42afee1f5f4">Codegarden</Parent>
    <Path>/Codegarden/Firefly2BusinessPeopleStandingAtAWaterCoolerStyleFlatColoursFlatDesignGeometricSh</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:29</CreateDate>
    <NodeName Default="Firefly 2 Business People Standing At A Water Cooler Style = Flat Colours, Flat Design, Geometric Sh" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0gykzwhe/firefly-2-business-people-standing-at-a-water-cooler_style-flat-colours-flat-design-geometric-sh.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>