<?xml version="1.0" encoding="utf-8"?>
<Media Key="27c5197e-3327-4090-b402-316074c04ebe" Alias="Firefly Business People Dancing At A Tech Conference Style = Flat Colours, Flat Design, Geometric Sh (3)" Level="2">
  <Info>
    <Parent Key="b0fe9406-aace-4ec9-8372-c42afee1f5f4">Codegarden</Parent>
    <Path>/Codegarden/FireflyBusinessPeopleDancingAtATechConferenceStyleFlatColoursFlatDesignGeometricSh3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:30</CreateDate>
    <NodeName Default="Firefly Business People Dancing At A Tech Conference Style = Flat Colours, Flat Design, Geometric Sh (3)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pamnkjzh/firefly-business-people-dancing-at-a-tech-conference_style-flat-colours-flat-design-geometric-sh-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>