<?xml version="1.0" encoding="utf-8"?>
<Media Key="5aff2ca4-fbd4-4784-8730-e4362b0a9da4" Alias="Firefly Business People Audience Watching A Talk At A Tech Conference Style = Flat Colours, Flat Des (1)" Level="2">
  <Info>
    <Parent Key="b0fe9406-aace-4ec9-8372-c42afee1f5f4">Codegarden</Parent>
    <Path>/Codegarden/FireflyBusinessPeopleAudienceWatchingATalkAtATechConferenceStyleFlatColoursFlatDes1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:28</CreateDate>
    <NodeName Default="Firefly Business People Audience Watching A Talk At A Tech Conference Style = Flat Colours, Flat Des (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uiwp4wwu/firefly-business-people-audience-watching-a-talk-at-a-tech-conference_style-flat-colours-flat-des-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>