<?xml version="1.0" encoding="utf-8"?>
<Media Key="786ff4ce-7a17-45ee-9319-c2d8c20bf5c8" Alias="Firefly Business Person Man Playing Jenga Style = Flat Colours, Flat Design, Geometric Shapes, Alleg" Level="2">
  <Info>
    <Parent Key="b0fe9406-aace-4ec9-8372-c42afee1f5f4">Codegarden</Parent>
    <Path>/Codegarden/FireflyBusinessPersonManPlayingJengaStyleFlatColoursFlatDesignGeometricShapesAlleg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:29</CreateDate>
    <NodeName Default="Firefly Business Person Man Playing Jenga Style = Flat Colours, Flat Design, Geometric Shapes, Alleg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zd0g44ax/firefly-business-person-man-playing-jenga_style-flat-colours-flat-design-geometric-shapes-alleg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>