<?xml version="1.0" encoding="utf-8"?>
<Media Key="388c7ddd-9acd-4d1f-a473-57054c9d4a6d" Alias="Firefly A Family With 3 Children Of Gradually Decreasing Height, Flat Colours, Solid Geometric Shape" Level="2">
  <Info>
    <Parent Key="97315b43-35d2-43e3-bf26-06741160e2d2">Child Pages</Parent>
    <Path>/ChildPages/FireflyAFamilyWith3ChildrenOfGraduallyDecreasingHeightFlatColoursSolidGeometricShape</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-07T20:09:30</CreateDate>
    <NodeName Default="Firefly A Family With 3 Children Of Gradually Decreasing Height, Flat Colours, Solid Geometric Shape" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1n4jyogn/firefly-a-family-with-3-children-of-gradually-decreasing-height-flat-colours-solid-geometric-shape.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>