<?xml version="1.0" encoding="utf-8"?>
<Media Key="2240a7ba-71a0-4837-adeb-84b9d1fce6c3" Alias="Firefly A Man Pointing At File Tabs On A Very Large File Above Him , Flat Design, No Stroke, No Outl" Level="2">
  <Info>
    <Parent Key="6a3139b8-a44f-4804-b641-5d4c766569a9">Miscellaneous</Parent>
    <Path>/Miscellaneous/FireflyAManPointingAtFileTabsOnAVeryLargeFileAboveHimFlatDesignNoStrokeNoOutl</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-15T14:43:33</CreateDate>
    <NodeName Default="Firefly A Man Pointing At File Tabs On A Very Large File Above Him , Flat Design, No Stroke, No Outl" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xstfaiva/firefly-a-man-pointing-at-file-tabs-on-a-very-large-file-above-him-flat-design-no-stroke-no-outl.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>