<?xml version="1.0" encoding="utf-8"?>
<Media Key="29c2caa2-85f9-47d5-8c89-5472d685b4f5" Alias="Firefly A Man Pointing At File Tabs On A Very Large File Above Him , Flat Design, No Stroke, No Outl (2)" Level="2">
  <Info>
    <Parent Key="6a3139b8-a44f-4804-b641-5d4c766569a9">Miscellaneous</Parent>
    <Path>/Miscellaneous/FireflyAManPointingAtFileTabsOnAVeryLargeFileAboveHimFlatDesignNoStrokeNoOutl2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-15T14:43:33</CreateDate>
    <NodeName Default="Firefly A Man Pointing At File Tabs On A Very Large File Above Him , Flat Design, No Stroke, No Outl (2)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/utfmekpz/firefly-a-man-pointing-at-file-tabs-on-a-very-large-file-above-him-flat-design-no-stroke-no-outl-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>