<?xml version="1.0" encoding="utf-8"?>
<Media Key="5de8bd45-74b2-4ac2-b672-6355f68b80cf" Alias="Firefly 4 Business People Standing Around A Lady At A Desk Who Is Pointing At Her Computer Screen. S" Level="2">
  <Info>
    <Parent Key="b0fe9406-aace-4ec9-8372-c42afee1f5f4">Codegarden</Parent>
    <Path>/Codegarden/Firefly4BusinessPeopleStandingAroundALadyAtADeskWhoIsPointingAtHerComputerScreenS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:29</CreateDate>
    <NodeName Default="Firefly 4 Business People Standing Around A Lady At A Desk Who Is Pointing At Her Computer Screen. S" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/io4pqxns/firefly-4-business-people-standing-around-a-lady-at-a-desk-who-is-pointing-at-her-computer-screen_s.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>