<?xml version="1.0" encoding="utf-8"?>
<Media Key="68672794-b52b-4647-b5db-3fa093e03f60" Alias="Firefly A Lady Sitting At A Desk Looking At A Blank Computer Screen, Flat Colours, Corporate Memphis (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/FireflyALadySittingAtADeskLookingAtABlankComputerScreenFlatColoursCorporateMemphis1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-01T11:54:05</CreateDate>
    <NodeName Default="Firefly A Lady Sitting At A Desk Looking At A Blank Computer Screen, Flat Colours, Corporate Memphis (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rqtho0bl/firefly-a-lady-sitting-at-a-desk-looking-at-a-blank-computer-screen-_flat-colours-corporate-memphis-1.psd]]></Value>
    </umbracoFile>
  </Properties>
</Media>