<?xml version="1.0" encoding="utf-8"?>
<Media Key="65344222-8938-4532-922b-ce9d0368e0a9" Alias="Firefly A Man With No Facial Features Pointing At File Tabs On A Very Large File Above Him , Flat De (1)" Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FireflyAManWithNoFacialFeaturesPointingAtFileTabsOnAVeryLargeFileAboveHimFlatDe1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-15T14:43:34</CreateDate>
    <NodeName Default="Firefly A Man With No Facial Features Pointing At File Tabs On A Very Large File Above Him , Flat De (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/erbdizjy/firefly-a-man-with-no-facial-features-pointing-at-file-tabs-on-a-very-large-file-above-him-flat-de-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>