<?xml version="1.0" encoding="utf-8"?>
<Media Key="afe13f33-64ae-488c-8017-cbb46e83cbca" Alias="Firefly 2 Business People At Their Desks Typing On Computer Keyboards Style = Flat Colours, Flat Des" Level="2">
  <Info>
    <Parent Key="b0fe9406-aace-4ec9-8372-c42afee1f5f4">Codegarden</Parent>
    <Path>/Codegarden/Firefly2BusinessPeopleAtTheirDesksTypingOnComputerKeyboardsStyleFlatColoursFlatDes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:28</CreateDate>
    <NodeName Default="Firefly 2 Business People At Their Desks Typing On Computer Keyboards Style = Flat Colours, Flat Des" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gu5pdl3o/firefly-2-business-people-at-their-desks-typing-on-computer-keyboards_style-flat-colours-flat-des.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>