<?xml version="1.0" encoding="utf-8"?>
<Media Key="07e61bb0-eacc-4171-8138-e9929b27d10d" Alias="Firefly A Lady Pointing At Items On A Giant List, Flat Colours, Solid Geometric Shapes, Coral Pink," Level="2">
  <Info>
    <Parent Key="d8103e91-2b3c-4e77-bc26-9461b513a5c4">Features</Parent>
    <Path>/Features/FireflyALadyPointingAtItemsOnAGiantListFlatColoursSolidGeometricShapesCoralPink</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-07T20:13:47</CreateDate>
    <NodeName Default="Firefly A Lady Pointing At Items On A Giant List, Flat Colours, Solid Geometric Shapes, Coral Pink," />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wynpmb4m/firefly-a-lady-pointing-at-items-on-a-giant-list-flat-colours-solid-geometric-shapes-coral-pink.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>