<?xml version="1.0" encoding="utf-8"?>
<Media Key="c09ff598-f54a-4d4a-95fd-06fa665d814b" Alias="Firefly Business People Sitting In The Audience At A Tech Conference Style = Flat Colours, Flat Desi" Level="2">
  <Info>
    <Parent Key="b0fe9406-aace-4ec9-8372-c42afee1f5f4">Codegarden</Parent>
    <Path>/Codegarden/FireflyBusinessPeopleSittingInTheAudienceAtATechConferenceStyleFlatColoursFlatDesi</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-29T07:51:27</CreateDate>
    <NodeName Default="Firefly Business People Sitting In The Audience At A Tech Conference Style = Flat Colours, Flat Desi" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t10j5qck/firefly-business-people-sitting-in-the-audience-at-a-tech-conference_style-flat-colours-flat-desi.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>