<?xml version="1.0" encoding="utf-8"?>
<Media Key="849ab36b-7505-4812-86fd-4653f82073ba" Alias="Layout 3Nav 6 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Layout3Nav63</Path>
    <Trashed Parent="993da213-e447-47b8-92f0-8d70beb9b399">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-19T07:16:22</CreateDate>
    <NodeName Default="Layout 3Nav 6 3" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lkzjvbaf/layout-3nav-6-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>