<?xml version="1.0" encoding="utf-8"?>
<Media Key="61383979-0c85-4423-92b0-31c9ad09aca0" Alias="Layout 12" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Layout12</Path>
    <Trashed Parent="993da213-e447-47b8-92f0-8d70beb9b399">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-19T07:54:20</CreateDate>
    <NodeName Default="Layout 12" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ja2dqymf/layout-12.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>