<?xml version="1.0" encoding="utf-8"?>
<Media Key="d443c84d-997b-4053-83df-e360ab85b367" Alias="Layout 3 6 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Layout363</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-05T07:18:52</CreateDate>
    <NodeName Default="Layout 3 6 3" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pteehvd1/layout-3-6-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>