<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bd0fc9d-2f98-4e0d-8127-d3c87dcd6330" Alias="Layout 3 6 3" Level="2">
  <Info>
    <Parent Key="993da213-e447-47b8-92f0-8d70beb9b399">Layouts</Parent>
    <Path>/Layouts/Layout363</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-07-19T07:54:45</CreateDate>
    <NodeName Default="Layout 3 6 3" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vt4nbc2y/layout-3-6-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>