<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d054f0f-00a5-42ed-865f-272bf87c3634" Alias="Logo Wholething Full" Level="2">
  <Info>
    <Parent Key="6a3139b8-a44f-4804-b641-5d4c766569a9">Miscellaneous</Parent>
    <Path>/Miscellaneous/LogoWholethingFull</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-08-02T17:06:05</CreateDate>
    <NodeName Default="Logo Wholething Full" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hzhbktnf/logo-wholething-full.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>