<?xml version="1.0" encoding="utf-8"?>
<Media Key="528dbeee-f5bd-4dd7-80d2-8267814cb341" Alias="Msedge Zuv77dfro4" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MsedgeZuv77dfro4</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-08T09:28:01</CreateDate>
    <NodeName Default="Msedge Zuv77dfro4" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3c5i0uv3/msedge_zuv77dfro4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>