<?xml version="1.0" encoding="utf-8"?>
<Media Key="36a9ab91-6a29-4bf0-bc2e-893c2ac99bf9" Alias="Software" Level="2">
  <Info>
    <Parent Key="b0fe9406-aace-4ec9-8372-c42afee1f5f4">Codegarden</Parent>
    <Path>/Codegarden/Software</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-09T07:34:57</CreateDate>
    <NodeName Default="Software" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>