<?xml version="1.0" encoding="utf-8"?>
<Media Key="d42a9c31-3ffb-4a6a-8752-c0c91a500c0f" Alias="Software" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Software</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-09T07:35:54</CreateDate>
    <NodeName Default="Software" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties />
</Media>