<?xml version="1.0" encoding="utf-8"?>
<Media Key="87d792bb-a11d-489b-94cc-eef0b03a462d" Alias="UmBootstrap" Level="2">
  <Info>
    <Parent Key="d42a9c31-3ffb-4a6a-8752-c0c91a500c0f">Software</Parent>
    <Path>/Software/UmBootstrap</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-07T20:03:47</CreateDate>
    <NodeName Default="UmBootstrap" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xwjnpby3/umbootstrap.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>