<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd531492-6cc7-4629-94a0-ff13d8a5493d" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-06-02T16:29:34</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyright>
      <Value><![CDATA[Copyright UmBootstrap]]></Value>
    </copyright>
    <logo>
      <Value><![CDATA[[
  {
    "key": "43e6b6c0-b7f1-42dd-a2d5-1cfb398cd83e",
    "mediaKey": "cdc0f012-cc9f-4cdb-be79-f1eb7b46402f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "key": "ec417067-42a6-49c2-8b7d-489c049863a9",
    "name": "Home",
    "url": "/",
    "icon": "icon-home color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/ec41706742a649c28b7d489c049863a9",
    "contentKey": "d5b1563d-db6b-42bc-b4bf-950f33894ad2",
    "anchor": "",
    "description": "/",
    "children": []
  },
  {
    "key": "f5f803cc-5722-46d7-9250-579b10ed5370",
    "name": "About",
    "url": "/about",
    "icon": "icon-newspaper color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/f5f803cc572246d79250579b10ed5370",
    "contentKey": "6e199eee-4f90-4a1c-90ce-867d332ff091",
    "anchor": "",
    "description": "/about",
    "children": []
  },
  {
    "key": "de1af61d-3405-423b-8ab1-6cbf90da534e",
    "name": "Layouts",
    "url": "/layouts",
    "icon": "icon-newspaper color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/de1af61d3405423b8ab16cbf90da534e",
    "contentKey": "a0c01909-18ac-453e-a603-ff46c435701e",
    "anchor": "",
    "description": "/layouts",
    "children": []
  },
  {
    "key": "d3e15aab-2323-4596-b46d-345353ecbfc5",
    "name": "Features",
    "url": "/features",
    "icon": "icon-newspaper color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/d3e15aab23234596b46d345353ecbfc5",
    "contentKey": "fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2",
    "anchor": "",
    "description": "/features",
    "children": []
  },
  {
    "key": "875f0dbd-c2b7-4a16-8706-9ba9c321157e",
    "name": "Example Section",
    "url": "/example-section",
    "icon": "icon-newspaper color-black",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "umb://document/875f0dbdc2b74a1687069ba9c321157e",
    "contentKey": "10fbe582-ff8d-47b2-896b-f7ab93ee3b99",
    "anchor": "",
    "description": "/example-section",
    "children": []
  }
]]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[UmBootstrap]]></Value>
    </siteName>
  </Properties>
</Content>