<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e85bbfdf-53b9-48f4-88d6-cae09a6d1f24" Alias="featureSettingsNavigation" Level="2">
  <Info>
    <Name>Feature Settings - Navigation</Name>
    <Icon>icon-umb-developer color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Per-feature settings for navigation blocks. Extends shared settings with sticky positioning toggle.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Feature+Settings</Folder>
    <Compositions>
      <Composition Key="191a7905-a15d-4ae7-96a1-10964212f14d">featureSettingsComponentColorPicker</Composition>
      <Composition Key="44fa7109-c225-48e7-8af7-8bc761663077">featureSettingsComponentHideDisplay</Composition>
      <Composition Key="109d3f51-0efd-4a2f-9572-8b3f52258bb8">featureSettingsComponentStickyNav</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>