<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4b3a613-0d2c-4470-8d06-f7efea52d6e0" Alias="featureNavigationInPage" Level="2">
  <Info>
    <Name>Navigation - In Page</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features</Folder>
    <Compositions>
      <Composition Key="4cfebf86-0c16-4084-a131-bc860445dc89">featureComponentNavigationInPage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>