<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4cfebf86-0c16-4084-a131-bc860445dc89" Alias="featureComponentJumpList" Level="3">
  <Info>
    <Name>Feature Component - Jump List</Name>
    <Icon>icon-anchor</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features/Feature+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d9b17935-62a0-4191-bebd-8acc83740721</Key>
      <Name>Jump List Items</Name>
      <Alias>featurePropertyJumpListItems</Alias>
      <Definition>4ad232ea-0d8e-4456-adbc-712874673fb6</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="featureContent">Feature Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c02df285-dab8-4a79-9f6e-88fa2f517668</Key>
      <Caption>Feature Content</Caption>
      <Alias>featureContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>