<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="109d3f51-0efd-4a2f-9572-8b3f52258bb8" Alias="featureSettingsComponentStickyNav" Level="3">
  <Info>
    <Name>Feature Settings Component - Sticky Nav</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Sticky positioning toggle for navigation feature blocks</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Feature+Settings/Feature+Settings+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>82d15155-fabe-451a-bb76-ee40790027f3</Key>
      <Name>Enable Sticky</Name>
      <Alias>featureSettingsEnableSticky</Alias>
      <Definition>9c8712bf-84e2-4fd8-8199-c9bd8994c2e4</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="featureSticky">Feature Sticky</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>653d6fbb-c2d7-4941-b094-409e1f5da4f8</Key>
      <Caption>Feature Sticky</Caption>
      <Alias>featureSticky</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>