<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ec9f83f9-c543-431e-b3dd-807bcbf5f792" Alias="featureSettings" Level="2">
  <Info>
    <Name>Feature Settings</Name>
    <Icon>icon-umb-developer color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Feature+Settings</Folder>
    <Compositions>
      <Composition Key="191a7905-a15d-4ae7-96a1-10964212f14d">featureSettingsComponentColorPicker</Composition>
      <Composition Key="44fa7109-c225-48e7-8af7-8bc761663077">featureSettingsComponentColorPicker1</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>