<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="73790db2-2cc2-4776-9aee-be19a6e23c53" Alias="featureComponentInternalLinksSlideshow" Level="3">
  <Info>
    <Name>Feature Component - Internal Links - Slideshow</Name>
    <Icon>icon-sience color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Features/Feature+Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>94af0cb7-1d66-4cdb-8c64-76269a5f3dfb</Key>
      <Name>Links</Name>
      <Alias>links</Alias>
      <Definition>5ee449a1-6b87-42c2-b611-8fd082b67bad</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="featureContent1">Feature Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>73a7c038-c76e-459b-bd93-949bb0be135d</Key>
      <Caption>Feature Content</Caption>
      <Alias>featureContent1</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>