<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c8712bf-84e2-4fd8-8199-c9bd8994c2e4" Alias="Feature Settings Component - Enable Sticky" Level="1">
  <Info>
    <Name>Feature Settings Component - Enable Sticky</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": true,
  "showLabels": false
}]]></Config>
</DataType>