<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4309a3ea-0d78-4329-a06c-c80b036af19a" Alias="Feature Component - Image - Media Picker" Level="1">
  <Info>
    <Name>Feature Component - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": true,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,6a085a3e-0af4-4605-bcac-3fd6a9f58081,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "validationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>