<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ad232ea-0d8e-4456-adbc-712874673fb6" Alias="Feature Component - Navigation In Page Items - Data List" Level="1">
  <Info>
    <Name>Feature Component - Navigation In Page Items - Data List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbootstrap.Web.DataSources.FeatureBlockDataSource, Umbootstrap.Web",
      "value": {}
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "listType": "list",
        "defaultIcon": "icon-document",
        "enableFilter": true,
        "maxItems": 0,
        "allowClear": false,
        "allowDuplicates": false,
        "enableMultiple": true,
        "disableSorting": false,
        "confirmRemoval": false
      }
    }
  ]
}]]></Config>
</DataType>