<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ae9aec1-e798-44a8-b180-260a01eb2307" Alias="Feature Component - Image - Media Picker" Level="1">
  <Info>
    <Name>Feature Component - Image - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": true,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,6a085a3e-0af4-4605-bcac-3fd6a9f58081,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>