<?xml version="1.0" encoding="utf-8"?>
<DataType Key="343d2570-f6c9-4503-a801-b1e35fcd4274" Alias="Image Cropper - Responsive" Level="1">
  <Info>
    <Name>Image Cropper - Responsive</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ImageCropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Content 3 Col\t",
      "alias": "content3Col",
      "width": 380,
      "height": 214
    },
    {
      "label": "Content 6 Col\t",
      "alias": "content6Col",
      "width": 776,
      "height": 437
    },
    {
      "label": "Content 9 Col\t",
      "alias": "content9Col",
      "width": 1172,
      "height": 659
    },
    {
      "label": "Content 12 Col\t",
      "alias": "content12Col",
      "width": 1568,
      "height": 882
    },
    {
      "label": "Social\t",
      "alias": "social",
      "width": 1200,
      "height": 630
    }
  ]
}]]></Config>
</DataType>