<?xml version="1.0" encoding="utf-8"?>
<DataType Key="343d2570-f6c9-4503-a801-b1e35fcd4274" Alias="Image Cropper - Responsive" Level="1">
  <Info>
    <Name>Image Cropper - Responsive</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ImageCropper</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "crops": [
    {
      "label": "Content 3 Col",
      "alias": "content3Col",
      "width": 384,
      "height": 216
    },
    {
      "label": "Content 6 Col",
      "alias": "content6Col",
      "width": 768,
      "height": 432
    },
    {
      "label": "Content 9 Col",
      "alias": "content9Col",
      "width": 1152,
      "height": 648
    },
    {
      "label": "Content 12 Col",
      "alias": "content12Col",
      "width": 1536,
      "height": 864
    },
    {
      "label": "Social",
      "alias": "social",
      "width": 1200,
      "height": 630
    }
  ]
}]]></Config>
</DataType>