<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46795d19-2f28-42ab-b0f9-4f4e53d842a2" Alias="Image Media Picker" Level="1">
  <Info>
    <Name>Image Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>