<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18924646-4e3c-4e34-8c12-5078e818a484" Alias="Layout Settings Component - Color Picker - layoutSettingsColourShades - Slider" Level="1">
  <Info>
    <Name>Layout Settings Component - Color Picker - layoutSettingsColourShades - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Slider</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableRange": false,
  "initVal1": 500,
  "initVal2": 500,
  "maxVal": 900,
  "minVal": 100,
  "step": 100
}]]></Config>
</DataType>