<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a539ca52-f0dc-49cc-b2d4-78a562cd79a9" Alias="Media Component - Metadata - Description  - Text Area" Level="1">
  <Info>
    <Name>Media Component - Metadata - Description  - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxChars": 155,
  "rows": 2
}]]></Config>
</DataType>