<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24bb822a-b59b-4cf0-8eb2-dba93750af11" Alias="Site Settings - Top Navigation - UmbNav" Level="1">
  <Info>
    <Name>Site Settings - Top Navigation - UmbNav</Name>
    <EditorAlias>Umbraco.Community.UmbNav</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNav</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowCustomClasses": false,
  "allowDisplay": false,
  "allowImageIcon": true,
  "enableTextItems": true,
  "enableToggleAllButton": true,
  "hideNoopener": false,
  "hideNoreferrer": false,
  "maxDepth": 0
}]]></Config>
</DataType>