<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53427912-8140-4ef4-8639-635e1053b6ba" Alias="Feature Component - Feature Description - Description - Textarea" Level="1">
  <Info>
    <Name>Feature Component - Feature Description - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxChars": 155,
  "rows": 3
}]]></Config>
</DataType>