<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8740cd33-d2b7-4a6e-ab6f-cfecc463b766" Alias="Feature Settings Component - Hide Display - featureSettingsHideDisplay - Toggle" Level="1">
  <Info>
    <Name>Feature Settings Component - Hide Display - featureSettingsHideDisplay - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": true,
  "labelOff": "Hidden",
  "labelOn": "Displayed",
  "showLabels": true
}]]></Config>
</DataType>