<?xml version="1.0" encoding="utf-8"?>
<Content Key="978a2d1e-a3a9-43b5-898c-944c74929a39" Alias="Child Page 02" Level="4">
  <Info>
    <Parent Key="3a3cb279-688b-4516-b71f-de468931385b">Feature - Internal Links - Pagination</Parent>
    <Path>/Home/Features/FeatureInternalLinksPagination/ChildPage02</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T14:26:11</CreateDate>
    <NodeName Default="Child Page 02" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "1247ad85-fdf2-41a1-91c5-cc43f752638e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "1ce6d51f-8b35-41b6-af4e-d263c698285d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "9a4c36c1-5f0f-4f42-96be-3de2e40ec835",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "548344b5-0f16-44b2-ae0a-d1337cf24fbc",
              "mediaKey": "f8f68bbe-4890-421d-8fd3-73dfb30a5eb9",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "29bfd2b7-f848-4e50-9f5a-e101ee45aa84",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "9d4f0dbe-21ac-4834-a9d3-5cd3f5c95c4a",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "39e76454-5e1f-4482-910b-76b0167fcda7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "a071ebe9-c3d1-45bd-bacc-076c961cb40e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "544f7620-7ddd-46c1-b62e-747e0283a357",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "e01b8614-1ef0-4ef6-ba74-b6593e5dd12f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "de986bfc-0cba-4b1f-9618-37e7eb8e389e",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9d4f0dbe-21ac-4834-a9d3-5cd3f5c95c4a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "29bfd2b7-f848-4e50-9f5a-e101ee45aa84",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9a4c36c1-5f0f-4f42-96be-3de2e40ec835",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1ce6d51f-8b35-41b6-af4e-d263c698285d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1247ad85-fdf2-41a1-91c5-cc43f752638e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "9d4f0dbe-21ac-4834-a9d3-5cd3f5c95c4a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "544f7620-7ddd-46c1-b62e-747e0283a357",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "29bfd2b7-f848-4e50-9f5a-e101ee45aa84",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "a071ebe9-c3d1-45bd-bacc-076c961cb40e",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "1ce6d51f-8b35-41b6-af4e-d263c698285d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e01b8614-1ef0-4ef6-ba74-b6593e5dd12f",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "9a4c36c1-5f0f-4f42-96be-3de2e40ec835",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "de986bfc-0cba-4b1f-9618-37e7eb8e389e",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "1247ad85-fdf2-41a1-91c5-cc43f752638e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "39e76454-5e1f-4482-910b-76b0167fcda7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "9e651556-1c03-4144-b4c3-1d715f5a5509",
    "mediaKey": "f8f68bbe-4890-421d-8fd3-73dfb30a5eb9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitleShort>
  </Properties>
</Content>