<?xml version="1.0" encoding="utf-8"?>
<Content Key="db70ca6e-2766-4159-a4a7-8a99ae3fae3b" Alias="Child Page 02" Level="4">
  <Info>
    <Parent Key="d9693418-28b0-4ac4-88fa-568230643a4e">Feature - Internal Links - Children</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren/ChildPage02</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T19:12:13</CreateDate>
    <NodeName Default="Child Page 02" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "7c2dc07b-f17e-4953-a0a4-067b1a8146e9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "990921fc-3492-48c3-8650-27e0e6acab1a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "b8042e29-b24d-4041-b8b2-d444123c542a",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "548344b5-0f16-44b2-ae0a-d1337cf24fbc",
              "mediaKey": "f8f68bbe-4890-421d-8fd3-73dfb30a5eb9",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "e3229ea8-6d7b-4491-bf39-f4d6d7b4ae40",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "657da766-f329-4124-9a50-3129251cd3e2",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "12753b27-7c77-4fce-84cd-ef8d73539625",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "16ceda10-e350-4921-a368-c6cdb10f78cc",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "7e297830-81bd-4b36-b4b9-04178d45b426",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "004fb7f9-b887-4949-bb92-a4dcfde4da5b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "9c3d00d2-b0bb-4ed2-a80a-d5a9ca4ab6b0",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "657da766-f329-4124-9a50-3129251cd3e2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e3229ea8-6d7b-4491-bf39-f4d6d7b4ae40",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7c2dc07b-f17e-4953-a0a4-067b1a8146e9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b8042e29-b24d-4041-b8b2-d444123c542a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "990921fc-3492-48c3-8650-27e0e6acab1a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "657da766-f329-4124-9a50-3129251cd3e2",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7e297830-81bd-4b36-b4b9-04178d45b426",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e3229ea8-6d7b-4491-bf39-f4d6d7b4ae40",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "16ceda10-e350-4921-a368-c6cdb10f78cc",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "990921fc-3492-48c3-8650-27e0e6acab1a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "004fb7f9-b887-4949-bb92-a4dcfde4da5b",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "b8042e29-b24d-4041-b8b2-d444123c542a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9c3d00d2-b0bb-4ed2-a80a-d5a9ca4ab6b0",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7c2dc07b-f17e-4953-a0a4-067b1a8146e9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "12753b27-7c77-4fce-84cd-ef8d73539625",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "9e651556-1c03-4144-b4c3-1d715f5a5509",
    "mediaKey": "f8f68bbe-4890-421d-8fd3-73dfb30a5eb9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitleShort>
  </Properties>
</Content>