<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f3d06f2-4c91-4df4-ae71-77b9168aadde" Alias="Child Page 03" Level="4">
  <Info>
    <Parent Key="d9693418-28b0-4ac4-88fa-568230643a4e">Feature - Internal Links - Children</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren/ChildPage03</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-09T07:40:46</CreateDate>
    <NodeName Default="Child Page 03" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "f0de712c-5d95-4670-a113-2788d0a6fc98",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "8bc78a6f-3fe5-4d62-9eac-22fa3c7bff99",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "11bd8c6e-d9c6-48fc-b66e-b73c783a4451",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a7580bd0-53ad-4e81-a9be-f269a9a32a55",
              "mediaKey": "72b81a92-34c6-446f-a56b-c4986724daba",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "6a1b00cf-2465-4a19-86c7-6106aac3e1a1",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "e7ca6282-3025-421d-acd6-75f0352a7939",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "9fc4f98a-903f-4611-8bae-750075191fe8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "6f710de1-645a-45cf-accd-f29085f8b52f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "4eacbd3d-6edf-4f57-935a-9aa28268cac0",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "63498b22-f871-4b24-8ccc-9aec14fae7be",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "b66e8029-9dd7-4f30-a63b-df87670e55a1",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e7ca6282-3025-421d-acd6-75f0352a7939",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6a1b00cf-2465-4a19-86c7-6106aac3e1a1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "11bd8c6e-d9c6-48fc-b66e-b73c783a4451",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8bc78a6f-3fe5-4d62-9eac-22fa3c7bff99",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f0de712c-5d95-4670-a113-2788d0a6fc98",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e7ca6282-3025-421d-acd6-75f0352a7939",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "4eacbd3d-6edf-4f57-935a-9aa28268cac0",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "6a1b00cf-2465-4a19-86c7-6106aac3e1a1",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "6f710de1-645a-45cf-accd-f29085f8b52f",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "8bc78a6f-3fe5-4d62-9eac-22fa3c7bff99",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "63498b22-f871-4b24-8ccc-9aec14fae7be",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "11bd8c6e-d9c6-48fc-b66e-b73c783a4451",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b66e8029-9dd7-4f30-a63b-df87670e55a1",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "f0de712c-5d95-4670-a113-2788d0a6fc98",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "9fc4f98a-903f-4611-8bae-750075191fe8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Child Page 03]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "28143411-03d5-47e2-aba2-8233a1bb6795",
    "mediaKey": "72b81a92-34c6-446f-a56b-c4986724daba",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Child Page 03]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Child Page 02]]></Value>
    </pageTitleShort>
  </Properties>
</Content>