<?xml version="1.0" encoding="utf-8"?>
<Content Key="316e9f9b-81f5-43ba-9ceb-e734864baa66" Alias="Example Page 02" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Example Section</Parent>
    <Path>/Home/ExampleSection/ExamplePage02</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:57:25</CreateDate>
    <NodeName Default="Example Page 02" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "c27ff1cd-0a37-4b20-86aa-46aaeece0b16",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "6092b34c-e066-4901-ab14-97ea86a0fa8b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "685a2c48-1e0d-4132-9965-b5f2efe0d74f",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Description"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d5bf24f5-344a-4313-bbe7-6b7cff36a9b9",
              "mediaKey": "79d01d2e-ff41-4b92-9add-5f2c96df5e36",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "9512141e-ea7f-4346-9711-8e1cb1ad6f6f",
      "udi": null,
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EText Feature Content\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Description"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "10315610-67dc-46c8-894c-4f7fce03d62f",
      "udi": null,
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EText Feature Content\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Title Aside"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Description"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "21ec7715-77c3-4c10-89c4-0b217a17e30e",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Description"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "36755271-2613-4c95-82ed-e0992652c298",
              "mediaKey": "79d01d2e-ff41-4b92-9add-5f2c96df5e36",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "795c67a3-7728-4936-b4b4-592e63fb90c7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "ded89bdf-05b3-4db5-9d59-bc1ea1bfa3a9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "2c101073-cf58-4f5d-a77a-845a6b54e419",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Description"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d5bf24f5-344a-4313-bbe7-6b7cff36a9b9",
              "mediaKey": "79d01d2e-ff41-4b92-9add-5f2c96df5e36",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "6e4a8bcb-c599-49d4-afd4-8f7892426fa3",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Description"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Summary"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0a247f65-fa41-49b9-9bfb-f00382fc45eb",
              "mediaKey": "f99ea450-71f3-4d21-ae94-0cc5e9e4848b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "490cd178-f987-4cf3-b94e-95053f2d350c",
      "udi": null,
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EText Feature Content\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Description"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "bbedaa51-7c5a-45b6-912d-9fc09e111f03",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Description"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d5bf24f5-344a-4313-bbe7-6b7cff36a9b9",
              "mediaKey": "79d01d2e-ff41-4b92-9add-5f2c96df5e36",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "3150e38c-1648-4c3a-bfdb-b322372eeafe",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Description"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Summary"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0a247f65-fa41-49b9-9bfb-f00382fc45eb",
              "mediaKey": "f99ea450-71f3-4d21-ae94-0cc5e9e4848b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "b5642488-a7dd-41d3-a022-d5995e588647",
      "udi": null,
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EText Feature Content\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Description"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "c97bfcf1-ba55-4769-a531-cac12645cd49",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4ba6ac6b-73ff-4925-a6cd-150da4f40e27",
              "mediaKey": "7c33c76f-5764-4def-819e-0f60a94e2792",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "4512f53d-8d4a-47dd-a6ef-5e8ea641dfd4",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Description"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d5bf24f5-344a-4313-bbe7-6b7cff36a9b9",
              "mediaKey": "79d01d2e-ff41-4b92-9add-5f2c96df5e36",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "891653c8-5db2-4036-8203-ca2f24e50aff",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Description"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Summary"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0a247f65-fa41-49b9-9bfb-f00382fc45eb",
              "mediaKey": "f99ea450-71f3-4d21-ae94-0cc5e9e4848b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "3f56716b-4238-456d-8de3-0779880e142c",
      "udi": null,
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EText Feature Content\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Description"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Summary"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "d3e77cdc-3e87-432e-8589-a4b7dd0ea244",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "b52fc6df-3ba0-4674-969d-364cdacff19c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "3f15dad8-038d-44cc-878d-d41cf2a3d895",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "bc711733-1a72-4649-a0c1-c4be17478858",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "5a97f440-c50b-4930-a35b-93fa368e2ba5",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "1427f291-6e8b-48fe-8edd-5f9f0f7743ee",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a7ecce7e-e873-44e0-b7bc-6e69a46aa5ac",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "20acc23c-febc-40aa-9060-c434d4091c3e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "35946d55-c106-4a06-b7f2-b6898b485a5b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "0b6d185a-c52a-42d3-8d9c-b03e5366606a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "6357b4af-8db3-4374-bdcd-b6d0fd1b1081",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "9bf38338-7a0a-4f15-a9c5-0d66059cf2a5",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "e4b14a96-6f85-4f18-aaa0-17afd1d017b2",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "d65e3c6a-c935-4a3f-b78c-f1c2a0212240",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "69371a51-349d-4bbb-9365-33d1317e236c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "2ae2c13b-a177-4782-99f9-168a29445052",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "f870719c-76ab-41be-8a58-aa19df35f0b9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "f8384a26-1907-4749-a9dd-54ebac821f3e",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "795c67a3-7728-4936-b4b4-592e63fb90c7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ded89bdf-05b3-4db5-9d59-bc1ea1bfa3a9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c27ff1cd-0a37-4b20-86aa-46aaeece0b16",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "10315610-67dc-46c8-894c-4f7fce03d62f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6092b34c-e066-4901-ab14-97ea86a0fa8b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "685a2c48-1e0d-4132-9965-b5f2efe0d74f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9512141e-ea7f-4346-9711-8e1cb1ad6f6f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "21ec7715-77c3-4c10-89c4-0b217a17e30e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2c101073-cf58-4f5d-a77a-845a6b54e419",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6e4a8bcb-c599-49d4-afd4-8f7892426fa3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "490cd178-f987-4cf3-b94e-95053f2d350c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bbedaa51-7c5a-45b6-912d-9fc09e111f03",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3150e38c-1648-4c3a-bfdb-b322372eeafe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b5642488-a7dd-41d3-a022-d5995e588647",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c97bfcf1-ba55-4769-a531-cac12645cd49",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4512f53d-8d4a-47dd-a6ef-5e8ea641dfd4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "891653c8-5db2-4036-8203-ca2f24e50aff",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3f56716b-4238-456d-8de3-0779880e142c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ded89bdf-05b3-4db5-9d59-bc1ea1bfa3a9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "5a97f440-c50b-4930-a35b-93fa368e2ba5",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "795c67a3-7728-4936-b4b4-592e63fb90c7",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "bc711733-1a72-4649-a0c1-c4be17478858",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "6092b34c-e066-4901-ab14-97ea86a0fa8b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "1427f291-6e8b-48fe-8edd-5f9f0f7743ee",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "685a2c48-1e0d-4132-9965-b5f2efe0d74f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a7ecce7e-e873-44e0-b7bc-6e69a46aa5ac",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "9512141e-ea7f-4346-9711-8e1cb1ad6f6f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b52fc6df-3ba0-4674-969d-364cdacff19c",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "2c101073-cf58-4f5d-a77a-845a6b54e419",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "35946d55-c106-4a06-b7f2-b6898b485a5b",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "6e4a8bcb-c599-49d4-afd4-8f7892426fa3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "0b6d185a-c52a-42d3-8d9c-b03e5366606a",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "490cd178-f987-4cf3-b94e-95053f2d350c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6357b4af-8db3-4374-bdcd-b6d0fd1b1081",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "10315610-67dc-46c8-894c-4f7fce03d62f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "3f15dad8-038d-44cc-878d-d41cf2a3d895",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "21ec7715-77c3-4c10-89c4-0b217a17e30e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "20acc23c-febc-40aa-9060-c434d4091c3e",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "bbedaa51-7c5a-45b6-912d-9fc09e111f03",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9bf38338-7a0a-4f15-a9c5-0d66059cf2a5",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "3150e38c-1648-4c3a-bfdb-b322372eeafe",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e4b14a96-6f85-4f18-aaa0-17afd1d017b2",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "b5642488-a7dd-41d3-a022-d5995e588647",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d65e3c6a-c935-4a3f-b78c-f1c2a0212240",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "c97bfcf1-ba55-4769-a531-cac12645cd49",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "69371a51-349d-4bbb-9365-33d1317e236c",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "4512f53d-8d4a-47dd-a6ef-5e8ea641dfd4",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "2ae2c13b-a177-4782-99f9-168a29445052",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "891653c8-5db2-4036-8203-ca2f24e50aff",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f870719c-76ab-41be-8a58-aa19df35f0b9",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "3f56716b-4238-456d-8de3-0779880e142c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f8384a26-1907-4749-a9dd-54ebac821f3e",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "c27ff1cd-0a37-4b20-86aa-46aaeece0b16",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d3e77cdc-3e87-432e-8589-a4b7dd0ea244",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Page 02]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "315208b2-0e36-49b8-9a64-15a412870d06",
    "mediaKey": "79d01d2e-ff41-4b92-9add-5f2c96df5e36",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Example Page 02]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Example Page 02]]></Value>
    </pageTitleShort>
  </Properties>
</Content>