<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad9f3bd8-d01e-4a7b-a504-f032a41ea22d" Alias="Example Page 01" Level="3">
  <Info>
    <Parent Key="10fbe582-ff8d-47b2-896b-f7ab93ee3b99">Example Section</Parent>
    <Path>/Home/ExampleSection/ExamplePage01</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-06-12T16:57:04</CreateDate>
    <NodeName Default="Example Page 01" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "e6c1516e-fc88-4c7f-8ef4-e36435010d32",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "b01e93c4-0336-4282-af6b-8d539f6370bc",
      "udi": null,
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EText Feature Content\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Description"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "b073d1ba-0827-4fbf-91a3-3bf7ca347268",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "aaad43b2-118f-422a-9783-7ca5b2608d8c",
      "udi": null,
      "values": [
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EText Feature Content\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Description"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Text Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "7683326d-4062-4a64-af2e-47f013526fab",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Description"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0a247f65-fa41-49b9-9bfb-f00382fc45eb",
              "mediaKey": "f99ea450-71f3-4d21-ae94-0cc5e9e4848b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "75d9f461-83c7-4cdb-8356-be30749a1f5a",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Description"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0a247f65-fa41-49b9-9bfb-f00382fc45eb",
              "mediaKey": "f99ea450-71f3-4d21-ae94-0cc5e9e4848b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image Feature Summary"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "27a76408-6adf-4564-a757-adad6b703ef9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "7801efcf-c858-46f0-9a81-7a3ceb62ed38",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "fa30f0a8-b78a-4809-9ef1-6a20e63fb4d1",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "080c2713-20fd-4b6f-9597-3d07793de49f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "93dd1e75-63b8-4c54-8ecf-7607e4a5fe24",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "f9295905-fbf9-4615-b025-dcf66fe2e4cc",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0.5"
        },
        {
          "alias": "layoutSettingsBackgroundImagePicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutAreasColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "1a6e7196-c3fc-40d2-9578-1fc6f535461d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "f5380880-fd04-46b5-9c50-243eebb470f9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "66e8438d-e698-420b-8818-7f4c0f80a882",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "66b9349c-f1d0-4324-9cdd-b5ad8b2a513f",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "e6c1516e-fc88-4c7f-8ef4-e36435010d32",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b01e93c4-0336-4282-af6b-8d539f6370bc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b073d1ba-0827-4fbf-91a3-3bf7ca347268",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "aaad43b2-118f-422a-9783-7ca5b2608d8c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7683326d-4062-4a64-af2e-47f013526fab",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "75d9f461-83c7-4cdb-8356-be30749a1f5a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "27a76408-6adf-4564-a757-adad6b703ef9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7801efcf-c858-46f0-9a81-7a3ceb62ed38",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5cf1a668-8fe1-4f96-b0d7-b8c71516fad3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d389d781-a399-4d64-9691-5c80de9df9f2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7801efcf-c858-46f0-9a81-7a3ceb62ed38",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "1a6e7196-c3fc-40d2-9578-1fc6f535461d",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "27a76408-6adf-4564-a757-adad6b703ef9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "f9295905-fbf9-4615-b025-dcf66fe2e4cc",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "b073d1ba-0827-4fbf-91a3-3bf7ca347268",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "f5380880-fd04-46b5-9c50-243eebb470f9",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "7683326d-4062-4a64-af2e-47f013526fab",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "66e8438d-e698-420b-8818-7f4c0f80a882",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "b01e93c4-0336-4282-af6b-8d539f6370bc",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "080c2713-20fd-4b6f-9597-3d07793de49f",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "aaad43b2-118f-422a-9783-7ca5b2608d8c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "93dd1e75-63b8-4c54-8ecf-7607e4a5fe24",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "75d9f461-83c7-4cdb-8356-be30749a1f5a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "66b9349c-f1d0-4324-9cdd-b5ad8b2a513f",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "e6c1516e-fc88-4c7f-8ef4-e36435010d32",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fa30f0a8-b78a-4809-9ef1-6a20e63fb4d1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Example Page 01]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "c37dbbbf-2e15-4fe2-89d7-ea1f73177e34",
    "mediaKey": "f99ea450-71f3-4d21-ae94-0cc5e9e4848b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Example Page 01]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[ Example Page 01]]></Value>
    </pageTitleShort>
  </Properties>
</Content>