<?xml version="1.0" encoding="utf-8"?>
<Content Key="afe0e2ca-d7f1-4faf-8923-6f7a22dae823" Alias="Feature - FAQs" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureFAQs</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-14T18:02:45</CreateDate>
    <NodeName Default="Feature - FAQs" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "800495c0-e5cf-4877-a0a1-2a600ec32d9d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "e9eb741a-cfda-4eed-92c0-138785f0abc9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "559ed1a9-39a3-4312-81ff-6a15233a81a5",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "As an aside"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "RTE\u0027s can be added in asides like this one"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Of course you can add a summary here."
        }
      ]
    },
    {
      "contentTypeKey": "b4148cb6-f6d9-42f9-a6df-3aa3f31ea68e",
      "key": "16f664c3-a3ac-48e7-90e9-b31f953173d9",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFAQs",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "bd6fd684-5515-46eb-816a-685bbb312219",
                "key": "8c9cefe6-9fc2-4a96-8d61-c036c64ec5c2",
                "udi": null,
                "values": [
                  {
                    "alias": "featurePropertyFAQsQuestion",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Why should I use Umbraco?"
                  },
                  {
                    "alias": "featurePropertyFAQsAnswer",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "If you\u0027re looking for a flexible and user-friendly CMS, you might want to check out Umbraco. Umbraco is an open-source platform that lets you create and manage any kind of website, from blogs to e-commerce. You can customize it to suit your needs, and it has a vibrant community of developers and users who are always ready to help. Plus, it\u0027s free to use and easy to learn. What\u0027s not to love?\n"
                  }
                ]
              },
              {
                "contentTypeKey": "bd6fd684-5515-46eb-816a-685bbb312219",
                "key": "11e06ac7-2818-438f-a3d0-bb61c2f0e7cc",
                "udi": null,
                "values": [
                  {
                    "alias": "featurePropertyFAQsQuestion",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Why should I use Bootstrap?"
                  },
                  {
                    "alias": "featurePropertyFAQsAnswer",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bootstrap is awesome, you know? It\u0027s like a magic tool that makes your web design super easy and fast. You don\u0027t have to worry about writing tons of CSS or JavaScript code, because Bootstrap has it all ready for you. You just use their classes and components, and boom, you have a responsive and beautiful website. Plus, Bootstrap is compatible with all browsers and devices, so you don\u0027t have to deal with annoying bugs or glitches. Trust me, Bootstrap will save you a lot of time and hassle. You should definitely give it a try!\n"
                  }
                ]
              },
              {
                "contentTypeKey": "bd6fd684-5515-46eb-816a-685bbb312219",
                "key": "d5d241ad-1f87-4ca8-8460-7482f14c81f7",
                "udi": null,
                "values": [
                  {
                    "alias": "featurePropertyFAQsQuestion",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Why should I use Umbootstrap?"
                  },
                  {
                    "alias": "featurePropertyFAQsAnswer",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Hey, you might be wondering why you should use Umbootstrap for your next web project. Well, let me tell you, it\u0027s awesome! Umbootstrap is a sleek, intuitive, and powerful front-end framework for faster and easier web development. It has everything you need to create responsive, modern, and beautiful websites that work on any device. Plus, it\u0027s super easy to customize and extend with your own code and plugins. Trust me, once you try Umbootstrap, you\u0027ll never go back to anything else!\n"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "8c9cefe6-9fc2-4a96-8d61-c036c64ec5c2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "11e06ac7-2818-438f-a3d0-bb61c2f0e7cc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d5d241ad-1f87-4ca8-8460-7482f14c81f7",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8c9cefe6-9fc2-4a96-8d61-c036c64ec5c2",
                  "contentUdi": "umb://element/8c9cefe69fc24a968d61c036c64ec5c2",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "11e06ac7-2818-438f-a3d0-bb61c2f0e7cc",
                  "contentUdi": "umb://element/11e06ac72818438fa3d0bb61c2f0e7cc",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d5d241ad-1f87-4ca8-8460-7482f14c81f7",
                  "contentUdi": "umb://element/d5d241ad1f874ca884607482f14c81f7",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "FAQ"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "A selection of questions we are often asked"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Why not send us more questions"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "3f5620ba-a8d8-4a62-807e-6301c683cd82",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "3a1ba69d-87bb-4e04-aa3b-6f7242dc0445",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "36e097d9-cc9d-4740-92f6-35fc281feb39",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0b36a0f1-d7db-43c3-afc5-4b09d7cf951c",
              "mediaKey": "3ce997be-aa13-4390-939f-292337ac8936",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "c042e28d-7121-41f5-98c0-4b774e9f45cd",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "539a26f2-66f4-401f-b05b-728316cc22b4",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "b8272847-6451-4fa5-bc41-08808376ffbd",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "73727ec4-c2f1-46c6-b84c-309d3f0908bb",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "120acfae-cae7-403b-ac40-63088c56809c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "c7d69c59-4dae-4afb-bca9-b0beed0d7dc2",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "6d6db605-7bc0-4b8f-a280-ac284cebaede",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "800495c0-e5cf-4877-a0a1-2a600ec32d9d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e9eb741a-cfda-4eed-92c0-138785f0abc9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "559ed1a9-39a3-4312-81ff-6a15233a81a5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "16f664c3-a3ac-48e7-90e9-b31f953173d9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3f5620ba-a8d8-4a62-807e-6301c683cd82",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3a1ba69d-87bb-4e04-aa3b-6f7242dc0445",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "36e097d9-cc9d-4740-92f6-35fc281feb39",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "3a1ba69d-87bb-4e04-aa3b-6f7242dc0445",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "73727ec4-c2f1-46c6-b84c-309d3f0908bb",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "36e097d9-cc9d-4740-92f6-35fc281feb39",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6d6db605-7bc0-4b8f-a280-ac284cebaede",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "3f5620ba-a8d8-4a62-807e-6301c683cd82",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "b8272847-6451-4fa5-bc41-08808376ffbd",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "e9eb741a-cfda-4eed-92c0-138785f0abc9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "120acfae-cae7-403b-ac40-63088c56809c",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "16f664c3-a3ac-48e7-90e9-b31f953173d9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c7d69c59-4dae-4afb-bca9-b0beed0d7dc2",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "559ed1a9-39a3-4312-81ff-6a15233a81a5",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "539a26f2-66f4-401f-b05b-728316cc22b4",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "800495c0-e5cf-4877-a0a1-2a600ec32d9d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c042e28d-7121-41f5-98c0-4b774e9f45cd",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[A fully editable Frequently Asked Questions with expandable and collapsible sections]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "148eccea-8373-41cf-a69a-92155e5f1e7b",
    "mediaKey": "4b0ff6b8-b957-4095-bdb9-e4198520f36a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - FAQs]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[FAQs]]></Value>
    </pageTitleShort>
  </Properties>
</Content>