<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfbdda76-fe5f-45f5-9f15-5523231aedee" Alias="Feature - Image" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureImage</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Feature - Image" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/48acdd1bf4cb4259acc725b4ced607e3",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/9bb92538a5b9497fa2f396093f5ebc88",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/562735f4bc644ffd930454b520e9c525",
      "values": [],
      "featurePropertyFeatureTitle": "Feature - Image",
      "featurePropertyFeatureDescription": "Feature - Image",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u002212399f7e-a7e8-48c0-a0a2-6e25c364c6b2\u0022,\r\n    \u0022mediaKey\u0022: \u002270a55b90-5f78-4042-878f-0c54ff85c8e5\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/b0295abe01cf4cf493874eaf6068e21d",
      "values": [],
      "featurePropertyFeatureTitle": "Feature - Image",
      "featurePropertyFeatureDescription": "Feature - Image",
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u00223ae1c065-3c65-4e8b-bb5b-7bdec4088d90\u0022,\r\n    \u0022mediaKey\u0022: \u002270a55b90-5f78-4042-878f-0c54ff85c8e5\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/8626b569f6e74a56b4718603587d9d7b",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/afc18ca88acb467190e171933f84a917",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/6fb5dc6df50b4f11876ddaa2689a0d1e",
      "values": []
    },
    {
      "contentTypeKey": "9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/90e35c2cd5fd4a9789ccc5ad45174d08",
      "values": [],
      "featurePropertyFeatureTitle": "featureImage.cshtml",
      "featurePropertyFeatureCode": "@using Umbraco.Extensions\n@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage\u003CUmbraco.Cms.Core.Models.Blocks.BlockGridItem\u003E\n\n@{\n    Layout = \u0022_Layout_Features.cshtml\u0022;\n}\n\n@{\n    var typedMediaPickerSingle = Model.Content.Value\u003CUmbraco.Cms.Core.Models.MediaWithCrops\u003E(\u0022image\u0022);\n    if (typedMediaPickerSingle != null)\n    {\n        \u003Cimg src=\u0022@typedMediaPickerSingle.MediaUrl()\u0022 style=\u0022object-fit:cover; width:100%; height:100%;\u0022/\u003E\n    } else {\n        \u003Cp\u003EMissing image\u003C/p\u003E\n    }\n}\n"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/94a160583d5a4ea78ae15a8af009ed49",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u0022618c39b1-e9c0-48ed-910f-a9684ac7b496\u0022,\r\n    \u0022mediaKey\u0022: \u002270a55b90-5f78-4042-878f-0c54ff85c8e5\u0022\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/fbad8a4f295c4a3ab812d356b351dafc",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e7ed5e57cc374dbfb8123b14e72ee383",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/0dd3089276d44ecaa515003cb97fa398",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/332d1b7ad7db49e499073574bb8dc6a3",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/bc689e77034f45e69c2fe223268d1a4c",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/fb2e4bfc8bc24deba40055bcdb02ef12",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/b7ce9d0557b1418aa756a09e34c40f5d",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/163ac76fe34d4e128648715bac7e9c10",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/a07a520810ec4d27a46dfac25ac1053a",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "afc18ca8-8acb-4671-90e1-71933f84a917",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "332d1b7a-d7db-49e4-9907-3574bb8dc6a3",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "94a16058-3d5a-4ea7-8ae1-5a8af009ed49",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a07a5208-10ec-4d27-a46d-fac25ac1053a",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "8626b569-f6e7-4a56-b471-8603587d9d7b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e7ed5e57-cc37-4dbf-b812-3b14e72ee383",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "9bb92538-a5b9-497f-a2f3-96093f5ebc88",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "bc689e77-034f-45e6-9c2f-e223268d1a4c",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "562735f4-bc64-4ffd-9304-54b520e9c525",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "fb2e4bfc-8bc2-4deb-a400-55bcdb02ef12",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "b0295abe-01cf-4cf4-9387-4eaf6068e21d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b7ce9d05-57b1-418a-a756-a09e34c40f5d",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "48acdd1b-f4cb-4259-acc7-25b4ced607e3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fbad8a4f-295c-4a3a-b812-d356b351dafc",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "90e35c2c-d5fd-4a97-89cc-c5ad45174d08",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "163ac76f-e34d-4e12-8648-715bac7e9c10",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "6fb5dc6d-f50b-4f11-876d-daa2689a0d1e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "0dd30892-76d4-4eca-a515-003cb97fa398",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Image]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "15a1415d-957d-4667-971f-04cf4f57e447",
    "mediaKey": "70a55b90-5f78-4042-878f-0c54ff85c8e5"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Image]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Image]]></Value>
    </pageTitleShort>
  </Properties>
</Content>