<?xml version="1.0" encoding="utf-8"?>
<Content Key="53236b06-6534-427d-af5b-a47f5831e629" Alias="Feature - Code" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureCode</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T20:42:26</CreateDate>
    <NodeName Default="Feature - Code" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/efcce15f4e054e2184c6b85bb8219f70",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/8f92ed8611b648b38fafafe184080114",
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/5f146731a89f40de8458dc03045d058d",
      "values": [],
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE\u0027s can be added in asides like this one",
      "richTextContent": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/d458ca4c47224c549b8b369cc20ae936",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/87d00d8d6728437385d393f7eb82a2c3",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/8a520855b56b454c8c46b30cadc3815f",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u00229ef9d037-057b-4db7-84cd-88eec86f7474\u0022,\r\n    \u0022mediaKey\u0022: \u00227abc7636-2e3f-4983-aa5e-ffceca041f54\u0022\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/3ab77f72a129446eb7e0b6f548706646",
      "values": [],
      "featurePropertyFeatureCode": "@{\n    // Check if the block grid item has settings\n    bool hasSettings = Model.Settings != null;\n    string colorLabel = null;\n    // If the block grid item has settings, get the background colour\n    if (hasSettings)\n    {\n        var backgroundColour = Model.Settings.Value\u003CColorPickerValueConverter.PickedColor\u003E(\u0022featureSettingsColourPicker\u0022);\n        colorLabel = backgroundColour?.Label;\n    }\n}",
      "featurePropertyFeatureTitle": "Test"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/7ba60ed748e94dac92b8f75604500f08",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/6ae89dccea064eff8fd0dc82ecc774a7",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/70b55b4a87f145c3b129a8de8a9a6124",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/d0924ed83d7141b1a453a476b72bcf9e",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/3da3dc9061324ee093119de6c2d70f42",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/5f9b409c06224d8690931fad658231c6",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/05fa0985862b4b849590416d4f0decbe",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "87d00d8d-6728-4373-85d3-93f7eb82a2c3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d0924ed8-3d71-41b1-a453-a476b72bcf9e",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "8a520855-b56b-454c-8c46-b30cadc3815f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "5f9b409c-0622-4d86-9093-1fad658231c6",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d458ca4c-4722-4c54-9b8b-369cc20ae936",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "70b55b4a-87f1-45c3-b129-a8de8a9a6124",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "8f92ed86-11b6-48b3-8faf-afe184080114",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "3da3dc90-6132-4ee0-9311-9de6c2d70f42",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "3ab77f72-a129-446e-b7e0-b6f548706646",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "05fa0985-862b-4b84-9590-416d4f0decbe",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "5f146731-a89f-40de-8458-dc03045d058d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6ae89dcc-ea06-4eff-8fd0-dc82ecc774a7",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "efcce15f-4e05-4e21-84c6-b85bb8219f70",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "7ba60ed7-48e9-4dac-92b8-f75604500f08",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Paste Code that will be rendered in the page as code]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "36ba17fd-1b4d-4cb9-80ad-7151905eeb5e",
    "mediaKey": "7abc7636-2e3f-4983-aa5e-ffceca041f54"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Code]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Code]]></Value>
    </pageTitleShort>
  </Properties>
</Content>