<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9693418-28b0-4ac4-88fa-568230643a4e" Alias="Feature - Internal Links - Children" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Feature - Internal Links - Children" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "4cd55aeb-7202-4636-b8ad-9eb5285df696",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "426a4cc3-8b98-41bf-92eb-5e3ad7a1f4a9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "6aa4b77f-0ea3-44d3-8111-de499147476e",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Introduction"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The Feature - Internal Links - Children can be added to most areas in both Block List and Block Grid"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAn example of this feature is used in this page\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is an optional summary that can be added beneath any Feature "
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "06b60c61-434a-4e07-8ea3-f9cb78af81ee",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "As an aside"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "RTE\u0027s can be added in asides like this one"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Of course you can add a summary here."
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "a5b26dd1-2c0b-4e38-a588-28c2b8e5c19d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "key": "e8797c78-0740-4ce3-a94d-726298c39748",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "In this section"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "These are child pages of this page"
        }
      ]
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "key": "5bc201c6-afaf-440b-b09a-94c9e5b0b3b9",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "In this section"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "dc27a7aa-fabb-4057-94fc-616e33eceb0a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "42d95629-6dc2-450d-ab7e-cd25ab764991",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "38afadcb-d48e-4dc8-9c1c-ec510d3fb871",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0b70ba14-17d3-4ffc-b6b6-e130df7e7b6a",
              "mediaKey": "388c7ddd-9acd-4d1f-a473-57054c9d4a6d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "df9ea379-e342-4efd-8f97-ed0d0f20ae57",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "20c997",
            "label": "--bs-teal",
            "sortOrder": 6,
            "id": "7"
          }
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "400"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "2a87788c-60d2-4139-8c99-f462dee102a6",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "0d6efd",
            "label": "--bs-blue",
            "sortOrder": 0,
            "id": "1"
          }
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "400"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "724b6dcf-f206-4ab6-adfc-48fbfe457966",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "ed7ebaa9-f3f0-45a9-b15c-f63a769d4888",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "86600e0c-8b8c-4923-ac18-713d99af35e6",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "6610f2",
            "label": "--bs-indigo",
            "sortOrder": 2,
            "id": "3"
          }
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "c2d5ce6c-6c18-4180-9746-5fdad30aa386",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "2c7c177e-3c62-4da1-ba99-3389fc0ae884",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "e70dbd19-1ab8-43cd-a98c-426e1669f5e3",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a165f68c-8dfe-4206-b232-92b9d8c1785f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "ae15a435-3562-474c-a406-e2bc782087b7",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4cd55aeb-7202-4636-b8ad-9eb5285df696",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "426a4cc3-8b98-41bf-92eb-5e3ad7a1f4a9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6aa4b77f-0ea3-44d3-8111-de499147476e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "06b60c61-434a-4e07-8ea3-f9cb78af81ee",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a5b26dd1-2c0b-4e38-a588-28c2b8e5c19d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e8797c78-0740-4ce3-a94d-726298c39748",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5bc201c6-afaf-440b-b09a-94c9e5b0b3b9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "dc27a7aa-fabb-4057-94fc-616e33eceb0a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "42d95629-6dc2-450d-ab7e-cd25ab764991",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "38afadcb-d48e-4dc8-9c1c-ec510d3fb871",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "42d95629-6dc2-450d-ab7e-cd25ab764991",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c2d5ce6c-6c18-4180-9746-5fdad30aa386",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "38afadcb-d48e-4dc8-9c1c-ec510d3fb871",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ae15a435-3562-474c-a406-e2bc782087b7",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "dc27a7aa-fabb-4057-94fc-616e33eceb0a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "86600e0c-8b8c-4923-ac18-713d99af35e6",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "426a4cc3-8b98-41bf-92eb-5e3ad7a1f4a9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "2c7c177e-3c62-4da1-ba99-3389fc0ae884",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "6aa4b77f-0ea3-44d3-8111-de499147476e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "724b6dcf-f206-4ab6-adfc-48fbfe457966",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "5bc201c6-afaf-440b-b09a-94c9e5b0b3b9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e70dbd19-1ab8-43cd-a98c-426e1669f5e3",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "06b60c61-434a-4e07-8ea3-f9cb78af81ee",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ed7ebaa9-f3f0-45a9-b15c-f63a769d4888",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "4cd55aeb-7202-4636-b8ad-9eb5285df696",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "df9ea379-e342-4efd-8f97-ed0d0f20ae57",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e8797c78-0740-4ce3-a94d-726298c39748",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a165f68c-8dfe-4206-b232-92b9d8c1785f",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a5b26dd1-2c0b-4e38-a588-28c2b8e5c19d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2a87788c-60d2-4139-8c99-f462dee102a6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Internal Links - Children]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "81c8ed64-a43f-4618-b602-629d78cdf0d5",
    "mediaKey": "eed0ba02-e318-4f78-9668-2293628c8f49",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Internal Links - Children]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Internal Links - Children]]></Value>
    </pageTitleShort>
  </Properties>
</Content>