<?xml version="1.0" encoding="utf-8"?>
<Content Key="56f55ae9-eaeb-4b19-bdd6-98b36cf30740" Alias="Feature - Page Title and Description" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeaturePageTitleAndDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2026-01-08T08:33:23</CreateDate>
    <NodeName Default="Feature - Page Title and Description" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "12002206-504e-47b4-a278-63a78a777f1c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "9fd7d862-db6f-424b-8f76-5e0aae6d06cd",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "5ab7219f-4d96-424a-b09f-189d24574467",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Introduction"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The Rich Text Editor or RTE can be added to most areas in both Block List and Block Grid"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere is some example text added to page so you can see how it looks.\u003C/p\u003E\n\u003Ch3\u003EAccessibility\u003C/h3\u003E\n\u003Cp\u003EIf you want to make your website more accessible, you should pay attention to the line length of your text. Long lines can be hard to read and cause eye strain. According to the Web Content Accessibility Guidelines (WCAG) 1.4.8, the ideal line length should be 55-75 characters at most.\u003C/p\u003E\n\u003Cp\u003EThis way, you can ensure that most users can read your content comfortably and efficiently.\u003C/p\u003E\n\u003Cp\u003ETherefore, ideally Rich Text Editor should only be used in areas up to 6 columns wide unless responsive typography is used to scale the text size accordingly.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is an optional summary that can be added beneath any Feature "
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "651c7b6d-501f-4bff-a50c-c2d042cc2e7c",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "As an aside"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "RTE\u0027s can be added in asides like this one"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Of course you can add a summary here."
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "78b641ea-7f32-4dfc-abfc-4b449985c7cd",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "50a5f99c-721d-4112-b959-f4d4fba97980",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "83bba97e-1155-484d-a5c7-3976038bc418",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8",
      "key": "61b27a94-8141-439c-8127-730b1658aead",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage\u003CUmbraco.Cms.Core.Models.Blocks.BlockGridItem\u003E\n\n@{\n    Layout = \u0022_Layout_Features.cshtml\u0022;\n    // Get the current page\n    if(Umbraco.AssignedContentItem is not IContentHeadingDefault currentPage) return;\n}\n\n\u003Cdiv class=\u0022container p-3 mt-3 d-flex justify-content-center\u0022\u003E\n    \u003Cdiv class=\u0022w-75 text-center\u0022\u003E\n        \u003Ch1 class=\u0022display-1\u0022\u003E@currentPage.PageTitle\u003C/h1\u003E\n        \u003Cp class=\u0022lead\u0022\u003E@currentPage.PageDescription\u003C/p\u003E\n    \u003C/div\u003E\n\u003C/div\u003E"
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "featurePageTitleDescription.cshtml"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "7931b02a-441c-44b6-b6e0-7f914018ae23",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bb3730ac-c848-49a3-b4ff-9f0e154eef95",
              "mediaKey": "e27aa347-f148-422f-9b5b-ad71a0c42c6b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "d507ae57-01b3-4f24-9169-f7cc49014c32",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "31f33423-a528-47b6-9e21-4830ffd45a43",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "featureSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "2a5afd81-ebcc-46a2-bf05-cab8552fe7a0",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "2b457e7a-f806-470d-ad39-f4229258214b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "dd1e33bb-5975-4518-92aa-c45b21d15fe5",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a9638fa6-a61c-432f-b45c-3f4e7fd2bc67",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "25c8666c-0045-44bc-9e3e-e00930fc042f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "7ce6da56-bcd2-423a-8c12-93b0dd004c91",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "781b1474-dac9-4bf0-9958-5b99d885cc26",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "78b641ea-7f32-4dfc-abfc-4b449985c7cd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "50a5f99c-721d-4112-b959-f4d4fba97980",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7931b02a-441c-44b6-b6e0-7f914018ae23",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9fd7d862-db6f-424b-8f76-5e0aae6d06cd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5ab7219f-4d96-424a-b09f-189d24574467",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "12002206-504e-47b4-a278-63a78a777f1c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "651c7b6d-501f-4bff-a50c-c2d042cc2e7c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "83bba97e-1155-484d-a5c7-3976038bc418",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "61b27a94-8141-439c-8127-730b1658aead",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "50a5f99c-721d-4112-b959-f4d4fba97980",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a9638fa6-a61c-432f-b45c-3f4e7fd2bc67",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "7931b02a-441c-44b6-b6e0-7f914018ae23",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "781b1474-dac9-4bf0-9958-5b99d885cc26",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "78b641ea-7f32-4dfc-abfc-4b449985c7cd",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2b457e7a-f806-470d-ad39-f4229258214b",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "9fd7d862-db6f-424b-8f76-5e0aae6d06cd",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "25c8666c-0045-44bc-9e3e-e00930fc042f",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "5ab7219f-4d96-424a-b09f-189d24574467",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "31f33423-a528-47b6-9e21-4830ffd45a43",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "651c7b6d-501f-4bff-a50c-c2d042cc2e7c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "2a5afd81-ebcc-46a2-bf05-cab8552fe7a0",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "12002206-504e-47b4-a278-63a78a777f1c",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d507ae57-01b3-4f24-9169-f7cc49014c32",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "61b27a94-8141-439c-8127-730b1658aead",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7ce6da56-bcd2-423a-8c12-93b0dd004c91",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "83bba97e-1155-484d-a5c7-3976038bc418",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "dd1e33bb-5975-4518-92aa-c45b21d15fe5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Automatically display the Title and Description of the current page]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "8a47721e-9b18-4264-b44d-daee93782168",
    "mediaKey": "6776301c-67fb-445d-8d0e-3058b5beb824",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Page Title and Description]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Page Title and Description]]></Value>
    </pageTitleShort>
  </Properties>
</Content>