<?xml version="1.0" encoding="utf-8"?>
<Content Key="074b6ab2-c798-43aa-9acd-2fd21b948bb3" Alias="Feature - Tabs" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureTabs</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-15T14:45:19</CreateDate>
    <NodeName Default="Feature - Tabs" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48dda820-9e38-4caf-a7ec-a52a6a6020ad",
      "key": "1a3128a9-a6e9-42d3-aa1e-32128edc161b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "a5a0cceb-7135-49cf-925a-15afb7ffc097",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "663fc5bc-c5b1-45d6-916a-5aa8adaeb18a",
      "key": "86ba5093-85a7-4226-8de1-39dacb4b485c",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tabs Title"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tabs Description"
        },
        {
          "alias": "featurePropertyTabs",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "0bee73a9-b636-480c-8584-2ed43c645751",
                "key": "a6dee1dc-fc4e-4bc7-ac8f-5bf8a655e222",
                "udi": null,
                "values": [
                  {
                    "alias": "featurePropertyTabTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tab One"
                  },
                  {
                    "alias": "featurePropertyTabContent",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
                          "key": "0019896f-577c-455b-9b84-ae72b6028077",
                          "udi": null,
                          "values": [
                            {
                              "alias": "featurePropertyFeatureDescription",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Feature Content Description - One - A"
                            },
                            {
                              "alias": "richTextContent",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EFeature Content Text - One - A\u003C/p\u003E"
                              }
                            },
                            {
                              "alias": "featurePropertyFeatureTitle",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Feature Content Title - One - A"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
                          "key": "f3c68093-300c-46f5-acca-306ddbc90ef6",
                          "udi": null,
                          "values": [
                            {
                              "alias": "featurePropertyFeatureDescription",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "richTextContent",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EText One - B\u003C/p\u003E"
                              }
                            },
                            {
                              "alias": "featurePropertyFeatureTitle",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Feature Content Title B"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
                          "key": "c2f40169-185a-4d09-a86e-c8ae688eac7d",
                          "udi": null,
                          "values": [
                            {
                              "alias": "featurePropertyFeatureTitle",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "An Image"
                            },
                            {
                              "alias": "image",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                {
                                  "key": "1cb8c030-d1d8-4ccc-ac5f-0dc20e9948b4",
                                  "mediaKey": "2536df9e-26ba-495a-8795-98028b823f93",
                                  "mediaTypeAlias": "Image",
                                  "crops": [],
                                  "focalPoint": null
                                }
                              ]
                            },
                            {
                              "alias": "featurePropertyFeatureDescription",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Here is a lovely image"
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "0019896f-577c-455b-9b84-ae72b6028077",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "f3c68093-300c-46f5-acca-306ddbc90ef6",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "c2f40169-185a-4d09-a86e-c8ae688eac7d",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "0019896f-577c-455b-9b84-ae72b6028077",
                            "contentUdi": "umb://element/0019896f577c455b9b84ae72b6028077",
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "c2f40169-185a-4d09-a86e-c8ae688eac7d",
                            "contentUdi": "umb://element/c2f40169185a4d09a86ec8ae688eac7d",
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "f3c68093-300c-46f5-acca-306ddbc90ef6",
                            "contentUdi": "umb://element/f3c68093300c46f5acca306ddbc90ef6",
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "0bee73a9-b636-480c-8584-2ed43c645751",
                "key": "a6e0ab2e-c6fe-42c9-95d5-a02278f2120c",
                "udi": null,
                "values": [
                  {
                    "alias": "featurePropertyTabTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tab Two"
                  },
                  {
                    "alias": "featurePropertyTabContent",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "contentData": [
                        {
                          "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
                          "key": "2fa5a16f-1c97-4054-bcbe-1019df483c3c",
                          "udi": null,
                          "values": [
                            {
                              "alias": "featurePropertyFeatureDescription",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Feature Content Description - Two - A"
                            },
                            {
                              "alias": "richTextContent",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EText Two - A\u003C/p\u003E"
                              }
                            },
                            {
                              "alias": "featurePropertyFeatureTitle",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Feature Content Title - Two - A"
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
                          "key": "f00dd21e-5b82-48e9-b034-1b991fda70c4",
                          "udi": null,
                          "values": [
                            {
                              "alias": "featurePropertyFeatureDescription",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": ""
                            },
                            {
                              "alias": "richTextContent",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": {
                                "blocks": {
                                  "contentData": [],
                                  "settingsData": [],
                                  "expose": [],
                                  "Layout": {}
                                },
                                "markup": "\u003Cp\u003EText Two - B\u003C/p\u003E"
                              }
                            }
                          ]
                        },
                        {
                          "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
                          "key": "c5d6de7f-4c0b-4827-b892-9c9b130de6da",
                          "udi": null,
                          "values": [
                            {
                              "alias": "featurePropertyFeatureTitle",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": "Another image"
                            },
                            {
                              "alias": "image",
                              "culture": null,
                              "editorAlias": null,
                              "segment": null,
                              "value": [
                                {
                                  "key": "81099790-a688-432e-986a-02fa75ea8078",
                                  "mediaKey": "d8acb0d7-dce4-4bd1-8b0d-b94352aa9afd",
                                  "mediaTypeAlias": "Image",
                                  "crops": [],
                                  "focalPoint": null
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "settingsData": [],
                      "expose": [
                        {
                          "contentKey": "2fa5a16f-1c97-4054-bcbe-1019df483c3c",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "f00dd21e-5b82-48e9-b034-1b991fda70c4",
                          "culture": null,
                          "segment": null
                        },
                        {
                          "contentKey": "c5d6de7f-4c0b-4827-b892-9c9b130de6da",
                          "culture": null,
                          "segment": null
                        }
                      ],
                      "Layout": {
                        "Umbraco.BlockList": [
                          {
                            "contentKey": "2fa5a16f-1c97-4054-bcbe-1019df483c3c",
                            "contentUdi": "umb://element/2fa5a16f1c974054bcbe1019df483c3c",
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "c5d6de7f-4c0b-4827-b892-9c9b130de6da",
                            "contentUdi": "umb://element/c5d6de7f4c0b4827b8929c9b130de6da",
                            "settingsKey": null,
                            "settingsUdi": null
                          },
                          {
                            "contentKey": "f00dd21e-5b82-48e9-b034-1b991fda70c4",
                            "contentUdi": "umb://element/f00dd21e5b8248e9b0341b991fda70c4",
                            "settingsKey": null,
                            "settingsUdi": null
                          }
                        ]
                      }
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a6dee1dc-fc4e-4bc7-ac8f-5bf8a655e222",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a6e0ab2e-c6fe-42c9-95d5-a02278f2120c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a6dee1dc-fc4e-4bc7-ac8f-5bf8a655e222",
                  "contentUdi": "umb://element/a6dee1dcfc4e4bc7ac8f5bf8a655e222",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a6e0ab2e-c6fe-42c9-95d5-a02278f2120c",
                  "contentUdi": "umb://element/a6e0ab2ec6fe42c995d5a02278f2120c",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tabs Summary"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "04298cef-7d19-441c-87a4-4222233cd705",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "376c2e3e-ad3b-4247-8f61-f5dfdc09eb6b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "8eb4e894-f775-4514-8fe7-776c8f828695",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "de9372bf-0d9d-47fc-a41b-ced626f9737d",
              "mediaKey": "65344222-8938-4532-922b-ce9d0368e0a9",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "fab99de4-b9da-4d1b-a6c3-980a76d6f9dc",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "14514d40-dcfa-47f6-9730-b2ff608ef449",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "1dbd04bf-bd1f-48d9-a0cc-de7c7d0f0725",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "ca8bc3ca-eef9-4b88-9fae-08786ee8fbf3",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "3cb0b008-0af4-4f1e-a9d4-72b266a94602",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "ae1149ac-7647-43bf-a162-cde88e8ed0c9",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1a3128a9-a6e9-42d3-aa1e-32128edc161b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a5a0cceb-7135-49cf-925a-15afb7ffc097",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "86ba5093-85a7-4226-8de1-39dacb4b485c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "04298cef-7d19-441c-87a4-4222233cd705",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "376c2e3e-ad3b-4247-8f61-f5dfdc09eb6b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8eb4e894-f775-4514-8fe7-776c8f828695",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "376c2e3e-ad3b-4247-8f61-f5dfdc09eb6b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "1dbd04bf-bd1f-48d9-a0cc-de7c7d0f0725",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "8eb4e894-f775-4514-8fe7-776c8f828695",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ae1149ac-7647-43bf-a162-cde88e8ed0c9",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "04298cef-7d19-441c-87a4-4222233cd705",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "14514d40-dcfa-47f6-9730-b2ff608ef449",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "a5a0cceb-7135-49cf-925a-15afb7ffc097",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ca8bc3ca-eef9-4b88-9fae-08786ee8fbf3",
                "settingsUdi": null
              }
            ],
            "key": "afe26812-3f06-4d32-842a-c415b473fb10"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 9,
                "contentKey": "86ba5093-85a7-4226-8de1-39dacb4b485c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "3cb0b008-0af4-4f1e-a9d4-72b266a94602",
                "settingsUdi": null
              }
            ],
            "key": "a95a8343-5286-4c4d-a69c-058bba3c2c9b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "1a3128a9-a6e9-42d3-aa1e-32128edc161b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fab99de4-b9da-4d1b-a6c3-980a76d6f9dc",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Fully editable allowing the user to add Text and Images]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "e688b51d-eccd-40b1-8a90-cd06aded5b13",
    "mediaKey": "f0939311-31e9-46c0-98b7-5e01bf4d252e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Tabs]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Tabs]]></Value>
    </pageTitleShort>
  </Properties>
</Content>