<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9693418-28b0-4ac4-88fa-568230643a4e" Alias="Feature - Internal Links - Children" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureInternalLinksChildren</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Feature - Internal Links - Children" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/4cd55aeb72024636b8ad9eb5285df696",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/426a4cc38b9841bf92eb5e3ad7a1f4a9",
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/6aa4b77f0ea344d38111de499147476e",
      "values": [],
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Feature - Internal Links - Children can be added to most areas in both Block List and Block Grid",
      "richTextContent": "\u003Cp\u003EAn example of this feature is used in this page\u003C/p\u003E",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/06b60c61434a4e078ea3f9cb78af81ee",
      "values": [],
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE\u0027s can be added in asides like this one",
      "richTextContent": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/a5b26dd12c0b4e38a58828c2b8e5c19d",
      "values": []
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e8797c7807404ce3a94d726298c39748",
      "values": [],
      "featurePropertyFeatureTitle": "In this section",
      "featurePropertyFeatureDescription": "These are child pages of this page"
    },
    {
      "contentTypeKey": "f444fff5-9769-4376-a831-f3c6ac6cba0f",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/5bc201c6afaf440bb09a94c9e5b0b3b9",
      "values": [],
      "featurePropertyFeatureTitle": "In this section"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/dc27a7aafabb405794fc616e33eceb0a",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/42d956296dc2450dab7ecd25ab764991",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/a76ed8e84c914832be1689f9265a05fb",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u0022769dd677-6d20-4bf7-8eef-bbc332adf333\u0022,\r\n    \u0022mediaKey\u0022: \u0022388c7ddd-9acd-4d1f-a473-57054c9d4a6d\u0022\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/df9ea379e3424efd8f97ed0d0f20ae57",
      "values": [],
      "layoutSettingsColourPicker": "{\r\n  \u0022value\u0022: \u002220c997\u0022,\r\n  \u0022label\u0022: \u0022--bs-teal\u0022,\r\n  \u0022sortOrder\u0022: 6,\r\n  \u0022id\u0022: \u00227\u0022\r\n}",
      "layoutSettingsColourShades": "400"
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/2a87788c60d241398c99f462dee102a6",
      "values": [],
      "layoutSettingsColourPicker": "{\r\n  \u0022value\u0022: \u00220d6efd\u0022,\r\n  \u0022label\u0022: \u0022--bs-blue\u0022,\r\n  \u0022sortOrder\u0022: 0,\r\n  \u0022id\u0022: \u00221\u0022\r\n}",
      "layoutSettingsColourShades": "400"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/724b6dcff2064ab6adfc48fbfe457966",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/ed7ebaa9f3f045a9b15cf63a769d4888",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/86600e0c8b8c4923ac18713d99af35e6",
      "values": [],
      "layoutSettingsColourPicker": "{\r\n  \u0022value\u0022: \u00226610f2\u0022,\r\n  \u0022label\u0022: \u0022--bs-indigo\u0022,\r\n  \u0022sortOrder\u0022: 2,\r\n  \u0022id\u0022: \u00223\u0022\r\n}",
      "layoutSettingsColourShades": "500"
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/c2d5ce6c6c18418097465fdad30aa386",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/2c7c177e3c624da1ba993389fc0ae884",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e70dbd191ab843cda98c426e1669f5e3",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/a165f68c8dfe4206b23292b9d8c1785f",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/9d0b9307dea6463abdc43af0cdb758c5",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "42d95629-6dc2-450d-ab7e-cd25ab764991",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c2d5ce6c-6c18-4180-9746-5fdad30aa386",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "a76ed8e8-4c91-4832-be16-89f9265a05fb",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9d0b9307-dea6-463a-bdc4-3af0cdb758c5",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "dc27a7aa-fabb-4057-94fc-616e33eceb0a",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "86600e0c-8b8c-4923-ac18-713d99af35e6",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "426a4cc3-8b98-41bf-92eb-5e3ad7a1f4a9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "2c7c177e-3c62-4da1-ba99-3389fc0ae884",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "6aa4b77f-0ea3-44d3-8111-de499147476e",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "724b6dcf-f206-4ab6-adfc-48fbfe457966",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "5bc201c6-afaf-440b-b09a-94c9e5b0b3b9",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e70dbd19-1ab8-43cd-a98c-426e1669f5e3",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "06b60c61-434a-4e07-8ea3-f9cb78af81ee",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ed7ebaa9-f3f0-45a9-b15c-f63a769d4888",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "4cd55aeb-7202-4636-b8ad-9eb5285df696",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "df9ea379-e342-4efd-8f97-ed0d0f20ae57",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e8797c78-0740-4ce3-a94d-726298c39748",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a165f68c-8dfe-4206-b232-92b9d8c1785f",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a5b26dd1-2c0b-4e38-a588-28c2b8e5c19d",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "2a87788c-60d2-4139-8c99-f462dee102a6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Internal Links - Children]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "c61717f9-7952-472f-9096-43990b0fbb63",
    "mediaKey": "388c7ddd-9acd-4d1f-a473-57054c9d4a6d"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Internal Links - Children]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Internal Links - Children]]></Value>
    </pageTitleShort>
  </Properties>
</Content>