<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfbdda76-fe5f-45f5-9f15-5523231aedee" Alias="Feature - Image" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureImage</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Feature - Image" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "48acdd1b-f4cb-4259-acc7-25b4ced607e3",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "9bb92538-a5b9-497f-a2f3-96093f5ebc88",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "562735f4-bc64-4ffd-9304-54b520e9c525",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "aed54ff0-2d08-4c28-8329-d41860679cd0",
              "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "b0295abe-01cf-4cf4-9387-4eaf6068e21d",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Image"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e29c0667-ae7e-487c-98fc-7d8440b3fca8",
              "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "8626b569-f6e7-4a56-b471-8603587d9d7b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "afc18ca8-8acb-4671-90e1-71933f84a917",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "6fb5dc6d-f50b-4f11-876d-daa2689a0d1e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8",
      "key": "90e35c2c-d5fd-4a97-89cc-c5ad45174d08",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "featureImage.cshtml"
        },
        {
          "alias": "featurePropertyFeatureCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "@using Umbraco.Extensions\n@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage\u003CUmbraco.Cms.Core.Models.Blocks.BlockGridItem\u003E\n\n@{\n    Layout = \u0022_Layout_Features.cshtml\u0022;\n}\n\n@{\n    var typedMediaPickerSingle = Model.Content.Value\u003CUmbraco.Cms.Core.Models.MediaWithCrops\u003E(\u0022image\u0022);\n    if (typedMediaPickerSingle != null)\n    {\n        \u003Cimg src=\u0022@typedMediaPickerSingle.MediaUrl()\u0022 style=\u0022object-fit:cover; width:100%; height:100%;\u0022/\u003E\n    } else {\n        \u003Cp\u003EMissing image\u003C/p\u003E\n    }\n}\n"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "3d033943-d2b2-4dc7-b7f3-c4dbab02edd3",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4ba6ac6b-73ff-4925-a6cd-150da4f40e27",
              "mediaKey": "7c33c76f-5764-4def-819e-0f60a94e2792",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "fbad8a4f-295c-4a3a-b812-d356b351dafc",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "e7ed5e57-cc37-4dbf-b812-3b14e72ee383",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "0dd30892-76d4-4eca-a515-003cb97fa398",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "332d1b7a-d7db-49e4-9907-3574bb8dc6a3",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "bc689e77-034f-45e6-9c2f-e223268d1a4c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "fb2e4bfc-8bc2-4deb-a400-55bcdb02ef12",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "b7ce9d05-57b1-418a-a756-a09e34c40f5d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "163ac76f-e34d-4e12-8648-715bac7e9c10",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "c5158a62-97ba-4753-8da3-18241dbc9d29",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "48acdd1b-f4cb-4259-acc7-25b4ced607e3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9bb92538-a5b9-497f-a2f3-96093f5ebc88",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "562735f4-bc64-4ffd-9304-54b520e9c525",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b0295abe-01cf-4cf4-9387-4eaf6068e21d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8626b569-f6e7-4a56-b471-8603587d9d7b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "afc18ca8-8acb-4671-90e1-71933f84a917",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6fb5dc6d-f50b-4f11-876d-daa2689a0d1e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "90e35c2c-d5fd-4a97-89cc-c5ad45174d08",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "62f12302-1312-4e71-a71e-80273e7dc796",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3d033943-d2b2-4dc7-b7f3-c4dbab02edd3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "afc18ca8-8acb-4671-90e1-71933f84a917",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "332d1b7a-d7db-49e4-9907-3574bb8dc6a3",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "3d033943-d2b2-4dc7-b7f3-c4dbab02edd3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c5158a62-97ba-4753-8da3-18241dbc9d29",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "8626b569-f6e7-4a56-b471-8603587d9d7b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e7ed5e57-cc37-4dbf-b812-3b14e72ee383",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "9bb92538-a5b9-497f-a2f3-96093f5ebc88",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "bc689e77-034f-45e6-9c2f-e223268d1a4c",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "562735f4-bc64-4ffd-9304-54b520e9c525",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "fb2e4bfc-8bc2-4deb-a400-55bcdb02ef12",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "b0295abe-01cf-4cf4-9387-4eaf6068e21d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b7ce9d05-57b1-418a-a756-a09e34c40f5d",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "48acdd1b-f4cb-4259-acc7-25b4ced607e3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fbad8a4f-295c-4a3a-b812-d356b351dafc",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "90e35c2c-d5fd-4a97-89cc-c5ad45174d08",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "163ac76f-e34d-4e12-8648-715bac7e9c10",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "6fb5dc6d-f50b-4f11-876d-daa2689a0d1e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "0dd30892-76d4-4eca-a515-003cb97fa398",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Select an image from the media library and display it on your page]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "a7f3ef0f-80e0-40af-b9de-0b8d44bc3f32",
    "mediaKey": "b934abd1-b6cd-4c51-9506-4c356609a1b6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Image]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Image]]></Value>
    </pageTitleShort>
  </Properties>
</Content>