<?xml version="1.0" encoding="utf-8"?>
<Content Key="99a537a8-9296-4f7b-86ed-73337e53aaab" Alias="Feature - Form" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureForm</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-11-12T15:46:35</CreateDate>
    <NodeName Default="Feature - Form" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "a6b23c9d-7c65-4b13-9de2-8b4bbf07216e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "358e6628-68ba-4b2d-94bb-40cf2b62e00b",
      "udi": null,
      "values": [
        {
          "alias": "noConfiguration",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "60c4ec82-340f-4251-b953-7462fe6c513c",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4c622427-88f3-4f40-8806-16a00571aaf3",
              "mediaKey": "dd5c3044-32d5-44f0-8fae-17a932537036",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "f517c7e3-9c89-419a-aa88-a5dbb70a6fd9",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "ea139cf6-43ca-4024-b511-c1896c4cabff",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "3519cf97-4766-48b1-873e-ec19693d94d5",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutAreasColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsBackgroundImagePicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "b1187173-52e7-4b26-b416-a1bcf4774917",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "featureSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "cce6f531-bc05-4dc5-8d61-faabd5dbd2f6",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "featureSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "c1b4355a-359b-4238-8095-f7574e9c7ab8",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "46e997e5-d563-498a-a828-4ad2301698a1",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a6b23c9d-7c65-4b13-9de2-8b4bbf07216e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "358e6628-68ba-4b2d-94bb-40cf2b62e00b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "60c4ec82-340f-4251-b953-7462fe6c513c",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "410a283a-2cca-4eb6-9c06-19a150af5a26",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cef2e917-2df1-434a-b0d6-29c60cfec8ab",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f517c7e3-9c89-419a-aa88-a5dbb70a6fd9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ea139cf6-43ca-4024-b511-c1896c4cabff",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "358e6628-68ba-4b2d-94bb-40cf2b62e00b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b1187173-52e7-4b26-b416-a1bcf4774917",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "60c4ec82-340f-4251-b953-7462fe6c513c",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "cce6f531-bc05-4dc5-8d61-faabd5dbd2f6",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a6b23c9d-7c65-4b13-9de2-8b4bbf07216e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "3519cf97-4766-48b1-873e-ec19693d94d5",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "ea139cf6-43ca-4024-b511-c1896c4cabff",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "46e997e5-d563-498a-a828-4ad2301698a1",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "f517c7e3-9c89-419a-aa88-a5dbb70a6fd9",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c1b4355a-359b-4238-8095-f7574e9c7ab8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Form]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "60a43a77-2910-4db2-8ea7-7e1b1d7c17e8",
    "mediaKey": "3450f06a-eb3d-4706-b4ed-c9977dab5417",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Form]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Feature - Form]]></Value>
    </pageTitleShort>
  </Properties>
</Content>