<?xml version="1.0" encoding="utf-8"?>
<Content Key="24094670-d758-4dd4-9f01-3d98d215584d" Alias="Feature - Internal Links - Slideshow" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureInternalLinksSlideshow</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-08T20:05:42</CreateDate>
    <NodeName Default="Feature - Internal Links - Slideshow" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00c54583-e5e3-47d7-a56a-c0d4a24ae6ee",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "1fbd61f3-dd3c-4fda-860f-e7be3df11967",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "ea5308d3-b139-446c-9f17-d56858f60080",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "58b55fe8-1898-4735-8b79-6cfce18b95bc",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Introduction"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The Feature - Internal Links - Slideshow can be added to most areas in both Block List and Block Grid"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAn example of Feature - Internal Links - Slideshow is used on this page\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is an optional summary that can be added beneath any Feature "
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "2a0c6eb4-570a-433c-8432-d4681ea68c75",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "As an aside"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "RTE\u0027s can be added in asides like this one"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Of course you can add a summary here."
        }
      ]
    },
    {
      "contentTypeKey": "05a27f33-b1d6-49b0-89fe-755829ae138c",
      "key": "ac4e5a8c-78b7-487e-8c3b-1610dda79fd4",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Feature - Internal Links - Slideshow"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This uses Multi-node tree picker to choose pages to link to in a slideshow"
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2,umb://document/af8fb0fe0eb944feb49870ab76351d41,umb://document/0d1802258d8e4c65a59a9482e3f255c1"
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "5e68ab54-eb9f-41fb-92af-2b4b7692829b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "ee5444bf-c9e0-45a2-9558-43bc35aaa729",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "05a27f33-b1d6-49b0-89fe-755829ae138c",
      "key": "ac0a4042-6de4-4499-9388-a95f3293e8b7",
      "udi": null,
      "values": [
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2,umb://document/af8fb0fe0eb944feb49870ab76351d41,umb://document/0edabf5dd6774373a24a39b715ca4e32"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "5c159b7f-32a3-422c-9195-07e71f1c04bd",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4eddd6cd-a552-4c3f-956a-bb41b29e2be0",
              "mediaKey": "1eb7febc-eaa9-471b-b980-0c42419f9f41",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "541f4346-8c70-42fa-9a9c-afbb73529644",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "d6ece671-987a-4881-b5f1-e538025786fc",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "c8f1185f-5bba-4d7a-9eb8-da8e3433e312",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "749c5228-05d6-4eda-aa10-b4c25a0cc203",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "bf9458ea-2be2-464d-95ea-542baf21c525",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "9559f8d0-f284-457a-a3b6-5d22ad8918c0",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "b780dabd-0071-490c-bf46-cc8921ff1907",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "6b4c944c-0d42-4e52-9dda-2f0aae6936a7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "7d3e42ed-bb45-4e78-af18-1621f7bcb041",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "1a2640f6-1151-4507-9ece-abc8e403192b",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "00c54583-e5e3-47d7-a56a-c0d4a24ae6ee",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1fbd61f3-dd3c-4fda-860f-e7be3df11967",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ea5308d3-b139-446c-9f17-d56858f60080",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "58b55fe8-1898-4735-8b79-6cfce18b95bc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2a0c6eb4-570a-433c-8432-d4681ea68c75",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ac4e5a8c-78b7-487e-8c3b-1610dda79fd4",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5e68ab54-eb9f-41fb-92af-2b4b7692829b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ee5444bf-c9e0-45a2-9558-43bc35aaa729",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ac0a4042-6de4-4499-9388-a95f3293e8b7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5c159b7f-32a3-422c-9195-07e71f1c04bd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ee5444bf-c9e0-45a2-9558-43bc35aaa729",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9559f8d0-f284-457a-a3b6-5d22ad8918c0",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "5c159b7f-32a3-422c-9195-07e71f1c04bd",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "1a2640f6-1151-4507-9ece-abc8e403192b",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "5e68ab54-eb9f-41fb-92af-2b4b7692829b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "bf9458ea-2be2-464d-95ea-542baf21c525",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "ea5308d3-b139-446c-9f17-d56858f60080",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b780dabd-0071-490c-bf46-cc8921ff1907",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "58b55fe8-1898-4735-8b79-6cfce18b95bc",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d6ece671-987a-4881-b5f1-e538025786fc",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "ac0a4042-6de4-4499-9388-a95f3293e8b7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6b4c944c-0d42-4e52-9dda-2f0aae6936a7",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "2a0c6eb4-570a-433c-8432-d4681ea68c75",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c8f1185f-5bba-4d7a-9eb8-da8e3433e312",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "1fbd61f3-dd3c-4fda-860f-e7be3df11967",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "541f4346-8c70-42fa-9a9c-afbb73529644",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ac4e5a8c-78b7-487e-8c3b-1610dda79fd4",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7d3e42ed-bb45-4e78-af18-1621f7bcb041",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "00c54583-e5e3-47d7-a56a-c0d4a24ae6ee",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "749c5228-05d6-4eda-aa10-b4c25a0cc203",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Internal Links - Slideshow]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "613e5c60-42a5-449c-8cbf-1c6504c2b103",
    "mediaKey": "223ccce2-2e15-4450-b536-d85daf9fd6dd",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Internal Links - Slideshow]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Internal Links - Slideshow]]></Value>
    </pageTitleShort>
  </Properties>
</Content>