<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfbdda76-fe5f-45f5-9f15-5523231aedee" Alias="Feature - Image" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureImage</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Feature - Image" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "48acdd1b-f4cb-4259-acc7-25b4ced607e3",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "9bb92538-a5b9-497f-a2f3-96093f5ebc88",
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "3d999ce2-8ce6-42fa-ae9c-5b102b4f7e6a",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "What It Does"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Displays a single image from the Umbraco media library"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe Image feature lets content editors pick a single image from the Umbraco media library and display it on the page. The image renders as a full-width, responsive element that scales to fit its container while maintaining its aspect ratio using \u003Ccode\u003Eobject-fit: cover\u003C/code\u003E.\u003C/p\u003E\u003Cp\u003ELike all features in UmBootstrap, the Image block supports the standard compositions \u2014 editors can add a title, description, and summary around the image. This makes it useful for captioned images, hero banners, or any visual content that needs accompanying text.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Image blocks without a Feature Title are automatically excluded from the in-page navigation picker."
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "e2b0b66e-d31e-4e96-925a-338e887c117b",
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How It Works"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Uses Umbraco\u0027s Media Picker with the strongly-typed ModelsBuilder model"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe view accesses the image through the strongly-typed \u003Ccode\u003EModel.Content.Image\u003C/code\u003E property, which returns a \u003Ccode\u003EMediaWithCrops\u003C/code\u003E object from Umbraco\u0027s Media Picker 3. The \u003Ccode\u003EMediaUrl()\u003C/code\u003E extension method generates the URL for the selected image.\u003C/p\u003E\u003Cp\u003EThe image is rendered with \u003Ccode\u003Eobject-fit: cover\u003C/code\u003E and \u003Ccode\u003Ewidth: 100%\u003C/code\u003E so it fills its container regardless of the original image dimensions. A \u003Ccode\u003Erounded-3\u003C/code\u003E Bootstrap class adds subtle rounded corners.\u003C/p\u003E\u003Cp\u003EIf no image is selected, the view displays a \u0022Missing image\u0022 message as a fallback \u2014 useful during development but something you may want to handle differently in production.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Add a title like \u0022Gallery\u0022 or \u0022Product Photos\u0022 if you want image sections to appear in navigation."
        }
      ]
    },
    {
      "contentTypeKey": "c4b3a613-0d2c-4470-8d06-f7efea52d6e0",
      "key": "2b34ac9e-de8f-4900-a0cd-2dd2fc8ac911",
      "values": [
        {
          "alias": "featurePropertyNavigationInPageItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "3d999ce2-8ce6-42fa-ae9c-5b102b4f7e6a",
            "e2b0b66e-d31e-4e96-925a-338e887c117b"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "8626b569-f6e7-4a56-b471-8603587d9d7b",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "afc18ca8-8acb-4671-90e1-71933f84a917",
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "6fb5dc6d-f50b-4f11-876d-daa2689a0d1e",
      "values": []
    },
    {
      "contentTypeKey": "9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8",
      "key": "90e35c2c-d5fd-4a97-89cc-c5ad45174d08",
      "values": [
        {
          "alias": "featurePropertyFeatureCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage\u003CUmbraco.Cms.Core.Models.Blocks.BlockGridItem\u003CFeatureImage\u003E\u003E\n\n@{\n    Layout = \u0022_Layout_Features.cshtml\u0022;\n}\n\n@{\n    var typedMediaPickerSingle = Model.Content.Image;\n    if (typedMediaPickerSingle != null)\n    {\n        \u003Cimg src=\u0022@typedMediaPickerSingle.MediaUrl()\u0022\n             alt=\u0022\u0022\n             class=\u0022rounded-3\u0022\n             style=\u0022object-fit:cover; width:100%; height:100%;\u0022 /\u003E\n    } else {\n        \u003Cp\u003EMissing image\u003C/p\u003E\n    }\n}"
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "featureImage.cshtml"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "3d033943-d2b2-4dc7-b7f3-c4dbab02edd3",
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4ba6ac6b-73ff-4925-a6cd-150da4f40e27",
              "mediaKey": "7c33c76f-5764-4def-819e-0f60a94e2792",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "fbad8a4f-295c-4a3a-b812-d356b351dafc",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "e7ed5e57-cc37-4dbf-b812-3b14e72ee383",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "0dd30892-76d4-4eca-a515-003cb97fa398",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "332d1b7a-d7db-49e4-9907-3574bb8dc6a3",
      "values": []
    },
    {
      "contentTypeKey": "e85bbfdf-53b9-48f4-88d6-cae09a6d1f24",
      "key": "bc689e77-034f-45e6-9c2f-e223268d1a4c",
      "values": [
        {
          "alias": "featureSettingsEnableSticky",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "17442daa-fcbd-4059-8044-424e70feec48",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "bf56ccbe-59cc-4abd-8825-054d7be1e444",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "163ac76f-e34d-4e12-8648-715bac7e9c10",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "c5158a62-97ba-4753-8da3-18241dbc9d29",
      "values": []
    },
    {
      "contentTypeKey": "e85bbfdf-53b9-48f4-88d6-cae09a6d1f24",
      "key": "a526f02b-2415-420f-8ad3-d3d378da329b",
      "values": [
        {
          "alias": "featureSettingsEnableSticky",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "48acdd1b-f4cb-4259-acc7-25b4ced607e3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9bb92538-a5b9-497f-a2f3-96093f5ebc88",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8626b569-f6e7-4a56-b471-8603587d9d7b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "afc18ca8-8acb-4671-90e1-71933f84a917",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6fb5dc6d-f50b-4f11-876d-daa2689a0d1e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "90e35c2c-d5fd-4a97-89cc-c5ad45174d08",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3d033943-d2b2-4dc7-b7f3-c4dbab02edd3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3d999ce2-8ce6-42fa-ae9c-5b102b4f7e6a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e2b0b66e-d31e-4e96-925a-338e887c117b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2b34ac9e-de8f-4900-a0cd-2dd2fc8ac911",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "afc18ca8-8acb-4671-90e1-71933f84a917",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "332d1b7a-d7db-49e4-9907-3574bb8dc6a3",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "3d033943-d2b2-4dc7-b7f3-c4dbab02edd3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c5158a62-97ba-4753-8da3-18241dbc9d29",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "8626b569-f6e7-4a56-b471-8603587d9d7b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e7ed5e57-cc37-4dbf-b812-3b14e72ee383",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "9bb92538-a5b9-497f-a2f3-96093f5ebc88",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "bc689e77-034f-45e6-9c2f-e223268d1a4c",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "3d999ce2-8ce6-42fa-ae9c-5b102b4f7e6a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "17442daa-fcbd-4059-8044-424e70feec48",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "e2b0b66e-d31e-4e96-925a-338e887c117b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "bf56ccbe-59cc-4abd-8825-054d7be1e444",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "2b34ac9e-de8f-4900-a0cd-2dd2fc8ac911",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a526f02b-2415-420f-8ad3-d3d378da329b",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "48acdd1b-f4cb-4259-acc7-25b4ced607e3",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "fbad8a4f-295c-4a3a-b812-d356b351dafc",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "90e35c2c-d5fd-4a97-89cc-c5ad45174d08",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "163ac76f-e34d-4e12-8648-715bac7e9c10",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "6fb5dc6d-f50b-4f11-876d-daa2689a0d1e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "0dd30892-76d4-4eca-a515-003cb97fa398",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Display images from the Umbraco media library with responsive scaling and optional captions]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "a7f3ef0f-80e0-40af-b9de-0b8d44bc3f32",
    "mediaKey": "b934abd1-b6cd-4c51-9506-4c356609a1b6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Image]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Image]]></Value>
    </pageTitleShort>
  </Properties>
</Content>