<?xml version="1.0" encoding="utf-8"?>
<Content Key="53236b06-6534-427d-af5b-a47f5831e629" Alias="Feature - Code" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureCode</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T20:42:26</CreateDate>
    <NodeName Default="Feature - Code" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "efcce15f-4e05-4e21-84c6-b85bb8219f70",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "8f92ed86-11b6-48b3-8faf-afe184080114",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "5f146731-a89f-40de-8458-dc03045d058d",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "As an aside"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "RTE\u0027s can be added in asides like this one"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Of course you can add a summary here."
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "d458ca4c-4722-4c54-9b8b-369cc20ae936",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "87d00d8d-6728-4373-85d3-93f7eb82a2c3",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8",
      "key": "3ab77f72-a129-446e-b7e0-b6f548706646",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "@{\n    // Check if the block grid item has settings\n    bool hasSettings = Model.Settings != null;\n    string colorLabel = null;\n    // If the block grid item has settings, get the background colour\n    if (hasSettings)\n    {\n        var backgroundColour = Model.Settings.Value\u003CColorPickerValueConverter.PickedColor\u003E(\u0022featureSettingsColourPicker\u0022);\n        colorLabel = backgroundColour?.Label;\n    }\n}"
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Some code"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "4b82e0a8-5608-4433-a25d-bd3eeacc947b",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b8cf09d1-f590-4585-b484-1a8aee720a76",
              "mediaKey": "7abc7636-2e3f-4983-aa5e-ffceca041f54",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "7e94c6b2-181d-4ff5-9dc2-269cf0a77a68",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "9aae0bbd-9a9b-4685-9b28-fe7fa4fbaaf8",
      "key": "b51a8759-7fa3-4a84-bc8e-24ba7081dc33",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureCode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage\u003CUmbraco.Cms.Core.Models.Blocks.BlockGridItem\u003CFeatureCode\u003E\u003E\n\n@{\n    Layout = \u0022_Layout_Features.cshtml\u0022;\n}\n\n\u003Cpre\u003E\u003Ccode\u003E@Model.Content.FeaturePropertyFeatureCode\u003C/code\u003E\u003C/pre\u003E"
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "featureCode.cshtml"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "7ba60ed7-48e9-4dac-92b8-f75604500f08",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "6ae89dcc-ea06-4eff-8fd0-dc82ecc774a7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "70b55b4a-87f1-45c3-b129-a8de8a9a6124",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "d0924ed8-3d71-41b1-a453-a476b72bcf9e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "3da3dc90-6132-4ee0-9311-9de6c2d70f42",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "05fa0985-862b-4b84-9590-416d4f0decbe",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "bb9bbd13-a06f-4253-803c-893b195dc36f",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "a5455f0b-676e-4592-a83d-b0552c1424ab",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "646e2e37-7dce-4c8e-8007-70578340b97d",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "efcce15f-4e05-4e21-84c6-b85bb8219f70",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8f92ed86-11b6-48b3-8faf-afe184080114",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5f146731-a89f-40de-8458-dc03045d058d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d458ca4c-4722-4c54-9b8b-369cc20ae936",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "87d00d8d-6728-4373-85d3-93f7eb82a2c3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3ab77f72-a129-446e-b7e0-b6f548706646",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4b82e0a8-5608-4433-a25d-bd3eeacc947b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e94c6b2-181d-4ff5-9dc2-269cf0a77a68",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b51a8759-7fa3-4a84-bc8e-24ba7081dc33",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "87d00d8d-6728-4373-85d3-93f7eb82a2c3",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d0924ed8-3d71-41b1-a453-a476b72bcf9e",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "4b82e0a8-5608-4433-a25d-bd3eeacc947b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "bb9bbd13-a06f-4253-803c-893b195dc36f",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "d458ca4c-4722-4c54-9b8b-369cc20ae936",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "70b55b4a-87f1-45c3-b129-a8de8a9a6124",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "8f92ed86-11b6-48b3-8faf-afe184080114",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "3da3dc90-6132-4ee0-9311-9de6c2d70f42",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "3ab77f72-a129-446e-b7e0-b6f548706646",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "05fa0985-862b-4b84-9590-416d4f0decbe",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "5f146731-a89f-40de-8458-dc03045d058d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6ae89dcc-ea06-4eff-8fd0-dc82ecc774a7",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "efcce15f-4e05-4e21-84c6-b85bb8219f70",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "7ba60ed7-48e9-4dac-92b8-f75604500f08",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "b51a8759-7fa3-4a84-bc8e-24ba7081dc33",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "646e2e37-7dce-4c8e-8007-70578340b97d",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7e94c6b2-181d-4ff5-9dc2-269cf0a77a68",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "a5455f0b-676e-4592-a83d-b0552c1424ab",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Paste Code that will be rendered in the page as code]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "2896cf83-c123-43ea-a6a2-6059a4fc314d",
    "mediaKey": "fc91d7d6-1efa-4639-a026-11b64d430d81",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Code]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Code]]></Value>
    </pageTitleShort>
  </Properties>
</Content>