<?xml version="1.0" encoding="utf-8"?>
<Content Key="118b9c7c-fe77-41e1-b3ac-fc3edffd1874" Alias="Feature - Navigation - Nested Descendants" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureNavigationNestedDescendants</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-08T20:13:06</CreateDate>
    <NodeName Default="Feature - Navigation - Nested Descendants" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/b7ff891a22ca4700a88948b0f94c149b",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/c04494e72d5d484fac582f45951d1db2",
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/7c4a6f1bf5a546e88b29d3c064e0dd2a",
      "values": [],
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Feature - Navigation - Nested Descendants can be added to most areas in both Block List and Block Grid",
      "richTextContent": "\u003Cp\u003EAn example of Feature - Navigation - Nested Descendants is the navigation block used on this page\u003C/p\u003E",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/b3a230d07d344dbda594a4fb25fa7059",
      "values": [],
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE\u0027s can be added in asides like this one",
      "richTextContent": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/7b15b76ed25f49a58779da49567f5fef",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/4b02b5ab16bb41768140c67d97c2b075",
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/345ff656509c4e039e6a47f98a935877",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u00227a8f7bf1-158a-40f2-8bc4-64eb7a653965\u0022,\r\n    \u0022mediaKey\u0022: \u00227133afa3-42e0-4442-bac5-9e6bf16537fb\u0022\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e95308c5069044ae9c44e547b2065268",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/25c9609af12f43c888b56ae85b48d672",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/277bace0b50b4a29b4992a5f0fdd16f8",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/240ac46cb0974923a88016bbdd7b2f7e",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/2f2c24f61b84458c93a8362a7f672e9f",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/48636f6643c94ca38edf27c6757264e2",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/a0a93d6cc4264d29acde669a4a5b07f6",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "4b02b5ab-16bb-4176-8140-c67d97c2b075",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "2f2c24f6-1b84-458c-93a8-362a7f672e9f",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "345ff656-509c-4e03-9e6a-47f98a935877",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a0a93d6c-c426-4d29-acde-669a4a5b07f6",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7b15b76e-d25f-49a5-8779-da49567f5fef",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "240ac46c-b097-4923-a880-16bbdd7b2f7e",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "c04494e7-2d5d-484f-ac58-2f45951d1db2",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "48636f66-43c9-4ca3-8edf-27c6757264e2",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "7c4a6f1b-f5a5-46e8-8b29-d3c064e0dd2a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "25c9609a-f12f-43c8-88b5-6ae85b48d672",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "b3a230d0-7d34-4dbd-a594-a4fb25fa7059",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "277bace0-b50b-4a29-b499-2a5f0fdd16f8",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "b7ff891a-22ca-4700-a889-48b0f94c149b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "e95308c5-0690-44ae-9c44-e547b2065268",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Navigation - Nested Descendants]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "a6819509-f308-4b94-9fb4-4213fe3ee6dc",
    "mediaKey": "7133afa3-42e0-4442-bac5-9e6bf16537fb"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Navigation - Nested Descendants]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Navigation - Nested Descendants]]></Value>
    </pageTitleShort>
  </Properties>
</Content>