<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a3cb279-688b-4516-b71f-de468931385b" Alias="Feature - Internal Links - Pagination" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureInternalLinksPagination</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-08-12T14:26:10</CreateDate>
    <NodeName Default="Feature - Internal Links - Pagination" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "a688ba27-f5ef-4308-b45a-0f15c45b36cd",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "3372dfd3-6f3e-4f13-8353-e8f2325a7042",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "8d47db43-feb9-4fe5-8463-774c9667c45f",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Introduction"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The Feature - Internal Links - Pagination is used in this case to paginate child pages"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAn example of this feature is used in this page\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is an optional summary that can be added beneath any Feature "
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "3671af45-17f3-48c4-bf8e-30b00d1de598",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "As an aside"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "RTE\u0027s can be added in asides like this one"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Of course you can add a summary here."
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "f77eb962-04ad-46d3-8f46-16d01e0df46e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "e1ea9039-71b3-4c0b-8f85-05fef2419d84",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "f65ea03d-c173-41a0-aff1-7530113bcc71",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "a1d1fa43-e301-403c-b6bd-47b542d6d903",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d074393e-4ee1-48f8-a2d8-7ccf9f7fa942",
              "mediaKey": "e8110340-373d-46d7-91e8-a7ff1b78394b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "2ede97b0-9580-41cc-a029-bf041790c209",
      "key": "43e7822d-4de6-40dd-87be-5b72533cb5be",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "2ede97b0-9580-41cc-a029-bf041790c209",
      "key": "b318ea81-7872-471c-a952-62f1788aa948",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "b2a2acf9-3879-4e07-acb2-4022ba2075ba",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "400"
        },
        {
          "alias": "layoutSettingsBackgroundImagePicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "aeaa3c7b-b86e-426b-86b1-6ee3059669a8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "16d8633a-a8b5-4c0b-a1c5-da3eefe78f0a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "d75feecc-aa23-4ec0-9cc6-5d27c5b25117",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsBackgroundImagePicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "ff110a59-f814-46e1-8af2-0b4f949e7b2d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "a62f37f9-cc65-4cea-b016-f015768e120a",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "1139fafd-c22e-4a42-ac82-23f405ddb47e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "ca7f7ef4-a334-4f3d-a985-1d48a149fd42",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "38f39e51-bf50-450c-a78e-68ecbaf9895c",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "117b8692-5ea4-4b7b-a46a-3c9c38d8f80a",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a688ba27-f5ef-4308-b45a-0f15c45b36cd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3372dfd3-6f3e-4f13-8353-e8f2325a7042",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8d47db43-feb9-4fe5-8463-774c9667c45f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3671af45-17f3-48c4-bf8e-30b00d1de598",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f77eb962-04ad-46d3-8f46-16d01e0df46e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e1ea9039-71b3-4c0b-8f85-05fef2419d84",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f65ea03d-c173-41a0-aff1-7530113bcc71",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a1d1fa43-e301-403c-b6bd-47b542d6d903",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "43e7822d-4de6-40dd-87be-5b72533cb5be",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b318ea81-7872-471c-a952-62f1788aa948",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e1ea9039-71b3-4c0b-8f85-05fef2419d84",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "a62f37f9-cc65-4cea-b016-f015768e120a",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "a1d1fa43-e301-403c-b6bd-47b542d6d903",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "ca7f7ef4-a334-4f3d-a985-1d48a149fd42",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "f77eb962-04ad-46d3-8f46-16d01e0df46e",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "d75feecc-aa23-4ec0-9cc6-5d27c5b25117",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "3372dfd3-6f3e-4f13-8353-e8f2325a7042",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "1139fafd-c22e-4a42-ac82-23f405ddb47e",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "8d47db43-feb9-4fe5-8463-774c9667c45f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "aeaa3c7b-b86e-426b-86b1-6ee3059669a8",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "b318ea81-7872-471c-a952-62f1788aa948",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "117b8692-5ea4-4b7b-a46a-3c9c38d8f80a",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "3671af45-17f3-48c4-bf8e-30b00d1de598",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "16d8633a-a8b5-4c0b-a1c5-da3eefe78f0a",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "a688ba27-f5ef-4308-b45a-0f15c45b36cd",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "b2a2acf9-3879-4e07-acb2-4022ba2075ba",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "43e7822d-4de6-40dd-87be-5b72533cb5be",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "38f39e51-bf50-450c-a78e-68ecbaf9895c",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "f65ea03d-c173-41a0-aff1-7530113bcc71",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "ff110a59-f814-46e1-8af2-0b4f949e7b2d",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Internal Links - Pagination]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "e07ba6c6-086b-4469-a115-8d13d05bcb2e",
    "mediaKey": "d328e5c1-f378-4277-8b7a-13c8074b2af5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Internal Links - Pagination]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Internal Links - Pagination]]></Value>
    </pageTitleShort>
  </Properties>
</Content>