<?xml version="1.0" encoding="utf-8"?>
<Content Key="24094670-d758-4dd4-9f01-3d98d215584d" Alias="Feature - Internal Links - Slideshow" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureInternalLinksSlideshow</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-08T20:05:42</CreateDate>
    <NodeName Default="Feature - Internal Links - Slideshow" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/00c54583e5e347d7a56ac0d4a24ae6ee",
      "values": []
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/1fbd61f3dd3c4fda860fe7be3df11967",
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/ea5308d3b139446c9f17d56858f60080",
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/58b55fe8189847358b796cfce18b95bc",
      "values": [],
      "featurePropertyFeatureTitle": "Introduction",
      "featurePropertyFeatureDescription": "The Feature - Internal Links - Slideshow can be added to most areas in both Block List and Block Grid",
      "richTextContent": "\u003Cp\u003EAn example of Feature - Internal Links - Slideshow is used on this page\u003C/p\u003E",
      "featurePropertyFeatureSummary": "This is an optional summary that can be added beneath any Feature "
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/2a0c6eb4570a433c8432d4681ea68c75",
      "values": [],
      "featurePropertyFeatureTitle": "As an aside",
      "featurePropertyFeatureDescription": "RTE\u0027s can be added in asides like this one",
      "richTextContent": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E",
      "featurePropertyFeatureSummary": "Of course you can add a summary here."
    },
    {
      "contentTypeKey": "05a27f33-b1d6-49b0-89fe-755829ae138c",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/ac4e5a8c78b7487e8c3b1610dda79fd4",
      "values": [],
      "featurePropertyFeatureTitle": "Feature - Internal Links - Slideshow",
      "featurePropertyFeatureDescription": "This uses Multi-node tree picker to choose pages to link to in a slideshow",
      "links": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2,umb://document/af8fb0fe0eb944feb49870ab76351d41,umb://document/0d1802258d8e4c65a59a9482e3f255c1"
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/5e68ab54eb9f41fb92af2b4b7692829b",
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/ee5444bfc9e045a2955843bc35aaa729",
      "values": []
    },
    {
      "contentTypeKey": "05a27f33-b1d6-49b0-89fe-755829ae138c",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/ac0a40426de444999388a95f3293e8b7",
      "values": [],
      "links": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2,umb://document/af8fb0fe0eb944feb49870ab76351d41,umb://document/0edabf5dd6774373a24a39b715ca4e32"
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/346d9b686d484a8cb443acf356863f43",
      "values": [],
      "image": "[\r\n  {\r\n    \u0022key\u0022: \u0022ea422bd7-9eea-48b5-8d42-7c23c0a8fabe\u0022,\r\n    \u0022mediaKey\u0022: \u00221eb7febc-eaa9-471b-b980-0c42419f9f41\u0022\r\n  }\r\n]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/541f43468c7042fa9a9cafbb73529644",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/d6ece671987a4881b5f1e538025786fc",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/c8f1185f5bba4d7a9eb8da8e3433e312",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/749c522805d64edaaa10b4c25a0cc203",
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/bf9458ea2be2464d95ea542baf21c525",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/9559f8d0f284457aa3b65d22ad8918c0",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/b780dabd0071490cbf46cc8921ff1907",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/6b4c944c0d424e529dda2f0aae6936a7",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/7d3e42edbb454e78af181621f7bcb041",
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/fa0f6c27a9314bf0ba6bba89e4c8faca",
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ee5444bf-c9e0-45a2-9558-43bc35aaa729",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9559f8d0-f284-457a-a3b6-5d22ad8918c0",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "346d9b68-6d48-4a8c-b443-acf356863f43",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "fa0f6c27-a931-4bf0-ba6b-ba89e4c8faca",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "5e68ab54-eb9f-41fb-92af-2b4b7692829b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "bf9458ea-2be2-464d-95ea-542baf21c525",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "ea5308d3-b139-446c-9f17-d56858f60080",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "b780dabd-0071-490c-bf46-cc8921ff1907",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "58b55fe8-1898-4735-8b79-6cfce18b95bc",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "d6ece671-987a-4881-b5f1-e538025786fc",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "ac0a4042-6de4-4499-9388-a95f3293e8b7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "6b4c944c-0d42-4e52-9dda-2f0aae6936a7",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "2a0c6eb4-570a-433c-8432-d4681ea68c75",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "c8f1185f-5bba-4d7a-9eb8-da8e3433e312",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "1fbd61f3-dd3c-4fda-860f-e7be3df11967",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "541f4346-8c70-42fa-9a9c-afbb73529644",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "ac4e5a8c-78b7-487e-8c3b-1610dda79fd4",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7d3e42ed-bb45-4e78-af18-1621f7bcb041",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "00c54583-e5e3-47d7-a56a-c0d4a24ae6ee",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "749c5228-05d6-4eda-aa10-b4c25a0cc203",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Internal Links - Slideshow]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "7380a629-3cf7-4359-b77e-47c65f8e3621",
    "mediaKey": "1eb7febc-eaa9-471b-b980-0c42419f9f41"
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Internal Links - Slideshow]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Internal Links - Slideshow]]></Value>
    </pageTitleShort>
  </Properties>
</Content>