<?xml version="1.0" encoding="utf-8"?>
<Content Key="608fe8a3-42a9-4cb1-9cdd-28733535b30d" Alias="Feature - Internal Links - Selected" Level="3">
  <Info>
    <Parent Key="fbb2a257-2f19-452d-b7ad-d31ab8fd0fa2">Features</Parent>
    <Path>/Home/Features/FeatureInternalLinksSelected</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2023-07-03T19:38:48</CreateDate>
    <NodeName Default="Feature - Internal Links - Selected" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "65aced8d-3c0a-4c66-b462-43e1724ccbdb",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "3db256d9-ff75-41a7-b5b4-f1fcaec92458",
      "key": "369a77cf-c5fc-4369-b992-bb039a7e77f1",
      "udi": null,
      "values": [
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/ad9f3bd8d01e4a7ba504f032a41ea22d,umb://document/316e9f9b81f543ba9cebe734864baa66,umb://document/a81c9e888487493eb8faa503f9d6aac2,umb://document/af8fb0fe0eb944feb49870ab76351d41"
        },
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Example Internal Links"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Allows the user to choose links"
        }
      ]
    },
    {
      "contentTypeKey": "f170b29c-338f-4ab8-a5c4-f72c90826f69",
      "key": "19dde93f-81de-4a3e-83de-b31ac5074a30",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "c345e5ce-768f-47e0-968a-e7859dbe0b07",
      "key": "233b6bf4-e193-4982-95bf-6fc1f1b3493d",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "1457cbd0-3af6-46ce-9416-8171cdc6fd5f",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Introduction"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "The Internal Links Selected can be added to most areas in both Block List and Block Grid"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere is some example text added to page so you can see how it looks.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is an optional summary that can be added beneath any Feature "
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "4db0ad2f-0e57-414b-aed0-068b17a170c1",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "As an aside"
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "RTE\u0027s can be added in asides like this one"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EHere we are showing what text looks like in an RTE in an aside.\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Of course you can add a summary here."
        }
      ]
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "66e783ed-22b6-4313-badb-90fadd80ccae",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "fbf5f06a-8448-46e7-8174-c4f1d4c01278",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "fe19a13e-04fe-4799-8b65-6637c56e8fc6",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9b421f76-e2e4-41bc-a3df-6ca264c5897e",
              "mediaKey": "07e61bb0-eacc-4171-8138-e9929b27d10d",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "925f370c-f44a-4942-b48c-9dc7442dc03f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "04602cff-ea3e-4e70-8797-b1c1a1bb119c",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "3f9c796e-3a70-4971-9db6-c3693486782f",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "5ed07f7f-fc6b-486b-9eac-3426506fe250",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "3b3053c5-aee1-4a90-b675-95b7694a16ee",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "9f2d7863-c56b-41c3-aa85-342c94602938",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "cc4ee99e-8de1-4f90-929c-16fa27d004e0",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "7d370c24-a982-4f79-9916-7e8a0eb09b74",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "573020cf-2793-4b99-b42b-fd06920cea19",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "65aced8d-3c0a-4c66-b462-43e1724ccbdb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "369a77cf-c5fc-4369-b992-bb039a7e77f1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "19dde93f-81de-4a3e-83de-b31ac5074a30",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "233b6bf4-e193-4982-95bf-6fc1f1b3493d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1457cbd0-3af6-46ce-9416-8171cdc6fd5f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4db0ad2f-0e57-414b-aed0-068b17a170c1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "66e783ed-22b6-4313-badb-90fadd80ccae",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fbf5f06a-8448-46e7-8174-c4f1d4c01278",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fe19a13e-04fe-4799-8b65-6637c56e8fc6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "fbf5f06a-8448-46e7-8174-c4f1d4c01278",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9f2d7863-c56b-41c3-aa85-342c94602938",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "fe19a13e-04fe-4799-8b65-6637c56e8fc6",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "573020cf-2793-4b99-b42b-fd06920cea19",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "66e783ed-22b6-4313-badb-90fadd80ccae",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "3b3053c5-aee1-4a90-b675-95b7694a16ee",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "233b6bf4-e193-4982-95bf-6fc1f1b3493d",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "cc4ee99e-8de1-4f90-929c-16fa27d004e0",
                "settingsUdi": null
              }
            ],
            "key": "0379bea9-eb06-4a48-8724-279db71aee0a"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "1457cbd0-3af6-46ce-9416-8171cdc6fd5f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "04602cff-ea3e-4e70-8797-b1c1a1bb119c",
                "settingsUdi": null
              }
            ],
            "key": "85d943d9-e90a-4e14-a3c0-99c1e37c9fb2"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 3,
                "contentKey": "4db0ad2f-0e57-414b-aed0-068b17a170c1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "3f9c796e-3a70-4971-9db6-c3693486782f",
                "settingsUdi": null
              }
            ],
            "key": "fb8f72c2-3d95-44c9-9006-36ac016a2b05"
          }
        ],
        "columnSpan": 12,
        "contentKey": "19dde93f-81de-4a3e-83de-b31ac5074a30",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "925f370c-f44a-4942-b48c-9dc7442dc03f",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "369a77cf-c5fc-4369-b992-bb039a7e77f1",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "7d370c24-a982-4f79-9916-7e8a0eb09b74",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "65aced8d-3c0a-4c66-b462-43e1724ccbdb",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "5ed07f7f-fc6b-486b-9eac-3426506fe250",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Feature - Internal Links - Selected]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "820f3e1f-d951-4149-9656-11d8d3d0618e",
    "mediaKey": "8dc79e9b-633b-4dd5-8f7f-d3737a8553aa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Feature - Internal Links - Selected]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Internal Links - Selected]]></Value>
    </pageTitleShort>
  </Properties>
</Content>