<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5b1563d-db6b-42bc-b4bf-950f33894ad2" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-06-02T16:21:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6e663519-fb4c-4cd9-b33b-f413f340658b">Home</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "498fd587-e7f9-4c07-9b43-f111d86afa27",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1e6ac523-7122-4994-9f51-7ca67065222a",
      "key": "0ed56b7f-ed06-446b-bd7a-10e5c7885bf7",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ba98d512-eaed-4844-9eee-441a8340c311",
      "key": "7553baae-3811-4e78-926a-1798288cbc4b",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "0708fc2f-92f1-4efc-a9d1-a755f66e6845",
      "key": "5fe54266-9770-4036-a6bb-f869d6299bad",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "3db256d9-ff75-41a7-b5b4-f1fcaec92458",
      "key": "c7840001-c7d0-4bec-9427-de27ee31ad2f",
      "udi": null,
      "values": [
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/79e683557f644d93a0c767da7d3efc58,umb://document/d90cea4b03c14f98aa7ece5219c3f318,umb://document/104327db31fe48ad84eaafff53fe7696"
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "0da82f34-7b16-426d-8776-d3fb4a7c151a",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Installation for Users"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EIt shows how to create common Bootstrap elements such as navbar, carousel, cards, forms, and more using C# Razor Umbraco code.\u003C/p\u003E\u003Cp\u003EYou can view the source code of each component and copy it to your own site\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022_blank\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022https://www.nuget.org/packages/Umbraco.Community.Templates.UmBootstrap\u0022 rel=\u0022noopener\u0022 class=\u0022btn btn-primary\u0022 title=\u0022https://www.nuget.org/packages/Umbraco.Community.Templates.UmBootstrap\u0022 type=\u0022external\u0022\u003EInstall this Project Template on Nuget\u003C/a\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Install a fully working Umbraco website in minutes via the command line or Visual Studio"
        },
        {
          "alias": "featurePropertyFeatureSummary",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "d5bfea49-0733-48ff-9ee0-d83c01a4cbf4",
      "key": "608ef1e2-cfa8-4f61-830f-1721ffe37b9b",
      "udi": null,
      "values": [
        {
          "alias": "featurePropertyFeatureTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Installation for Contributors"
        },
        {
          "alias": "richTextContent",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EWe welcome contributions to UmBootstrap, however \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022https://github.com/UmTemplates/UmBootstrap/blob/develop/CONTRIBUTING.md\u0022 type=\u0022external\u0022\u003E\u003Cu\u003EContributing to UmBootstrap\u003C/u\u003E\u003C/a\u003E requires a different process to installing UmBootstrap using the instructions intended for users.\u003C/p\u003E\u003Cp\u003E\u003Ca target=\u0022_blank\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022https://github.com/UmTemplates/UmBootstrap\u0022 rel=\u0022noopener\u0022 class=\u0022btn btn-secondary\u0022 title=\u0022https://github.com/UmTemplates/UmBootstrap\u0022 type=\u0022external\u0022\u003EContribute to this project on GitHub\u003C/a\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "featurePropertyFeatureDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Ideal for Rapid Application Development and testing out Umbraco packages"
        }
      ]
    },
    {
      "contentTypeKey": "dfab01ba-2429-4be9-a894-3c6c4c49df94",
      "key": "e24a1844-6a82-4071-a83b-75d1dfb66089",
      "udi": null,
      "values": [
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5b8b25b4-d5f8-423e-afdd-2688f9aada1c",
              "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "8290a661-6f84-4459-aef2-db884f061ad8",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsBackgroundImagePicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "layoutAreasColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "text-bg-success",
            "value": "#198754"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "5047de4b-df64-4025-949f-bbd7396f9bc4",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsBackgroundImagePicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0.5"
        },
        {
          "alias": "layoutAreasColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "57c7c2a5-de1c-4740-a5d2-8062970aa549",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsColourPicker",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "indigo",
            "value": "#6610f2"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6f8ca0cd-8bc9-4659-97cd-127df0c9da9d",
      "key": "c4190466-be6f-41e4-81c1-a15fb32a33e4",
      "udi": null,
      "values": [
        {
          "alias": "layoutSettingsColourShades",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "500"
        },
        {
          "alias": "layoutSettingsColourOpacity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "e6d32920-22e6-45c4-a1a2-7b8470e8ef00",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "9a88df1b-1d68-4d4c-8875-769badd2d742",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "e925610e-d741-4f15-be75-b3adb1ff4082",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "ec9f83f9-c543-431e-b3dd-807bcbf5f792",
      "key": "9d8884fc-781e-4596-b79a-b26d58db4f5a",
      "udi": null,
      "values": [
        {
          "alias": "featureSettingsHideDisplay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "498fd587-e7f9-4c07-9b43-f111d86afa27",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0ed56b7f-ed06-446b-bd7a-10e5c7885bf7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7553baae-3811-4e78-926a-1798288cbc4b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c37f59cb-801b-426e-ab56-252be0788201",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4c8a2145-628f-4507-83b5-d343bc6d6645",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5fe54266-9770-4036-a6bb-f869d6299bad",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c7840001-c7d0-4bec-9427-de27ee31ad2f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b6b85fd5-0045-451b-b354-637dc7e5e43a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0da82f34-7b16-426d-8776-d3fb4a7c151a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "608ef1e2-cfa8-4f61-830f-1721ffe37b9b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e24a1844-6a82-4071-a83b-75d1dfb66089",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "0ed56b7f-ed06-446b-bd7a-10e5c7885bf7",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "57c7c2a5-de1c-4740-a5d2-8062970aa549",
                "settingsUdi": null
              },
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "e24a1844-6a82-4071-a83b-75d1dfb66089",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9d8884fc-781e-4596-b79a-b26d58db4f5a",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "498fd587-e7f9-4c07-9b43-f111d86afa27",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "8290a661-6f84-4459-aef2-db884f061ad8",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 12,
                "contentKey": "c7840001-c7d0-4bec-9427-de27ee31ad2f",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e6d32920-22e6-45c4-a1a2-7b8470e8ef00",
                "settingsUdi": null
              }
            ],
            "key": "31bb56d4-1276-415e-8dab-ff61d8366304"
          }
        ],
        "columnSpan": 12,
        "contentKey": "5fe54266-9770-4036-a6bb-f869d6299bad",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "c4190466-be6f-41e4-81c1-a15fb32a33e4",
        "settingsUdi": null
      },
      {
        "areas": [
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "0da82f34-7b16-426d-8776-d3fb4a7c151a",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "9a88df1b-1d68-4d4c-8875-769badd2d742",
                "settingsUdi": null
              }
            ],
            "key": "bd7045ce-845c-4365-9bc7-f65b9a227995"
          },
          {
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "contentKey": "608ef1e2-cfa8-4f61-830f-1721ffe37b9b",
                "contentUdi": null,
                "rowSpan": 1,
                "settingsKey": "e925610e-d741-4f15-be75-b3adb1ff4082",
                "settingsUdi": null
              }
            ],
            "key": "4a99eb9e-eae1-4633-a247-1b33f095a52b"
          }
        ],
        "columnSpan": 12,
        "contentKey": "7553baae-3811-4e78-926a-1798288cbc4b",
        "contentUdi": null,
        "rowSpan": 1,
        "settingsKey": "5047de4b-df64-4025-949f-bbd7396f9bc4",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[UmBootstrap is an Umbraco Website Starter Kit using Bootstrap Templates and a comprehensive Component Library all available for you to use in your projects]]></Value>
    </pageDescription>
    <pageThumbnail>
      <Value><![CDATA[[
  {
    "key": "4110b763-a5f3-43f7-a70d-94f48d7a3c67",
    "mediaKey": "da3b0877-0904-4638-8e3b-e8b7661ec696",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[UmBootstrap]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Home]]></Value>
    </pageTitleShort>
  </Properties>
</Content>