<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="5a5800c5-d4d2-4b2c-b314-d17f3ca32439" Alias="imageResponsive" Level="2">
  <Info>
    <Name>Image - Responsive</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="cc07b313-0843-4aa8-bbda-871c8da728c8">Image</Parent>
    <Compositions>
      <Composition Key="cc07b313-0843-4aa8-bbda-871c8da728c8">Image</Composition>
      <Composition Key="2d9f452a-39f8-427f-90ed-06cbd3b536c1">mediaComponentImageMetadata</Composition>
      <Composition Key="4d0eaa8e-3f52-4133-ba9d-d62b0cce108a">mediaComponentMetadata</Composition>
    </Compositions>
  </Info>
  <GenericProperties />
  <Structure />
  <Tabs />
</MediaType>